﻿<table>
    <tr>
        <td>
            <div class="text" style="padding: 0 2.5em; text-align: center;">
                <h2>Cambio de contraseña</h2>
                <h3>Haga clic en el boton inferior para seguir los pasos para el cambio de su contraseña</h3>
                <p>
                    <a href="#" class="btn btn-primary">Cambiar</a>
                </p>
            </div>
        </td>
    </tr>
</table>