﻿@model QuickSal.Web.ViewModels.Reportes.ReportViewModel

    <form id="form-CustomerModal" action="CrearRPCustomer" method="post">
        <input type="text" value="Listado de facturas" name="NombreReporte" class="form-control" style="display:none">
        <input type="text" value="Ventas por Clientes" name="NombreDocumento" class="form-control" style="display:none">
        <input type="text" value="" name="TipoDocumento" class="form-control" style="display:none" id="tipoDocumento">
        <input type="text" value="@Model.businessId" name="businessId" class="form-control" style="display:none">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Inicial:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" name="Fechaini" class="form-control date">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Fin:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" name="FechaFin" class="form-control date">
                    </div>
                </div>
            </div>
        </div>
        
        <hr />
        <div style="display: flex; justify-content: flex-end">

            <button type="button" data-dismiss="modal" class="btn border-slate text-slate-800 btn-flat">
                <i class="icon-cross2 position-left"></i> Cancelar
            </button>
            <button type="button" class="btn border-slate text-slate-800 btn-flat Aceptar">
                <i class="icon-checkmark4 position-left"></i> Aceptar
            </button>

            <button type="button" class="btn btn-primary general" style="display:none" id="Generar">Generar</button>
        </div>

    </form>

@section scripts{

    <script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>
}
