﻿@model QuickSal.Web.ViewModels.Reportes.ReportViewModel



    <form id="form-CustomerModal" action="CrearRPCustomer" method="post">
        <input type="text" value="Listado Empleados" name="NombreReporte" class="form-control" style="display:none">
        <input type="text" value="Listado de Clientes" name="NombreDocumento" class="form-control" style="display:none">
        <input type="text" value="" name="TipoDocumento" class="form-control" style="display:none" id="tipoDocumento">
        <input type="text" value="@Model.businessId" name="businessId" class="form-control" style="display:none">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Empleado</label>
                    <select class="form-control select" name="codigo" data-productId>
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.employeeBusinessesList)
                        {
                            <option value="@item.EmployeeCode">@item.Name  @item.LastName : @item.EmployeeCode </option>
                        }
                    </select>
                </div>
            </div>

            @*<div class="col-md-6">
                <div class="form-group">
                    <label>Privilegio</label>
                    <select class="form-control" name="privileges" data-productId>
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.privilegesList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>*@
        </div>

        <hr />
        <div style="display: flex; justify-content: flex-end">

            <button type="button" data-dismiss="modal" class="btn border-slate text-slate-800 btn-flat">
                <i class="icon-cross2 position-left"></i> Cancelar
            </button>
            <button type="button" class="btn border-slate text-slate-800 btn-flat Aceptar">
                <i class="icon-checkmark4 position-left"></i> Aceptar
            </button>

            <button type="button" class="btn btn-primary general" style="display:none" id="Generar">Generar</button>
        </div>

    </form>
@section scripts{

    <script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>
}
