﻿@model QuickSal.Web.ViewModels.Reportes.ReportViewModel



<form id="form-CustomerModal" action="CrearRPCustomer" method="post">
    <input type="text" value="Reporte de Comprobantes" name="NombreReporte" class="form-control" style="display:none">
    <input type="text" value="Listado de Clientes" name="NombreDocumento" class="form-control" style="display:none">
    <input type="text" value="" name="TipoDocumento" class="form-control" style="display:none" id="tipoDocumento">
    <input type="text" value="@Model.businessId" name="businessId" class="form-control" style="display:none">


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tipos de Comprobantes:</label>
                <select class="form-control" name="nameId" data-productId>
                    <option selected value="">Seleccionar...</option>
                    @foreach (var item in Model.ncfPrefixesList)
                    {
                        <option value="@item.Id">@item.Prefix</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <footer>
        <button type="submit" class="btn btn-primary" style="display:none" id="Generar">Generar</button>
    </footer>

</form>
@section scripts{

    <script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>

}
