﻿@model QuickSal.Web.ViewModels.Reportes.ReportViewModel



    <form id="form-CustomerModal" action="CrearRPCustomer" method="post">
        <input type="text" value="Productos" name="NombreReporte" class="form-control" style="display:none">
        <input type="text" value="Listado de Productos" name="NombreDocumento" class="form-control" style="display:none">
        <input type="text" value="" name="TipoDocumento" class="form-control" style="display:none" id="tipoDocumento">
        <input type="text" value="@Model.businessId" name="businessId" class="form-control" style="display:none">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Productos:</label>
                    <select class="form-control" name="codigo" data-productId>
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.productsList)
                        {
                            <option value="@item.Code"> @item.Code : @item.Name </option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Estado:</label>
                    <select class="form-control" name="estado" data-Estado>
                        <option selected value="">Seleccionar...</option>
                        <option value=1> Activo</option>                        
                        <option value=0> Inactivo</option>                        
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Servicio:</label>
                    <select class="form-control" name="servicio" data-servicio>
                        <option selected value="">Seleccionar...</option>
                        <option value=1> Si</option>
                        <option value=0> No</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div style="display: flex; justify-content: flex-end">

            <button type="button" data-dismiss="modal" class="btn border-slate text-slate-800 btn-flat">
                <i class="icon-cross2 position-left"></i> Cancelar
            </button>
            <button type="button" class="btn border-slate text-slate-800 btn-flat Aceptar">
                <i class="icon-checkmark4 position-left"></i> Aceptar
            </button>

            <button type="button" class="btn btn-primary general" style="display:none" id="Generar">Generar</button>
        </div>

    </form>
@section scripts{

    <script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>

}
