﻿@model QuickSal.Web.ViewModels.Reportes.ReportViewModel



    <form id="form-CustomerModal" action="CrearRPCustomer" method="post">
        <input type="text" value="Compras" name="NombreReporte" class="form-control" style="display:none">
        <input type="text" value="Listado de Clientes" name="NombreDocumento" class="form-control" style="display:none">
        <input type="text" value="" name="TipoDocumento" class="form-control" style="display:none" id="tipoDocumento">
        <input type="text" value="@Model.businessId" name="businessId" class="form-control" style="display:none">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Inicial:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" class="form-control date" name="Fechaini">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Fin:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" name="FechaFin" class="form-control  date">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Suplidor:</label>
                    <select class="form-control" name="nameId" data-productId>
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.suppliersList)
                        {
                            <option value="@item.Id">@item.Names</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sucursal:</label>
                    <select class="form-control" name="branchOffice" data-productId>
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.branchOfficesList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Numero de Documento:</label>
                    <input type="text" name="documentNumber" class="form-control">
                </div>
            </div>

        </div>
        <footer>

            <button type="submit" class="btn btn-primary" style="display:none" id="Generar">Generar</button>
        </footer>

    </form>
@section scripts{

    <script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>

}
