﻿@model QuickSal.Web.ViewModels.Reportes.ReportViewModel



<form id="form-CustomerModal" action="CrearRPCustomer" method="post">
    <input type="text" value="Suplidores" name="NombreReporte" class="form-control" style="display:none">
    <input type="text" value="Listado de Suplidores" name="NombreDocumento" class="form-control" style="display:none">
    <input type="text" value="" name="TipoDocumento" class="form-control" style="display:none" id="tipoDocumento">
    <input type="text" value="@Model.businessId" name="businessId" class="form-control" style="display:none">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha Inicial:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                    <input type="text" name="FechaIni" class="form-control date">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha Fin:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                    <input type="text" name="FechaFin"  class="form-control date">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Suplidor:</label>
                <select class="form-control" name="nameId" data-productId>
                    <option selected value="">Seleccionar...</option>
                    @foreach (var item in Model.suppliersList)
                    {
                        <option value="@item.Id">@item.Names</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <footer>

        <button type="submit" class="btn btn-primary" style="display:none" id="Generar">Generar</button>
    </footer>

</form>
@section scripts{

    <script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>
}
