﻿@model QuickSal.Web.ViewModels.Customer.CustomerViewModel

@{
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<form id="frmCustomer" action="/" method="post">
    <fieldset>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre: <span class="text-danger">*</span></label>
                    <input type="text" name="Customer.Names" placeholder="Ingrese los nombres" class="form-control" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Código: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Customer.Code" placeholder="Eugene Kopyov" value="@ViewBag.CustomerCode">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Tipo documento: <span class="text-danger">*</span></label>
                <div class="form-group">
                    <select name="Customer.DocumentTypeId" class="form-control">
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.DocumentIdentifications)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Número de documento: <span class="text-danger">*</span></label>
                    <input type="text" name="Customer.DocumentNumber" placeholder="número documento" class="form-control" value="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo de pago:</label>
                    <div class="form-group">
                        <select name="Customer.CreditTypeId" class="form-control">
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CreditType)))
                            {
                                <option value="@(Convert.ToInt16(item))">@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CreditType)item)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label>Celular:</label>
                <div class="form-group">
                    <input class="form-control phone" placeholder="(888)-888-8888" name="Customer.Movil" value="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Teléfono #:</label>
                    <input type="text" name="Customer.PhoneNumber" placeholder="(888)-888-8888" class="form-control phone" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" placeholder="eugene@kopyov.com" class="form-control" value="" name="Customer.Email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>País:</label>
                    <select data-placeholder="Seleccionar un país" class="form-control" data-country id="Country" name="Customer.CountryId">
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.Countries)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Estado/Provincia:</label>
                    <select data-placeholder="Seleccionar un estado o provincia" class="form-control" data-province name="Customer.ProvinceId" id="ProvinceId">
                        @if (Model.Provinces != null)
                        {
                            <option selected value="">Seleccionar...</option>
                            foreach (var item in Model.Provinces)
                            {
                                <option value="@item.Id">@item.Description</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tipo Comprobante: </label>
                    <div class="form-group">
                        <select name="Customer.Ncfid" class="form-control">
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Model.Ncfprefixes)
                            {
                                <option value="@item.Id">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Limite crédito:</label>
                    <input type="text" class="form-control" name="Customer.CreditLimit" placeholder="Ingrese el sueldo" value="0">
                </div>
            </div>
            <div class="col-md-4">
                <label>% Descuento:</label>
                <div class="form-group">
                    <input type="text" class="form-control" name="Customer.Discount" value="0">
                </div>
            </div>
            <div class="col-md-4">
                <label>Balance pendiente: </label>
                <div class="form-group">
                    <input type="text" class="form-control" name="Customer.PendingBalance" value="0">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Dirección:</label>
                    <div class="form-group">
                        <textarea class="form-control" name="Customer.AddressCustomers" rows="5" cols="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Observación:</label>
                    <div class="form-group">
                        <textarea class="form-control" name="Customer.Obervation" rows="5" cols="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/Customer.js")></script>
}
