﻿@model QuickSal.Web.ViewModels.Customer.Invoice.SalesPoint.InvoiceViewModel

@foreach (var InvoiceItem in Model.invoiceItems)
{
    <tr data-id-product="@InvoiceItem.ProductId" data-tax="@InvoiceItem.Tax"
        data-measure="@InvoiceItem.MeaseureAbbreviation"
        data-price="@InvoiceItem.Price"
        data-tax-abbreviation="@InvoiceItem.TaxAbbreviation"
        data-warehouse="@InvoiceItem.WarehouseId"
        data-id="@InvoiceItem.InvoiceRowId"
        data-discount="@InvoiceItem.ItemDiscount">

        <td style="width:30%">
            <span id="name_1621021500852">@InvoiceItem.ProductName</span>
        </td>
        <td style="width:20%;text-align:center">
            <span class="text-right sprice">@InvoiceItem.Price.ToString("N2")</span>
        </td>
        <td style="width:10%;text-align:right">
            <input class="form-control input-qty kb-pad text-center itemQuantity" type="text" value="@InvoiceItem.ItemQuantity" style="width:50px">
        </td>
        <td style="width:10%;text-align:center">
            <span class="text-right ssubtotal">@((InvoiceItem.Price * InvoiceItem.ItemQuantity).ToString("N2"))</span>
        </td>
        <td style="width:7%;text-align:center">
            <i class="icon-trash tip pointer posdel" title="Remove"></i>
        </td>
    </tr>
}