﻿@model QuickSal.Web.ViewModels.Customer.Invoice.SalesPoint.InvoiceViewModel


@if (Model.GetProductsOnSale != null && Model.GetProductsOnSale.Count() > 0)
{
    @foreach (var item in Model.GetProductsOnSale)
    {
        <button type="button" data-name="Minion Banana" id="product-0102" value="TOY02" class="btn btn-both btn-flat product" data-id="@item.Id">
            <span class="bg-img">
                <img src="@item.Picture" alt="Minion Banana">
            </span>
            <h4>RD$ @item.Price.ToString("N2")</h4>
            <span class="title">@item.Name</span>
        </button>
    }
}
else
{
    <p class="info">
        No posee productos registrados
    </p>
}
