﻿
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/Dashboard/_PlainLayout.cshtml";
}


@*@<img src="~/Img/accesoDenegado.jpg" style="padding-top:10px" width="15%" />*@
    <div class="col-md-12" style="text-align:center">
        <img src="~/Img/quicksalLogo.png" style="padding-top:10px; padding-left:10px" width="15%" />
        </div>

        <div class="col-md-12" style="text-align:center">
            @*<img src="~/Img/quicksalLogo.png" alt="Alternate Text" width="50%" />*@
            <img src="~/Img/accesoDenegado.jpg" alt="Alternate Text" width="30%" style="padding-top:20px" />
        </div>

