﻿
@{
    ViewData["Title"] = "RecoverPassword";
    Layout = "~/Views/Shared/Dashboard/_PlainLayout.cshtml";
}

<div class="login-container">
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <form id="form-ChangePassword" class="login-form">
                    @Html.AntiForgeryToken()
                    <div class="panel panel-body">
                        <input type="hidden" name="KeyConfirmation" value="@ViewData["Key"]" />
                        <input type="hidden" name="RecoveryPassword" value="true" />
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group">
                                Ingrese a su cuenta
                                <small class="display-block">
                                    Tus credenciales
                                </small>
                            </h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <input type="password" class="form-control" id="login-password" placeholder="Contraseña" name="User.UserPassword" required="required">
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <input type="password" class="form-control" placeholder="Repetir contraseña" name="RepeatUserPassword" required="required">
                        </div>

                        <div class="form-group">
                            <button id="BtnChangePassword" type="button" class="btn bg-pink-400 btn-block">
                                Cambiar <i class="icon-arrow-right14 position-right">
                                </i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Account/UserAccount.js")></script>
}