﻿
@{
    ViewData["Title"] = "PasswordRecovery";
    Layout = "~/Views/Shared/Dashboard/_PlainLayout.cshtml";
}

<div class="login-container">
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Password recovery -->
                <form id="form-ForgoPassword" class="login-form">
                    @Html.AntiForgeryToken()
                    <div class="panel panel-body">
                        <div class="text-center">
                            <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                            <h5 class="content-group">
                                Recupera tu contraseña <small class="display-block">
                                    Le enviaremos instrucciones por correo electrónico
                                </small>
                            </h5>
                        </div>

                        <div class="form-group has-feedback">
                            <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div>
                            <input type="email" class="form-control" placeholder="Tu email" name="email" maxlength="100">
                        </div>

                        <button id="BtnRecoveryPassword" type="button" class="btn bg-teal-400 btn-block">
                            Cambiar contraseña
                            <i class="icon-arrow-right14 position-right"></i>
                        </button>
                    </div>
                </form>
                <!-- /password recovery -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Account/UserAccount.js")></script>

    <script>
        $(document).ready(function () {
            $('body').css({ 'background': "url(@ViewBag.UrlFormat) no-repeat", 'background-size': 'cover' });
        })
    </script>
}