﻿
@{
    ViewData["Title"] = "AccountConfirmation";
    Layout = "~/Views/Shared/Dashboard/_PlainLayout.cshtml";
}

<div class="page-container">

    <!-- Page content -->
    <div class="page-content">
        <div class="row" id="ConfirmationStatus" data-url="@Url.Action("DashboardPanel","Dashboard")">
            <div class="col-md-offset-4 col-md-4" style="margin-top:100px">
                <div class="col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                    <img src="~/Img/CheckConfirmation.png" class="img-responsive" style="height:200px;width:200px" />
                </div>

                <div class="alert bg-success alert-styled-right">
                    <strong>Tu correo ha sido confirmado correctamente, en 5 segundos te redireccionaremos a tu panel administrativo...</strong>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Account/UserAccount.js")></script>
}
