﻿@{
    ViewData["Title"] = "UserAccount";
    Layout = "~/Views/Shared/Dashboard/_PlainLayout.cshtml";
}

<!-- Page container -->
<div class="login-container">
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Tabbed form -->
                <div class="tabbable panel login-form width-400">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#basic-tab1" data-toggle="tab"><h6 class="text-semibold">Ingresar</h6></a></li>
                        <li><a href="#basic-tab2" data-toggle="tab"><h6 class="text-semibold">Crear cuenta</h6></a></li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane fade in active" id="basic-tab1">
                            <form id="form-User" method="post">
                                @Html.AntiForgeryToken()
                                <div class="text-center">
                                    <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                                    <h5 class="content-group">
                                        Ingrese a su cuenta
                                        <small class="display-block">
                                            Tus credenciales
                                        </small>
                                    </h5>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" name="User.Email" required="required" maxlength="100">
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Contraseña" name="User.UserPassword" required="required">
                                </div>

                                <div class="form-group login-options">
                                    <div class="row">
                                        <div class="col-sm-6">
                                        </div>

                                        <div class="col-sm-6 text-right">
                                            <a href="@Url.Action("PasswordRecovery")">
                                                Se te olvidó tu contraseña?
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-recaptcha" data-sitekey="@ViewBag.GoogleReCaptcha_site_Key " id="loginRecaptcha"  hidden></div>
                                <span class="error" id="mssRecaptchaLogin"></span>
                                <br />

                                <div class="form-group">
                                    <button id="BtnAceptarLogin" type="submit" class="btn bg-pink-400 btn-block">
                                        Entrar <i class="icon-arrow-right14 position-right">
                                        </i>
                                    </button>
                                </div>
                            </form>

                            <span class="help-block text-center no-margin">
                                Al continuar, confirma que ha leído nuestros
                                <a href="#">terminos y condiciones</a> y <a href="#">
                                    Política de cookies
                                </a>
                            </span>
                        </div>

                        <div class="tab-pane fade" id="basic-tab2">
                            <form id="form-Account" method="post">
                                @Html.AntiForgeryToken()
                                <div class="text-center">
                                    <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                                    <h5 class="content-group">
                                        Crear nueva cuenta
                                        <small class="display-block">Todos los campos son requeridos</small>
                                    </h5>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback has-feedback-left">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-check text-muted"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Nombre" name="User.Name" maxlength="100">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group has-feedback has-feedback-left">
                                            <div class="form-control-feedback">
                                                <i class="icon-user-check text-muted"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Apellido" name="User.LastName" maxlength="100">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <div class="form-control-feedback">
                                        <i class="icon-mention text-muted"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" name="User.Email" maxlength="100">
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Contraseña" id="login-password" name="User.UserPassword">
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Repetir Contraseña" name="RepeatUserPassword">
                                </div>
                                <div class="content-divider text-muted form-group"></div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="styled" name="TermAndCondition">
                                            Accepto los <a href="#">terminos del servicio</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="row" id="recaptchaDiv">
                                    <div class="g-recaptcha" data-sitekey="@ViewBag.GoogleReCaptcha_site_Key" name="recaptcha" id="recaptchaId"></div>
                                    <span class="error" id="mssRecaptcha"></span>
                                </div>
                              
                                <br />
                                <div id="html_element"></div>
                                <button id="BtnCreateUser" type="button" class="btn btn-success btn-block">
                                    Registrarte
                                    <i class="icon-circle-right2 position-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /tabbed form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
</div>

<!-- /page container -->

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Account/UserAccount.js")></script>

    <script>
        $(document).ready(function () {
            $('body').css({ 'background': "url(@ViewBag.UrlFormat) no-repeat", 'background-size': 'cover' });
        })
    </script>


    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript">
                            //    var onloadCallback = function () {
                            //        alert("grecaptcha is ready!");
                            //    };
                            //</script>

    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
}