﻿@model QuickSal.Web.ViewModels.Account.ProfileViewModel
@{
    ViewData["Title"] = "Mi perfil";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default sidebar-separate">
    <div class="sidebar-content">
        <!-- User details -->
        <div class="content-group">
            <div class="panel-body bg-indigo-400 border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
                <div class="content-group-sm">
                    <h6 class="text-semibold no-margin-bottom">
                        @(Model.User.Name + " " + Model.User.LastName)
                    </h6>
                </div>

                <a href="#" class="display-inline-block content-group-sm">
                    <img id="Picture-Account" src="@Model.UrlPhotoProfile" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                </a>
            </div>
            <form id="Picture-Profile" action="@Url.Action("SaveUploadedPicture", "Account")" method="post" enctype="multipart/form-data">
                <input style="visibility:hidden" type="file" id="PhotosUpload" name="files" />
            </form>
            <div class="caption text-center">
                <a href="#" class="btn bg-indigo-400" id="btnPhotoProfile">
                    Seleccionar foto
                    <i class="icon-camera"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /main sidebar -->
<!-- Main content -->
<div class="content-wrapper">
    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
            <!-- Profile info -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        Información del perfil
                    </h6>
                </div>

                <div class="panel-body">
                    <form id="form-Account" action="@Url.Action("UpdateUserData")">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombres:<span class="text-danger">*</span></label>
                                    <input type="text" value="@Model.User.Name" class="form-control" name="User.Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Apellidos:</label>
                                    <input type="text" value="@Model.User.LastName" class="form-control" name="User.LastName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Tipo documento<span class="text-danger">*</span></label>
                                    <select class="select" name="User.DocumentTypeId">
                                        <option value="" selected="selected">Seleccionar..</option>
                                        @foreach (var item in Model.DocumentIdentifications)
                                        {
                                            <option value="@item.Id" @(((item.Id == Model.User.DocumentTypeId) ? "selected" : ""))>@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Número documento<span class="text-danger">*</span></label>
                                    <input type="text" value="@Model.User.DocumentNumber" name="User.DocumentNumber" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label>Fecha de nacimiento: </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        <input type="text" class="form-control date" name="User.BirthDate" value="@(((Model.User.BirthDate==null)?DateTime.Now.Date:Model.User.BirthDate))">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>País</label>
                                    <select class="select" name="User.CountryId" id="Country" data-url="@Url.Action("GetAllProvince")">
                                        <option value="" selected="selected">Seleccionar..</option>
                                        @foreach (var item in Model.Countries)
                                        {
                                            <option value="@item.Id" @(((item.Id == Model.User.CountryId) ? "selected" : ""))>@item.Description</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Ciudad o provincia</label>
                                    <select id="ProvinceId" name="User.ProvinceId" class="form-control">
                                        @if (Model.User.ProvinceId.HasValue)
                                        {
                                            <option value="">Seleccionar..</option>
                                            @foreach (var item in Model.Provinces)
                                            {
                                                <option value="@item.Id" @(((item.Id == Model.User.ProvinceId) ? "selected" : ""))>@item.Description</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Teléfono:</label>
                                    <input type="text" value="@Model.User.Telephone" name="User.Telephone" class="form-control phone" placeholder="(888-888-8888)">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Celular:</label>
                                    <input type="text" value="@Model.User.CellPhone" name="User.CellPhone" class="form-control phone" placeholder="(888-888-8888)">
                                </div>
                                <div class="col-md-4">
                                    <label>Estado civil:</label>
                                    <div class="form-group">
                                        <select name="User.CivilStatus" class="form-control">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CivilStatus)))
                                            {
                                                <option value="@(Convert.ToInt16(item))" @((((Model.User != null && Model.User.CivilStatus.HasValue) && Model.User.CivilStatus.Value == Convert.ToInt16(item)) ? "Selected" : ""))>@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CivilStatus)item)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Genero:</label>
                                    <div class="form-group">
                                        <select name="User.Gender" class="form-control">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.Gender)))
                                            {
                                                <option value="@(Convert.ToInt16(item))" @((((Model.User != null && Model.User.Gender.HasValue) && Model.User.Gender.Value == Convert.ToInt16(item)) ? "Selected" : ""))>@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.Gender)item)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>                          
                           
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Dirección:</label>
                                    <textarea class="form-control" name="User.Direction">@Model.User.Direction</textarea>
                                </div>
                            </div>
                        </div>                      
                        <input type="hidden" name="User.Picture" id="picture" value="@Model.User.Picture" />
                    </form>
                </div>

                <div class="panel-footer">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                                <i class="icon-cross2 position-left"></i> Cancelar
                            </button>
                            <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                                <i class="icon-checkmark4 position-left"></i> Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
    <!-- /tab content -->
</div>
<!-- /main content -->

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Account/UserProfile.js")></script>
}