﻿@model QuickSal.Web.ViewModels.Accounting.TaxViewModel


<form id="form-tax-edit">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="@Model.Tax.Name" name="Tax.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Abreviatura: <span class="text-danger">*</span></label>
                <input type="text" value="@Model.Tax.Abbreviation" name="Tax.Abbreviation" maxlength="4" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Porcentaje: <span class="text-danger">*</span></label>
                <input type="number" value="@Model.Tax.Quantity" name="Tax.Quantity" maxlength="3" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Descripción:</label>
                <textarea type="text" cols="10" name="Tax.Description" class="form-control">@Model.Tax.Description</textarea>
            </div>
        </div>
    </div>
    <input type="hidden" name="Tax.Id" value="@Model.Tax.Id" />
</form>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Accounting/tax.js")></script>
}

