﻿@model QuickSal.Web.ViewModels.Accounting.TaxViewModel


<form id="form-tax">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="" name="Tax.Name" placeholder="Escriba su nombre" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Abreviatura: <span class="text-danger">*</span></label>
                <input type="text" value="" name="Tax.Abbreviation" placeholder="Ingrese la abreviatura" maxlength="4" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Porcentaje: <span class="text-danger">*</span></label>
                <input type="number" value="" name="Tax.Quantity" placeholder="Inserte el porcentaje" maxlength="3" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Descripción:</label>
                <textarea type="text" value="" cols="10" name="Tax.Description" placeholder="Ingrese su descripción"class="form-control"></textarea>
            </div>
        </div>
    </div>
</form>
   
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Accounting/tax.js")></script>
}

