﻿@model QuickSal.Web.ViewModels.Accounting.TaxViewModel

@{
    ViewData["Title"] = "Impuestos";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Impuestos</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Abreviatura</th>
                        <th>Nombre</th>
                        <th>Porcentaje</th>
                        <th>Descripción</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tax in Model.Taxes)
                    {
                        <tr>
                            <td>@tax.Abbreviation</td>
                            <td>@tax.Name</td>
                            <td>@tax.Quantity</td>
                            <td>@tax.Description</td>
                            @if (tax.Estatus)
                            {
                                <td>
                                    <span class="label label-success col-md-4">Activo</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger col-md-4">Inactivo</span>
                                </td>
                            }
                            <td class="text-center">
                                @if (tax.BusinessId.HasValue)
                                {
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a class="edit" href="#" data-id="@tax.Id">
                                                        <i class="icon-pencil6">
                                                        </i> Editar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-status="@((tax.Estatus) ? false : true)" data-id="@tax.Id" class="status">
                                                        <i class="@(((tax.Estatus)?"icon-blocked":"icon-undo"))">
                                                        </i> @(((tax.Estatus) ? "Desactivar" : "Activar"))
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="#" id="BtnCreate" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/accounting/tax.js")></script>
}
