﻿@model QuickSal.Web.ViewModels.Customer.Invoice.FormalInvoice.InvoiceFormalViewModel

@if (Model.customers != null && Model.customers.Count() > 0)
{
    <table class="datatable display" id="CustomerList">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Documento</th>
                <th>No.Documento</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Balance Pendiente</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model.customers)
            {
                <tr>
                    <td>@customer.Code</td>
                    <td>@customer.DocumentType.Name</td>
                    <td>@customer.DocumentNumber</td>
                    <td>@customer.Names</td>
                    <td>@customer.Email</td>
                    <td>@customer.PendingBalance.Value.ToString("N2")</td>
                    <td>
                        <a href="@Url.Action("InvoiceFormalCreate",new { CustomerId=customer.Id})" class="btn border-slate text-slate-800 btn-flat btn-sm btn-select">
                            <i class="icon-pointer"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<div class="text-center">
    <span class="alert-primary">No posee clientes registrados para realizar una factura de ventas</span>
</div>