﻿@model QuickSal.Web.ViewModels.Warehouse.WarehouseViewModel

@{
    ViewData["Title"] = "Editar almacén";
    Layout = null;
}


<form id="warehouse-update">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="@Model.Warehouse.Name" name="Warehouse.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Descripción: <span class="text-danger">*</span></label>
                <textarea type="text" class="form-control" name="Warehouse.Description">@Model.Warehouse.Description</textarea>
            </div>
        </div>
    </div>
    <input type="hidden" name="Warehouse.Id" value="@Model.Warehouse.Id" />
</form>



<!-- /main content -->


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Warehouse/warehouse.js")></script>
}

