﻿@model QuickSal.Web.ViewModels.Warehouse.WarehouseViewModel

@{
    ViewData["Title"] = "Almacenes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Almacenes</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Principal</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var warehouse in Model.Warehouses)
                    {
                    <tr>
                        <td>@warehouse.Name</td>
                        <td>@warehouse.Description</td>
                        @if (warehouse.Principal)
                        {
                            <td>
                                <span class="label label-success col-md-4">Si</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="label label-danger col-md-4">No</span>
                            </td>
                        }
                        @if (warehouse.Estatus)
                        {
                            <td>
                                <span class="label label-success">Activo</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="label label-danger">Inactivo</span>
                            </td>
                        }
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a class="edit" href="#" data-id="@warehouse.Id" >
                                                <i class="icon-pencil6">
                                                </i> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-status="@((warehouse.Estatus) ? false : true)" data-id="@warehouse.Id" class="status">
                                                <i class="@(((warehouse.Estatus)?"icon-blocked":"icon-undo"))">
                                                </i> @(((warehouse.Estatus) ? "Desactivar" : "Activar"))
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>

        </div>

    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a id="BtnCreate" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Warehouse/warehouse.js")></script>
}
