﻿@model QuickSal.Web.ViewModels.Warehouse.WarehouseViewModel

@{
    ViewData["Title"] = "Crear almacén";
    Layout = null;
}


<form id="form-warehouse">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="" name="Warehouse.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Descripción: <span class="text-danger">*</span></label>
                <textarea type="text" value="" class="form-control" name="Warehouse.Description"></textarea>
            </div>
        </div>
    </div>
</form>


@*<div class="panel-footer">
    <div class="col-md-12">
        <div class="pull-right">
            <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat back">
                <i class="icon-cross2 position-left"></i> Cancelar
            </button>
            <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                <i class="icon-checkmark4 position-left"></i> Aceptar
            </button>
        </div>
    </div>
</div>*@

<!-- /main content -->


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Warehouse/warehouse.js")></script>
}

