﻿@model QuickSal.Web.ViewModels.Purchase.PurchaseViewModel

<div class="row">
    <div class="col-md-3 form-group">
        <label>Almacén: <span class="text-danger">*</span></label>
        <select class="form-control" name="PurchaseOrder.WarehouseId" id="Almacen">
            <option value="">Seleccione una campo de lista</option>
            @foreach (var warehouse in Model.Warehouse.OrderBy(T => T.Name))
            {
                <option @(((warehouse.Principal) ? "selected" : "")) value="@warehouse.Id">@warehouse.Name</option>
            }
        </select>
    </div>
</div>

<table class="datatable display" id="ItemList" style="width:100%">
    <tbody>
        @if (Model.products.Count() > 0)
        {
            foreach (var Item in Model.products)
            {
                <tr>
                    <td>@Item.Code</td>
                    <td>@Item.Id</td>
                    <td>@Item.Name</td>
                    <td>@(Item.IsService ? "Si" : "No")</td>
                    <td>@((Item.Measure!=null? Item.Measure.Name:""))</td>
                    <td>@((Item.Tax!=null?Item.Tax.Abbreviation:""))</td>
                    <td>@Item.Cost.ToString("N2")</td>
                    <td>@Item.MeasureId</td>
                    <td>@((Item.Tax!=null? Item.Tax.Quantity:0))</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="styled">
                            </label>
                        </div>
                    </td>
                    <td>
                        <!--dinamic Td-->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.products.Count() > 0)
{
    <div class="text-center">
        <span class="alert-primary">Seleccione el o los productos que desea agregar a la <strong>Factura de compras</strong></span>
    </div>
}
else
{
    <div class="text-center">
        <span class="alert-info">No existen productos registrados</span>
    </div>
}