﻿@model QuickSal.Web.ViewModels.Purchase.PurchaseViewModel

<table class="datatable display" id="SuppliersList">
    <thead>
        <tr>
            <th>Código</th>
            <th>Documento</th>
            <th>No.Documento</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Balance Pendiente</th>
            <th>Opción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Suppliers != null && Model.Suppliers.Count() > 0)
        {
            foreach (var supplier in Model.Suppliers)
            {
                <tr>
                    <td>@supplier.Code</td>
                    <td>@supplier.DocumentType.Name</td>
                    <td>@supplier.DocumentNumber</td>
                    <td>@supplier.Names</td>
                    <td>@supplier.Email</td>
                    <td>@supplier.PendingBalance.Value.ToString("N2")</td>
                    <td>
                        <a href="@Url.Action("PurchaseOrderCreate",new { supplierId=supplier.Id})" class="btn border-slate text-slate-800 btn-flat btn-sm btn-select">
                            <i class="icon-pointer"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    <span class="alert-primary">Seleccione el proveedor para la <strong>Orden de compras</strong></span>
</div>