﻿
@model QuickSal.Web.ViewModels.DebitNote.DebitNoteVM
@{
    ViewData["Title"] = "Registro de Nota de Debito";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}


<div class="panel panel-flat">
    @*<div class="panel-heading">
            <h5 class="panel-title">
                Registro  Nota de Débito
                <a class="heading-elements-toggle">

                    <i class="icon-more"></i>
                </a>
            </h5>
        </div>*@



    <div class="panel-body">
        <div class="invoice overflow-auto">
            <form id="Edit-PurchaseOrder">
                <div style="min-width: 600px">
                    <main>
                        <div class="row contacts">
                            <div class="col-md-6 col-xs-6 invoice-to">
                                <div class="text-gray-light"> <strong>Factura de Nota de Debito a:</strong></div>
                                <h5 class="to">@Model.Supplierer.Code</h5>
                                <h2 class="to">@Model.Supplierer.Names.ToUpper()</h2>
                                <div class="address">@Model.Supplierer.AddressSuppliers</div>
                                <div class="address">Tel: @Model.Supplierer.PhoneNumber</div>
                                <div class="email"><a href="mailto:@Model.Supplierer.Email">@Model.Supplierer.Email</a></div>
                            </div>

                            <div class="col-md-6 col-xs-6 invoice-details">
                                <h2 class="invoice-id">
                                    Factura de compras:
                                    <i class="icon-cart-remove"></i>
                                    <label id="documentNumber"></label>
                                </h2>
                                <table align="right">
                                    <tr>
                                        <td>Fecha documento:</td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="date" value="@Model.PurchaseOrder.CreateDate.ToString("dd/MM/yyy")" id="DocumentDate" disabled>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fecha vencimiento:</td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="date" value="@Model.PurchaseOrder.ExpirationDate" id="ExpirationDate" disabled>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>NCF Modificado:</td>
                                        <td>
                                            <input type="text" class="thin-input fab-label-right" value="@Model.PurchaseOrder.Ncf" name="Ncfmodified" readonly>
                                        </td>
                                    </tr>
                                </table>
                                <div class="tab-pane active" id="left-icon-tab1">
                                    <div hidden>
                                        <div class="form-group">
                                            <input type="text" value="@Model.PurchaseOrder.Id" name="PurchaseOrderId" class="form-control">
                                            <input value="@Model.PurchaseOrder.BranchOfficeId" name="BranchOfficeId" />
                                            <input value="@Model.PurchaseOrder.SuppliersId" name="SuppliersId" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tabbable">

                            <div class="tab-content">
                                <div class="panel-primary">

                                    <div class="panel-body">
                                        <button type="button" id="BtnCreate" class="btn border-slate text-slate-800 btn-flat pull-left btn-icon callModal"><i class="icon-folder-plus"></i></button>

                                        <div class="col-lg-12 col-sm-12- col-md-12 col-xs-12">
                                            @* Esta es la tabla que hace referencia desde el javascipt*@
                                            <table id="PurchaseTable" class="display" style="width:100%"></table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="notices">
                                    <div>Observación:</div>
                                    <div class="notice">
                                        <textarea type="text" placeholder="Observación" id="Observation" rows="5" name="Observation" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <table class="tfooter">
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">SubTotal</td>
                                        <td id="mensaje">0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">Impuesto</td>
                                        <td id="Mensajetax">0.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">Descuento</td>
                                        <td id="descuentoTotal">0.00</td>
                                    </tr>
                                    <tr style="display:none">
                                        <td colspan="2"></td>
                                        <td colspan="2">
                                            <i class="icon-file-plus"></i> Crédito
                                        </td>
                                        <td>
                                            <i class="icon-minus2"></i>
                                            <span id="PendingBalanceTotal">0.00</span>
                                            <i class="icon-bin cursor" id="removePendigBalance"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td colspan="2">Total</td>
                                        <td id="MensajeTotal">0.00</td>
                                    </tr>
                                </table>
                                <div hidden>
                                    <input id="Subtotal" value="" name="SubTotal" />
                                    <input id="total" value="" name="Total" />
                                </div>
                            </div>
                        </div>
                    </main>
                </div>

            </form>
        </div>
    </div>

<div class="panel-footer">
    <div class="col-md-12">
        <div class="pull-right">
            <div class="col-md-6 col-xs-6">
                <a href="@Url.Action("ListDebitNote", "DebitNote")" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </a>
            </div>

            <div class="col-md-6 col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="icon-check position-left"></i> Aceptar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#" class="save" id="Enviar" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                <i class="icon-floppy-disk"></i> Guardar
                            </a>
                        </li>
                        <li>
                            <a href="#" class="save" id="Procesar" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                <i class="icon-checkmark4"></i> Registrar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/DebitNote/DebitNote.js")></script>
    <script src="~/Scripts/Dashboard/DebitNote/CreateScript.js"></script>
}

