﻿@model QuickSal.DataAcces.Models.DebitNoteRowVM
@{
    ViewData["Title"] = "EditDebitNoteRow";
    Layout = null;
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel-body">
    <div class="tabbable">

        <form id="Edit-PurchaseOrder">
            <div class="tab-content">
                <div class="tab-pane active" id="left-icon-tab1">

                    <div hidden>
                        <div class="form-group">
                            <input type="text" value="" id="index" class="form-control">
                            <input type="text" value="" id="AmountDiscount" class="form-control">
                            <input type="text" value="" id="AmountTax" class="form-control">
                            <input type="text" value="" id="Cost" class="form-control">
                            <input type="text" value="" id="AmountTax" class="form-control">
                            <input type="text" value="" id="Descuento" class="form-control">
                            <input type="text" value="" id="MeasureId" class="form-control">
                            <input type="text" value="" id="ProductId" class="form-control">
                            <input type="text" value="" id="WarehouseId" class="form-control">
                            <input type="text" value="" id="Warehouse" class="form-control">
                            <input type="text" value="" id="TaxAbbreviation" class="form-control">
                            <input type="text" value="" id="Tax" class="form-control">
                            <input type="text" value="" id="SubTotal" class="form-control">
                            <input type="text" value="" id="Accion" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Producto: </label>
                            <input class="form-control" type="text" value="" id="productName" readonly />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12- col-md-6 col-xs-12">
                        <label>Cantidad:</label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="" id="Cantidad">
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

