﻿@model QuickSal.Web.ViewModels.DebitNote.DebitNoteVM
@{
    ViewData["Title"] = "EditDebitNote";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel panel-flat row">
    <div class="panel-heading">
        <h5 class="panel-title ">
            Editar Nota de Debito
            <a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
        <div>
            @if (Model.DebitNotes.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
            {
                <span class="label label-success estado" value="@Model.DebitNotes.DocumentEstatusId">Aprobada</span>
            }
            else if (Model.DebitNotes.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
            {
                <span class="label label-info estado" value="@Model.DebitNotes.DocumentEstatusId">En Proceso</span>
            }
            else if (Model.DebitNotes.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
            {
                <span class="label label-danger estado" value="@Model.DebitNotes.DocumentEstatusId">Anulada</span>
            }


        </div>
    </div>

    <div class="panel-body ">
        <div class="invoice  tabbable">
            <form id="Edit-DebitNote">
                <main>
                    <div hidden>
                        <input type="text" value="@Model.DebitNotes.PurchaseOrderId" name="PurchaseOrderId" class="form-control" />
                    </div>
                    <div class="row contacts">
                        <div class="col-md-6 col-xs-6 invoice-to">
                            <div class="text-gray-light"> <strong>Factura de Nota de Debito a:</strong></div>
                            <h5 class="to">@Model.Supplierer.Code</h5>
                            <h2 class="to">@Model.Supplierer.Names.ToUpper()</h2>
                            <div class="address">@Model.Supplierer.AddressSuppliers</div>
                            <div class="address">Tel: @Model.Supplierer.PhoneNumber</div>
                            <div class="email"><a href="mailto:@Model.Supplierer.Email">@Model.Supplierer.Email</a></div>
                        </div>

                        <div class="col-md-6 col-xs-6 invoice-details">
                            <h2 class="invoice-id">
                                Factura de Debito:
                                <i class="icon-cart-remove"></i>
                                <label id="documentNumber">@Model.DebitNotes.DocumentNumber</label>
                            </h2>
                            <table align="right">
                                <tr>
                                    <td>Fecha:</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="date" value="@Model.DebitNotes.CreateDate.ToString("dd/MM/yyy")" id="DocumentDate" disabled>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>No. Orden:</td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" value="@ViewBag.PurchaseOrders" id="ExpirationDate" disabled>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NCF Modificado:</td>
                                    <td>
                                        <input type="text" class="thin-input fab-label-right" value="@Model.DebitNotes.Ncf" readonly>

                                    </td>
                                </tr>
                                <tr>
                                    <td>NCF Modificado:</td>
                                    <td>
                                        <input type="text" class="thin-input fab-label-right" value="@Model.DebitNotes.Ncfmodified" readonly>
                                    </td>
                                </tr>
                            </table>
                            <div class="tab-pane active" id="left-icon-tab1">
                                <div hidden>
                                    <div class="form-group">
                                        <input type="text" value="@Model.DebitNotes.Id" name="PurchaseOrderId" class="form-control">
                                        <input value="@Model.DebitNotes.BranchOfficeId" name="BranchOfficeId" />
                                        <input value="@Model.DebitNotes.SuppliersId" name="SuppliersId" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        @if (Model.DebitNotes.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                        {<div style="padding-top:50px; padding-left:10px">
                                <button type="button" id="BtnCreate" class="btn border-slate text-slate-800 btn-flat pull-left btn-icon callModal"><i class="icon-folder-plus"></i></button>
                            </div>
                        }
                    </div>
                    <div class="tab-content">
                        <div hidden>
                            <div class="form-group">
                                <input type="text" value="@Model.DebitNotes.Id" name="DebitNoteId" class="form-control" id="DebitNoteId">
                                <input type="text" value="@Model.DebitNotes.Id" name="Id" class="form-control" id="DebitNoteId">
                            </div>
                        </div>
                        <div class="panel-primary">
                            <div class="panel-body">

                                <div col-lg-12 col-sm-12- col-md-12 col-xs-12>
                                    <!--Esta es la tabla que hace referencia desde el javascipt-->
                                    <table id="DebitNoteTable" class="display" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr />

                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="notices">
                                        <div>Observación:</div>
                                        <div class="notice">
                                            <textarea type="text" placeholder="Observación" id="Observation" rows="5" name="Observation" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <table class="tfooter">
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">SubTotal</td>
                                            <td id="mensaje">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Impuesto</td>
                                            <td id="Mensajetax">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Descuento</td>
                                            <td id="descuentoTotal">0.00</td>
                                        </tr>
                                        <tr style="display:none">
                                            <td colspan="2"></td>
                                            <td colspan="2">
                                                <i class="icon-file-plus"></i> Crédito
                                            </td>
                                            <td>
                                                <i class="icon-minus2"></i>
                                                <span id="PendingBalanceTotal">0.00</span>
                                                <i class="icon-bin cursor" id="removePendigBalance"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Total</td>
                                            <td id="MensajeTotal">0.00</td>
                                        </tr>
                                    </table>
                                    <div hidden>
                                        <input id="Subtotal" value="" name="SubTotal" />
                                        <input id="total" value="" name="Total" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center;">
                            <table class="table" style="margin: 20px auto;" id="editRow">
                                <thead>
                                    <tr>
                                        <th style="text-align: right">
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </main>
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("ListDebitNote", "DebitNote")" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                        <i class="icon-cross2 position-left"></i> Cancelar
                    </a>
                </div>
                @if (Model.DebitNotes.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                {
                    <div class="col-md-6 col-xs-6">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="icon-check position-left"></i> Aceptar
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="#" class="Enviar" id="Enviar" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                        <i class="icon-floppy-disk"></i> Guardar
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="save" id="Procesar" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                        <i class="icon-checkmark4"></i> Registrar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/DebitNote/EditScript.js")></script>

}
