﻿@model QuickSal.Web.ViewModels.DebitNote.DebitNoteVM
@{
    ViewData["Title"] = "EditDebitNote";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel panel-flat row">
    <div class="panel-heading">
        <h5 class="panel-title ">
            Editar Nota de Debito
            <a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
        <div>
            @if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
            {
                <span class="label label-success">Aprobada</span>
            }
            else if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
            {
                <span class="label label-info">Proceso</span>
            }
            else if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
            {
                <span class="label label-danger">Anulada</span>
            }

        </div>
    </div>
    <div class="panel-body ">
        <div class="tabbable">
            <form id="Edit-PurchaseOrder">
                <div class="tab-content">
                    <div hidden>
                        <div class="form-group">
                            <input type="text" value="@Model.PurchaseOrder.Id" name="PurchaseOrder.Id" class="form-control">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label><strong>@Model.TblBusiness.Name</strong></label>
                        </div>
                        <div>
                            <label>@Model.TblBusiness.Description</label>
                        </div>
                        <div>
                            <label>@Model.TblBusiness.Description</label>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class=" col-md-offset-8 col-md-3">
                            <div class=" col-md-offset-9">
                                <label><strong>No. Documento</strong></label>
                            </div>
                            <div class=" col-md-offset-9">
                                <label> <strong>Fecha</strong></label>
                            </div>
                            <div class=" col-md-offset-9">
                                <label> <strong>No. Orden</strong></label>
                            </div>
                            <div class=" col-md-offset-9">
                                <label><strong>NFC Nodifica</strong></label>
                            </div>
                            <div class=" col-md-offset-9">
                                <label><strong>NFC Nodifica</strong></label>
                            </div>
                        </div>
                        <div class="form-group col-md-offset-5 ">
                            <div class="col-md-offset-10">
                                <label>@Model.PurchaseOrder.DocumentNumber</label>
                            </div>
                            <div class="col-md-offset-10">
                                <label>@Model.PurchaseOrder.CreateDate.ToString("dd/MM/yyy")</label>
                            </div>
                            <div class=" col-md-offset-10">
                                <label>@Model.PurchaseOrder.Id</label>
                            </div>
                            <div class=" col-md-offset-10">

                                <label>@Model.PurchaseOrder.Ncf</label>
                            </div>
                            <div class=" col-md-offset-10">
                                <label>@Model.PurchaseOrder.Ncf</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body">

                            <div col-lg-12 col-sm-12- col-md-12 col-xs-12>
                                <!--Esta es la tabla que hace referencia desde el javascipt-->
                                <table id="PurchaseTable" class="display" style="width:100%"></table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-offset-0 ">
                        <div class="form-group">
                            <label>Observacion</label>
                        </div>
                        <textarea></textarea>
                    </div>
                    <div class=" col-md-offset-7 col-md-4">
                        <div class=" col-md-offset-9">
                            <label><strong>Sub-Total Orden: RD$</strong></label>
                        </div>
                        <div class=" col-md-offset-9">
                            <label><strong>Total Descuento: RD$</strong></label>
                        </div>
                        <div class=" col-md-offset-9 ">
                            <label><strong>Total Impuesto: RD$ </strong></label>
                        </div>
                        <div class=" col-md-offset-9">
                            <label><strong>Total Orden: RD$    </strong></label>
                        </div>
                    </div>
                    <div class="form-group col-md-offset-6 ">
                        <div class=" col-md-offset-10">
                            <label id="mensaje">@Model.PurchaseOrder.SubTotal.ToString("N2")</label>
                        </div>
                        <div class=" col-md-offset-10">
                            <labe id="MensajeDescuento">@Model.PurchaseOrder.Discount.ToString("N2")</labe>
                        </div>
                        <div class=" col-md-offset-10">
                            <labe id="Mensajetax">@Model.PurchaseOrder.TotalTax.ToString("N2")</labe>
                        </div>
                        <div class=" col-md-offset-10">

                            <label id="MensajeTotal">@Model.PurchaseOrder.Total.ToString("N2")</label>
                        </div>
                    </div>
                    <input id="mensajesubtotal" name="PurchaseOrder.SubTotal" value="@Model.PurchaseOrder.SubTotal" hidden /><br />
                    <input id="Descuentototal" name="PurchaseOrder.Discount" value="@Model.PurchaseOrder.Discount" hidden><br />
                    <input id="taxtotal" name="PurchaseOrder.TotalTax" value="@Model.PurchaseOrder.TotalTax" hidden /><br />
                    <input id="Totaltotal" name="PurchaseOrder.Total" value="@Model.PurchaseOrder.Total" hidden /><br />
                </div>
                <div style="text-align:center;">
                    <table class="table" style="margin: 20px auto;">
                        <thead>
                            <tr>
                                <th style="text-align: right">
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="@Url.Action("GetDebitNote", "DebitNote")" class="btn btn-danger">
                    <i class="icon-cross2 position-left"></i>
                    <span>Cancelar</span>
                </a>

                @if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                {
                    <div class="btn-group dropup">
                        <button type="button" class="btn  btn-primary"><b><i class="icon-cog5 position-left"></i></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Acción</font></font></button>
                        <button type="button" class="btn bg-create dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <button id="Enviar" class="btn border-slate text-slate-800 btn-flat pull-center col-md-12" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                    <i class="icon-checkmark4 position-left"> Guardar  Orden  </i>
                                </button>
                            </li>
                            <li>
                                <button id="Procesar" class="btn border-slate text-slate-800 btn-flat pull-center col-md-12" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                    <i class="icon-checkmark4 position-left"> Procesar  Orden  </i>
                                </button>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/DebitNote/DebitNote.js")></script>

}
