﻿@model QuickSal.Web.ViewModels.Purchase.PurchaseViewModel

@{
    ViewData["Title"] = "Orden de Compra";
    Layout = null;
    QuickSal.Web.Api.GenericController genericMethod = new QuickSal.Web.Api.GenericController();

}


<table class="datatable display" id="tableList">
    <thead>
        <tr>
            <th>No. Documento</th>
            <th>Proveedor</th>
            <th>NCF</th>
            <th>Impuesto</th>
            <th>Total</th>
            <th>Estatus</th>
            <th class="text-center">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var purcha in Model.PurchaseOrders)
        {
            <tr>
                <td>@purcha.DocumentNumber</td>

                <td>@purcha.Suplidor</td>
                <td>@purcha.Ncf</td>
                <td>@purcha.TotalTax.ToString("N2")</td>
                <td>@purcha.Total.ToString("N2")</td>
                @if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                {
                    <td>
                        <span class="label label-success">Aprobada</span>
                    </td>
                }
                else if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                {
                    <td>
                        <span class="label label-primary col-md-4">En Proceso</span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="label label-danger col-md-4">Anulada</span>
                    </td>

                }
                <td class="text-center">
                    @if (purcha.Id != 0)
                    {
                        @if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                        {


                            <a type="button" class="btn border-slate text-slate-800 btn-flat" href="@Url.Action("CreateDebitNote",new {Id=purcha.Id })">
                                <i class="icon-pointer"></i>
                            </a>

                        }

                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PurchaseOrders.Count() > 0)
{
    <div class="text-center">
        <span class="alert-primary">Seleccione la Factura que desea agregar a la <strong>Nota de Debito</strong></span>
    </div>
}
else
{
    <div class="text-center">
        <span class="alert-info">No existen facturas registradas</span>
    </div>
}


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/DebitNote/DebitNote.js")></script>

}
