﻿@model QuickSal.DataAcces.Models.DebitNote

@{
    ViewData["Title"] = "Nota de Debito";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
    QuickSal.Web.Api.GenericController genericMethod = new QuickSal.Web.Api.GenericController();

}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Nota de Débito</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="datatable display">
                <thead>
                    <tr>
                        <th>No. Documento</th>
                        <th>Proveedor</th>
                        <th>NCF</th>
                        <th>NCF Mod. </th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Debito in Model.DebitNotes)
                    {
                        <tr>
                            <td>@Debito.DocumentNumber</td>
                            <td>@Debito.SupplierName</td>
                            <td>@Debito.Ncf</td>
                            <td>@Debito.Ncfmodified</td>
                            <td>@Debito.CreateDate.ToShortDateString()</td>
                            <td>@Debito.Total.ToString("N2")</td>
                            @if (Debito.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                            {
                                <td>
                                    <span class="label label-success col-lg-8">Aprobada</span>
                                </td>
                            }
                            else if (Debito.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                            {
                                <td>
                                    <span class="label label-primary col-lg-8">En Proceso</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger col-lg-8">Anulada</span>
                                </td>

                            }
                            <td class="text-center">
                                @if (Debito.Id != 0)
                                {
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                @if (Debito.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("EditDebitNote",new {Id=Debito.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@Debito.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)">
                                                            <i class="icon-x">
                                                            </i> Anular
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@Debito.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                                            <i class="icon-cog2">
                                                            </i> Procesar
                                                        </a>
                                                    </li>
                                                }
                                                @if (Debito.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("EditDebitNote",new {Id=Debito.Id })">
                                                            <i class="icon-eye">
                                                            </i> Ver
                                                        </a>
                                                    </li>
                                                }
                                                @if (Debito.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("EditDebitNote",new {Id=Debito.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button"  class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button class="btn border-slate text-slate-800 btn-flat ordenCompra">
                    <i class="icon-plus3 position-left"></i> Nueva
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/DebitNote/DebitNote.js")></script>
}
