﻿
@{
    ViewData["Title"] = "Listado de orden de compra";
}



<div col-lg-12 col-sm-12- col-md-12 col-xs-12>
    <!--Esta es la tabla que hace referencia desde el javascipt-->
    <table class="datatable display ItemList" id="ModalPurchaseTable" style="width:100%"></table>
</div>




    <div class="text-center">
        <span class="alert-primary">Seleccione el o los productos que desea agregar a la <strong>Nota de Debito</strong></span>
    </div>



@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/DebitNote/CreateScript.js")></script>

}


