﻿@model QuickSal.Web.ViewModels.Dashboard.PanelViewModel

@if (Model.Objects != null)
{
    var objectHeader = Model.Objects.GroupBy(x => x.ObjectDescription);
    <!--Panel para las opciones-->
    <!-- Main sidebar -->
    <div class="sidebar sidebar-main sidebar-default sidebar-fixed">
        <div class="sidebar-content">
            <!-- User menu -->
            <div class="sidebar-user-material">
                <div class="category-content">
                    @if (Model.User != null)
                    {
                        <div class="sidebar-user-material-content">
                            <a href="#">
                                @if (!string.IsNullOrEmpty(Model.User.Picture))
                                {
                                    <img src="@Model.User.Name" class="img-circle img-responsive" alt="">
                                }
                            </a>

                            @if (!string.IsNullOrEmpty(Model.User.Name))
                            {
                                <h6>@Model.User.Name</h6>
                                <span class="text-size-small">Santa Ana, CA</span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="sidebar-user-material-content">
                            <a href="#">
                                <img src="https://jeturing.s3.amazonaws.com/Img/DefaultUser.png" class="img-circle img-responsive" alt="">
                            </a>
                        </div>
                    }

                    <div class="sidebar-user-material-menu">
                        <a href="#user-nav" data-toggle="collapse"><span>Mi Cuenta</span> <i class="caret"></i></a>
                    </div>
                </div>

                <div class="navigation-wrapper collapse" id="user-nav">
                    <ul class="navigation">
                        <li><a href="@Url.Action("UserProfile","Account")"><i class="icon-user-plus"></i> <span>Mi Perfil</span></a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout","Account")"><i class="icon-switch2"></i> <span>Salir</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /user menu -->
            <!-- Main navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">

                        <!-- Main -->
                        <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                        <li>
                            <a href="@Url.Action("DashboardPanel","Dashboard")">
                                <i class="icon-home4"></i> <span>Dashboard</span>
                            </a>
                        </li>

                        @foreach (var objectsBusinesses in objectHeader)
                        {
                        <li>

                            @{
                                var subObjects = Model.Objects.Where(x => x.ObjectDescription == objectsBusinesses.Key);
                            }
                            <a href="#"><i class="@subObjects.Select(x=>x.Ico).FirstOrDefault()"></i> <span>@objectsBusinesses.Key</span></a>

                            <ul>
                                @foreach (var subObject in subObjects)
                                {
                                    <li>
                                        <a href="@Url.Action(subObject.Method,subObject.Controller,new {id=subObject.SubObjectId })">
                                            <i class="@subObject.Ico"></i>
                                            @subObject.SubObjectDescription
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        }
                        <li>
                            <a href="#"><i class="icon-stack2"></i> <span>Reportes</span></a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("ReportIndex","Report",new {name="CustomerReportIndex" })">
                                        <i class="icon-user"></i>
                                        Clientes
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /main navigation -->

        </div>
    </div>
}

