﻿@model QuickSal.DataAcces.Procedure.PrGetMovingWareDetails

<form id="form-EditProduct">
    <input value="@Model.Id" name="Id" hidden />
    <input value="@Model.State" name="State" hidden />
    <input value="@Model.StateHouse" id="stateMoving" name="State" hidden />
    <input value="@Model.SenderWarehouseId" id="stateMoving" name="SenderWarehouseId" hidden />


    <input type="text" value="@Model.Product" name="Product" id="nameProduct" hidden />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Producto: <span class="text-danger">*</span></label>
                <select id="producto" class="form-control" name="ProductId" disabled data-productId >
                    <option selected value="">Seleccionar...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Disponible: <span class="text-danger">*</span></label>
                <input type="text" id="disponible" value="@Model.Disponible" name="Disponible" class="form-control" readonly="readonly">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Cantidad:</label>
                <input type="text" value="@Model.Amount" name="Amount" class="form-control" id="amount" readonly="readonly">
            </div>
        </div>
    </div>  <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Comentario:</label>
                <input type="text" value="@Model.Description" name="Description" class="form-control" id="description">
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src="~/Scripts/Dashboard/MovingWareHouses/DatetailsMoving.js"></script>
}