﻿@model QuickSal.Web.ViewModels.Warehouse.MovingWareVM

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}


<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Movimiento Almacen</h5>
    </div>
    <div class="panel-body">
        <form>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Desde:<span class="text-danger">*</span></label>
                            <div class="form-group">
                                <select id="warehouse" class="selected form-control" name="MovingWarehouse.SenderWarehouseId" data-wareHouse>
                                    <option selected value="">Seleccionar...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Hacia:<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <select id="allWarehouse" class="form-control" name="MovingWarehouse.ReceiverWarehouseId" data-allWareHouse>
                                <option selected value="">Seleccionar...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Producto:<span class="text-danger">*</span></label>
                        <div class="form-group">
                            <select id="producto" class="form-control" data-product>
                                <option selected value="">Seleccionar...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Disponible: <span class="text-danger">*</span></label>
                            <input type="text" id="disponible" disabled placeholder="0.00" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Cantidad: <span class="text-danger">*</span></label>
                            <input type="number" id="cantidad" placeholder="0.00" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Descripción: <span class="text-danger">*</span></label>
                            <input type="text" id="descripcion" placeholder="Descripcion del producto" name="MovingWarehouse.Description" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="agregarProducto" class="btn border-slate text-slate-800 btn-flat pull-right">
                            <i class="icon-plus2 position-right"></i> Agregar producto
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <br />
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="TableMoving" class="display responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Filas dinamicas-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat back btnCancelar">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <div class="btn-group">
                    <button type="button" class="btn bg-teal-400 btn-labeled dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><b><i class="icon-menu7"></i></b> Accion <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <button data-id="Enviar"  id="Enviar" class="btn border-slate text-slate-800 btn-flat pull-center col-md-12">
                                    <i class="icon-plus2 position-right"></i> Realizar Envio
                                </button>
                            </li>                       
                        <li>
                            <button data-id="Procesar"  type="button" id="Procesar" class="btn border-slate text-slate-800 btn-flat pull-center col-md-12">
                                <i class="icon-plus2 position-right"></i> En Proceso
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/ProcessWareHouse.js")></script>
}