﻿@model QuickSal.Web.ViewModels.Warehouse.MovingWareVM

@{
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();

    var sender = ViewBag.Sender;
    ViewData["Title"] = "Modificar sucursal";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<!-- /main content -->

<input value="@ViewBag.Sender" id="senderValue" hidden />

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Movimiento Almacen  (@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.MovingStatus)Model.MovingWarehouse.State)))</h5>
    </div>
    <div class="panel-body">
        <form id="Edit-moving" action="#">
            <input name="MovingWarehouse.Id" value="@Model.MovingWarehouse.Id" id="movingId" hidden />
            <input name="MovingWarehouse.State" value="@Model.MovingWarehouse.State" id="stateMoving" data-id="1" hidden />
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Documento: </label>
                            <input type="text" value="@Model.MovingWarehouse.DocumentNo" id="documentNo" name="MovingWarehouse.DocumentNo" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Creado:</label>
                        <div class="form-group">
                            <input value="@Model.MovingWarehouse.CreateDate.ToString("dd/MM/yyyy")" id="creado" name="MovingWarehouse.CreateDate" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Modificado: </label>
                            <input id="modificado" placeholder="Modificado" value="@Model.MovingWarehouse.ModifyDate.ToString("dd/MM/yyyy")" name="MovingWarehouse.ModifyDate" class="form-control" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Enviado Desde:</label>
                            <div class="form-group">
                                <select class="form-control" id="sender" name="MovingWarehouse.SenderWarehouseId" data-wareHouses disabled>
                                    <option selected value="">Seleccionar...</option>
                                    @foreach (var item in Model.Warehouses)
                                    {
                                        <option value="@item.Id" @(((Model.MovingWarehouse.SenderWarehouseId == item.Id) ? "selected" : "")) name="MovingWarehouse.SenderWarehouseId">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Enviado Hacia:</label>
                        <div class="form-group">
                            <select id="receiver"  class="form-control" name="MovingWarehouse.ReceiverWarehouseId" disabled>
                                <option selected value="">Seleccionar...</option>
                                @foreach (var item in Model.Warehouses)
                                {
                                    <option name="MovingWarehouse.ReceiverWarehouseId" value="@item.Id" @(((Model.MovingWarehouse.ReceiverWarehouseId == item.Id) ? "selected" : ""))>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label><span>Comentario:</span></label>
                        <div class="form-group">
                            <textarea id="comentario" type="text" class="form-control" name="MovingWarehouse.Description" readonly="readonly">@Model.MovingWarehouse.Description</textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <br />
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="PriceTable" class="display" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn btn-default border-slate text-slate-800 btn-flat back btnCancelar">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                @if (Model.MovingWarehouse.State == (int)QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Procces)
                {
                    <div class="btn-group">
                        <button type="button" class="btn bg-teal-400 btn-labeled dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><b><i class="icon-menu7"></i></b> Accion <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a id="Enviar"><i class="icon-plus2"></i> Modificar</a></li>
                            <li><a data-id="@Model.MovingWarehouse.Id" data-estado="@(Convert.ToInt16(QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Transit))" class="changeStatu"><i class="icon-screen-full"></i> Procesar</a></li>

                        </ul>
                    </div>
                }

                else if (Model.MovingWarehouse.State == (int)QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Transit && sender != true)
                {
                    <div class="btn-group">
                        <button type="button" class="btn bg-teal-400 btn-labeled dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><b><i class="icon-menu7"></i></b> Accion <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">

                            <li><a data-id="@Model.MovingWarehouse.Id" data-estado="@(Convert.ToInt16(QuickSal.DataAcces.QuickSalEnum.MovingStatus.Received))" class="changeStatu" id="Recibir"><i class="icon-screen-full"></i> Recibir</a></li>

                        </ul>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/ProcessWareHouse.js"></script>
    <script src="~/Scripts/Dashboard/MovingWareHouses/DatetailsMoving.js"></script>
}
