﻿@model QuickSal.Web.ViewModels.Warehouse.MovingWareVM

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}


<!-- /basic tabs -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Movimiento Almacén</h5>
    </div>



    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                <li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab">Creados</a></li>
                <li><a href="#highlighted-justified-tab2" data-toggle="tab">En Espera</a></li>
                <li><a href="#highlighted-justified-tab3" data-toggle="tab">Recibidos</a></li>
                <li><a href="#highlighted-justified-tab4" data-toggle="tab">Cancelado</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="highlighted-justified-tab1">
                    <div class="row">
                        <table class="datatable display responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>NoDocumento</th>
                                    <th>Creada</th>
                                    <th>Modificado</th>
                                    <th>Creada Por</th>
                                    <th>Enviado a</th>
                                    <th>Estado</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var Moving in Model.MovingWareSender)
                                {
                                    <tr>
                                        <td>@Moving.DocumentNo</td>
                                        <td>@Moving.CreateDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Moving.ModifyDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Moving.EmployeeCreateId</td>
                                        <td>@Moving.ReceiverWarehouseId</td>
                                        @if (Moving.State == (int)QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Procces)
                                        {
                                            <td><span class="label label-default">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.MovingStatus)Moving.State))</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="label label-success">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.MovingStatus)Moving.State))</span></td>
                                        }
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        @if (Moving.State == (int)QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Transit)
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("MovingWareDetails",new {Id = Moving.Id, sender = true })">
                                                                    <i class="icon-eye">
                                                                    </i> Ver
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="changeStatu" data-id="@Moving.Id" data-estado="@(Convert.ToInt16(QuickSal.DataAcces.QuickSalEnum.MovingStatus.Canceled))">
                                                                    <i class="icon-cancel-square">
                                                                    </i> Cancelar
                                                                </a>
                                                            </li>
                                                        }

                                                        else
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("MovingWareDetails",new {Id = Moving.Id, sender = true })">
                                                                    <i class="icon-eye">
                                                                    </i> Editar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class=" changeStatu" data-id="@Moving.Id" data-estado="@(Convert.ToInt16(QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Transit))">
                                                                    <i class="icon-checkmark3">
                                                                    </i> Procesar
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="changeStatu" data-id="@Moving.Id" data-estado="@(Convert.ToInt16(QuickSal.DataAcces.QuickSalEnum.MovingStatus.Canceled))">
                                                                    <i class="icon-cancel-square">
                                                                    </i> Cancelar
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>

                <div class="tab-pane" id="highlighted-justified-tab2">
                    <div class="row">
                        <table class="datatable display responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>NoDocumento</th>
                                    <th>Descripción</th>
                                    <th>Creada</th>
                                    <th>Creada Por</th>
                                    <th>Remitente</th>
                                    <th>Estado</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var Moving in Model.MovingWareReciver)
                                {
                                    <tr>
                                        <td>@Moving.DocumentNo</td>
                                        <td>@Moving.Description</td>
                                        <td>@Moving.CreateDate</td>
                                        <td>@Moving.EmployeeCreateId</td>
                                        <td>@Moving.SenderWarehouseId</td>
                                        <td><span class="label label-success">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.MovingStatus)Moving.State))</span></td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="@Url.Action("MovingWareDetails",new {Id=Moving.Id, sender = false  })">
                                                                <i class="icon-eye">
                                                                </i> Ver
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="tab-pane" id="highlighted-justified-tab3">
                    <div class="row">
                        <table class="datatable display responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>NoDocumento</th>
                                    <th>Descripción</th>
                                    <th>Creada</th>
                                    <th>Creada Por</th>
                                    <th>Receptor</th>
                                    <th>Estado</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var Moving in Model.tblMovingWarehouses.Where(x => x.State == (int)QuickSal.DataAcces.QuickSalEnum.MovingStatus.In_Procces))
                                {
                                    <tr>
                                        <td>@Moving.DocumentNo</td>
                                        <td>@Moving.Description</td>
                                        <td>@Moving.CreateDate</td>
                                        <td>@Moving.EmployeeCreateId</td>
                                        <td>@Moving.ReceiverWarehouseId</td>
                                        <td><span class="label label-danger">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.MovingStatus)Moving.State))</span></td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="@Url.Action("MovingWareDetails",new {Id=Moving.Id, sender = false  })">
                                                                <i class="icon-eye">
                                                                </i> Ver
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane" id="highlighted-justified-tab4">
                    <div class="row">
                        <table class="datatable display responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>NoDocumento</th>
                                    <th>Descripción</th>
                                    <th>Creada</th>
                                    <th>Creada Por</th>
                                    <th>Receptor</th>
                                    <th>Estado</th>
                                    <th class="text-center">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var Moving in Model.tblMovingWarehouses.Where(x => x.State == (int)QuickSal.DataAcces.QuickSalEnum.MovingStatus.Canceled))
                                {
                                    <tr>
                                        <td>@Moving.DocumentNo</td>
                                        <td>@Moving.Description</td>
                                        <td>@Moving.CreateDate</td>
                                        <td>@Moving.EmployeeCreateId</td>
                                        <td>@Moving.ReceiverWarehouseId</td>
                                        <td><span class="label label-danger">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.MovingStatus)Moving.State))</span></td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a href="@Url.Action("MovingWareDetails",new {Id=Moving.Id, sender = false  })">
                                                                <i class="icon-eye">
                                                                </i> Ver
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="@Url.Action("CreateMovingWare","MovingWare")" class="btn  border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Crear Movimineto
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Employee/Employee.js")></script>
    <script src="~/Scripts/ProcessWareHouse.js"></script>
}
