﻿@model QuickSal.Web.ViewModels.Inventory.CategoryViewModel


<form id="form-category">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="" name="Category.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Descripción:</label>
                <textarea type="text" value="" cols="10" name="Category.Description" class="form-control"></textarea>
            </div>
        </div>
    </div>   
</form>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/category.js")></script>
}

