﻿@model QuickSal.Web.ViewModels.Inventory.CategoryViewModel


<form id="form-category-edit">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="@Model.Category.Name" name="Category.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Descripción:</label>
                <textarea type="text" cols="10" name="Category.Description" class="form-control">@Model.Category.Description</textarea>
            </div>
        </div>
    </div>
    <input type="hidden" name="Category.Id" value="@Model.Category.Id" />
</form>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/category.js")></script>
}

