﻿@model QuickSal.Web.ViewModels.CustomerPayment.CustomerPaymentViewModel
@{
    ViewData["Title"] = "Edición de Pagos a Proveedores";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel panel-flat">
    <div class="panel-body">
        <div>
            <strong>Pagos a Clientes</strong> <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>
        <div>
            <button id="BtnCreate" type="button" class="btn border-slate text-slate-800 btn-flat pull-left"> <i class="icon-folder-plus"></i> </button>
        </div>
        <div class="row col-md-12">
            @if (Model.customerPayment.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
            {
                <span class="label label-success">Aprobada</span>
            }
            else if (Model.customerPayment.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
            {
                <span class="label label-info">Proceso</span>
            }
            else if (Model.customerPayment.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
            {
                <span class="label label-danger">Anulada</span>
            }
        </div>

        <form id="Edit-PurchaseOrder">                                
       
            <div hidden>
                <div class="form-group">
                    <input type="text" value="@Model.customerPayment.Id" name="customerPayment.Id" class="form-control">
                    <input type="text" value="@Model.customerPayment.DocumentEstatusId" id="estado" class="form-control">
                </div>
            </div>
         
                <div class="form-line col-md-12">
                    <div class="col-md-6"></div>
                    <div class="form-inline col-md-6 ">
                        <div class=" col-md-offset-9 col-md-4 ">
                            <div class=" ">
                                <label><strong>No.Documento: </strong> @Model.customerPayment.DocumentNumber</label>
                                <input class="form-control" hidden="hidden" type="hidden" placeholder="descuento" name="CustomerPayment.DocumentNumber" readonly value="@Model.customerPayment.DocumentNumber">
                            </div>

                            <div class="">
                                <label><strong>Fecha: </strong> @Model.customerPayment.CreateDate.ToString("dd/MM/yyyy")</label>
                                <input class="form-control" hidden="hidden" type="hidden" placeholder="descuento" name="CustomerPayment.CreateDate" readonly value="@ViewBag.Fecha">
                            </div>
                        </div>
                    </div>
                </div>             
                    <!--Esta es la tabla que hace referencia desde el javascipt-->
                    <table id="EditVendorPayment" class="display" style="width:100%"></table>
                
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="notices">
                            <label>Observaciones</label><br>
                            <textarea class="form-control" placeholder="Observación" rows="5" name="CustomerPayment.Observation" style="border-left: 6px solid #3989c6;">@Model.customerPayment.Observation</textarea>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-6">
                        <table class="tfooter"style="float: right;">                            
                                <tr>
                                    <td>
                                        <h1> Total a Pagar:RD$<span id="mensaje"></span> </h1>
                                        <input id="mensajesubtotal" hidden="hidden" name="CustomerPayment.Total" type="text" value="" /><br />

                                    </td>
                                </tr>                            
                        </table>
                    </div>
                </div>
          

            <div class="panel-footer">
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="col-md-6 col-xs-6">
                            <a href="@Url.Action("CustomerPaymentList", "CustomerPayment")" class="btn border-slate text-slate-800 btn-flat back">
                                <i class="icon-cross2 position-left"></i> Cancelar
                            </a>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            @if (Model.customerPayment.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                            {

                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="icon-check position-left"></i> Aceptar
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" id="Enviar" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                            <i class="icon-floppy-disk"></i> Guardar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" id="Procesar" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                            <i class="icon-checkmark4"></i> Procesar
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            }

                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/CustomerPayment/CustomerPaymentEdit.js")></script>
}
