﻿@model QuickSal.Web.ViewModels.CustomerPayment.CustomerPaymentViewModel
@{
    ViewData["Title"] = "Ncf";
    Layout = null;
}
    <link href="~/Css/Dashboard/Disain.css" rel="stylesheet" />
<div id="OrdenList">
    <div class="panel-body">
        <div class="row">
            <form action="CustomerPaymentCreate" method="get">
                <input name="data" value="" id="inputArray" hidden>
                <table class="datatable display responsive nowrap" style="width:100%" id="myDatatable">
                    <thead>
                        <tr>
                            <th hidden="hidden">Id</th>
                            <th hidden="hidden">CustomerId</th>
                            <th>No. Orden</th>
                            <th>Cliente</th>
                            <th>NCF</th>
                            <th>Fecha</th>
                            <th>Balance</th>
                            <th hidden="hidden">Total</th>
                            <th>Estatus</th>
                            <th class="text-center">
                            <div class="form-check">
                                <span class="span">
                                    <input type="checkbox" class="form-check-input prueba" id="allChecked">
                                </span>
                                
                                <label class="form-check-label selected Agregar" for="materialUnchecked">
                                        </label></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vendor in Model.List_Invoice)
                        {
                            <tr>
                                <td hidden="hidden">@vendor.Id</td>
                                <td hidden="hidden">@vendor.CustomerId</td>
                                <td>@vendor.DocumentNumber</td>
                                <td>@vendor.CustomerName</td>
                                <td>@vendor.Ncf</td>
                                <td>@vendor.CreateDate.ToShortDateString()</td>
                                <td>@vendor.Balance</td>
                                <td hidden="hidden">@vendor.Total</td>
                                @if (vendor.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                {
                                    <td>
                                        <span class="label label-success ">Aprobada</span>
                                    </td>
                                }
                                else if (vendor.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                {
                                    <td>
                                        <span class="label label-primary col-md-4">En Proceso</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger">Anulada</span>
                                    </td>

                                }
                                <td align="center">
                                    <div class="form-check">
                                        <input type="checkbox" class="styled" id="exampleCheck1">
                                    </div>                                
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="">
                    <button id="agregar" class="btn btn-primary" onclick="return Validacion()" style="float: right;" type="button">Aceptar</button>
                </div>
                <div class="col-lg-offset-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrarM">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@if (Model.List_Invoice.Count() > 0)
{
    <div class="text-center">
        <span class="alert-primary">Seleccione la factura para el <strong>Pago a cliente</strong></span>
    </div>
}
else
{
    <div class="text-center">
        <span class="alert-info">No existen factura registrados</span>
    </div>
}