﻿@model QuickSal.Web.ViewModels.CustomerPayment.CustomerPaymentViewModel

@{
    ViewData["Title"] = "Pagos Clientes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
    QuickSal.Web.Api.GenericController genericMethod = new QuickSal.Web.Api.GenericController();

}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Pago del Cliente</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive">
                <thead>
                    <tr>
                        <th>No.Documento</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customerPayments in Model.List_Customer)
                    {
                        <tr>
                            <td>@customerPayments.DocumentNumber</td>
                            <td>@customerPayments.CreateDate.ToString("dd/MM/yyyy")</td>
                            <td>@customerPayments.Total.ToString("N2")</td>
                            @if (customerPayments.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                            {
                                <td>
                                    <span class="label label-success col-lg-4">Aprobada</span>
                                </td>
                            }
                            else if (customerPayments.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                            {
                                <td>
                                    <span class="label label-primary col-lg-4">En Proceso</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger col-lg-4">Anulada</span>
                                </td>

                            }
                            <td class="text-center">
                                @if (customerPayments.Id != 0)
                                {
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                @if (customerPayments.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("_EditCustomerPayment",new {Id=customerPayments.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@customerPayments.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)">
                                                            <i class="icon-x">
                                                            </i> Anular
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@customerPayments.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                                            <i class="icon-cog2">
                                                            </i> Procesar
                                                        </a>
                                                    </li>
                                                }
                                                @if (customerPayments.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("_EditCustomerPayment",new {Id=customerPayments.Id })">
                                                            <i class="icon-eye">
                                                            </i> Ver
                                                        </a>
                                                    </li>
                                                }
                                                @if (customerPayments.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("_EditCustomerPayment",new {Id=customerPayments.Id })">
                                                            <i class="icon-eye">
                                                            </i> Ver
                                                        </a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>
                                    </ul>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
              
                <button id="BtnCreateVista" class="btn border-slate text-slate-800 btn-flat" type="button">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/CustomerPayment/CustomerModalList.js")></script>
    <script src=@Url.Content("~/Scripts/Dashboard/CustomerPayment/CustomerPayment.js")></script>
}
