﻿
@model QuickSal.Web.ViewModels.Purchase.PurchaseViewModel
@{
    ViewData["Title"] = "Registro de Orden de Compras";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">
                Registro  Compras Almacen
                <a class="heading-elements-toggle">

                    <i class="icon-more"></i>
                </a>
            </h5>
            <button type="button" id="DebiNote" data-loading-text="<i class='icon-spinner4 spinner position-left'></i> Loading state" class="btn btn-default btn-loading" disabled><i class="icon-spinner4 position-left"></i>Nota debito</button>
            @if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
            {

                <span class="label label-success">Aprobada</span>

            }
            else if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
            {
                <span class="label label-info">Proceso</span>
            }
            else if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
            {
                <span class="label label-danger">Anulada</span>
            }


        </div>
        <div class="panel-body">
            <div class="tabbable">

                <form id="Edit-PurchaseOrder">
                    <div class="tab-content">
                        <div class="tab-pane active" id="left-icon-tab1">

                            <div hidden>
                                <div class="form-group">
                                    <input type="text" value="@Model.PurchaseOrder.Id" name="PurchaseOrder.Id" class="form-control">
                                </div>
                            </div>
                            @*<div hidden>
                                <div class="form-group">
                                    <input type="text" value="@Model.PurchaseOrder.DocumentEstatusId" name="PurchaseOrder.DocumentEstatusId" class="form-control" id="DocumentEstatusId">
                                </div>
                            </div>*@

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Proveedor: <span class="text-danger">*</span></label>
                                    <select class="form-control select-size-xs" name="PurchaseOrder.SuppliersId" required id="SuppliersId">
                                        <option value="">Seleccione una campo de lista</option>
                                        @foreach (var Tipo in Model.Suppliers.OrderBy(T => T.Names))
                                        {

                                            if (Tipo.Id == Model.PurchaseOrder.SuppliersId)
                                            {
                                                <option value="@Tipo.Id" selected>@Tipo.Names</option>
                                            }
                                            else
                                            {
                                                <option value="@Tipo.Id">@Tipo.Names</option>

                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12- col-md-3 col-xs-12">
                                <label>Numero de Documento:</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" value="@Model.PurchaseOrder.DocumentNumber" placeholder="descuento" name="PurchaseOrder.DocumentNumber" readonly>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12- col-md-3 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha de Documento: <span class="text-danger">*</span></label>
                                    <input type="text" name="PurchaseOrder.DocumentDate" id="DocumentDate" value="@Model.PurchaseOrder.DocumentDate" placeholder="fecha documento" class="form-control daterange-single" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Número Comprobante Fiscal: <span class="text-danger">*</span></label>
                                    <input type="text" name="PurchaseOrder.ncf" value="@Model.PurchaseOrder.Ncf" id="ncf" placeholder="número comprobante fiscal" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Observaciones:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="PurchaseOrder.Observation" rows="1" cols="2" id="Observation">@Model.PurchaseOrder.Observation</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-12- col-md-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Articulos:</label>
                                        <select class="form-control select-search" name="PurchaseOrder.Id" id="ArticulosId">
                                            <option value="">Seleccione una campo de lista</option>
                                            @foreach (var Tipo in Model.products.OrderBy(T => T.Name))
                                            {
                                                <option data-quantity="@Tipo.MeasureId" value="@Tipo.Id">@Tipo.Measure.Name  @Tipo.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Almacen: <span class="text-danger">*</span></label>
                                        <select class="form-control" name="PurchaseOrder.WarehouseId" id="AlmacenId">
                                            <option value="">Seleccione una campo de lista</option>
                                            @foreach (var Tipo in Model.Warehouse.OrderBy(T => T.Name))
                                            {
                                                <option value="@Tipo.Id">@Tipo.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-4">
                                        <label>Impuesto:</label>
                                        <select class="form-control" name="Purchase.Id" id="Impuesto">
                                            <option value="">Seleccione una campo de lista</option>
                                            @foreach (var Tipo in Model.Taxes.OrderBy(T => T.Abbreviation))
                                            {
                                                <option data-quantity="@Tipo.Quantity" value="@Tipo.Id">@Tipo.Abbreviation</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Cantidad:</label>
                                        <div class="form-group">
                                            <input class="form-control " type="number" placeholder="cantidad" name="PurchaseOrder.Movil" id="cantidad" value="">
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <label>Precio Compra:</label>
                                        <div class="form-group">
                                            <input class="form-control " type="number" placeholder="compra" name="PurchaseOrder.Movil" id="compra" value="">
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <label>Descuento:</label>
                                        <div class="form-group">
                                            <input class="form-control " type="number" placeholder="descuento" name="PurchaseOrder.Movil" id="descuento" value="">
                                        </div>
                                    </div>


                                    <div class="col-md-1">
                                        <label><br /></label>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary" id="BtnAddPrice">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-body">

                                <div col-lg-12 col-sm-12- col-md-12 col-xs-12>
                                    <!--Esta es la tabla que hace referencia desde el javascipt-->
                                    <table id="PurchaseTable" class="display" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center;">
                            <table class="table" style="margin: 20px auto;">
                                <thead>
                                    <tr>
                                        <th colspan="4" hidden>__</th>
                                        <th colspan="4" hidden>___</th>
                                        <th colspan="4" hidden>___</th>
                                        <th colspan="4" hidden>___</th>
                                        <th colspan="4" hidden>___</th>
                                        <th colspan="4" hidden>___</th>
                                        <th colspan="4" hidden>___</th>
                                        <th style="text-align: right">
                                            Sub-Total Orden: RD$ <span id="mensaje">@Model.PurchaseOrder.SubTotal.ToString("N2")</span><br />
                                            Total Descuento: RD$  <span id="MensajeDescuento">@Model.PurchaseOrder.Discount.ToString("N2")</span><br />
                                            Total Credito: RD$  <span id="MensajeCredito">0.00</span><br />
                                            Total Impuesto: RD$  <span id="Mensajetax">@Model.PurchaseOrder.TotalTax.ToString("N2")</span><br />
                                            Total Orden: RD$ <span id="MensajeTotal">@Model.PurchaseOrder.Total.ToString("N2")</span><br />
                                            <input id="mensajesubtotal" name="PurchaseOrder.SubTotal" value="@Model.PurchaseOrder.SubTotal" hidden /><br />
                                            <input id="Descuentototal" name="PurchaseOrder.Discount" value="@Model.PurchaseOrder.Discount" hidden><br />
                                            <input id="creditoTotal" name="PurchaseOrder.creditoTotal" hidden><br />
                                            <input id="taxtotal" name="PurchaseOrder.TotalTax" value="@Model.PurchaseOrder.TotalTax" hidden /><br />
                                            <input id="Totaltotal" name="PurchaseOrder.Total" value="@Model.PurchaseOrder.Total" hidden /><br />

                                        </th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <table class="datatable display responsive nowrap" style="width:100%" id="DebiNoteTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>No. Documento</th>
                    <th>Proveedor</th>
                    <th>NCF</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th class="text-center"><div class="form-check"><input type="checkbox" class="form-check-input" id="allChecked"><label class="form-check-label selected Agregar" for="materialUnchecked"></label></div></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div class="panel-footer">
            <div class="col-md-12">
                <div class="pull-right">
                    <a href="@Url.Action("PurchaseOrdersList", "PurchaseOrders")" class="btn btn-danger">
                        <i class="icon-cross2 position-left"></i>
                        <span>Cancelar</span>
                    </a>

                    @if (Model.PurchaseOrder.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                    {

                        <div class="btn-group dropup">
                            <button type="button" class="btn  btn-primary"><b><i class="icon-cog5 position-left"></i></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Acción</font></font></button>
                            <button type="button" class="btn bg-create dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <button id="Enviar" class="btn border-slate text-slate-800 btn-flat pull-center col-md-12" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                        <i class="icon-checkmark4 position-left"> Guardar  Orden  </i>
                                    </button>
                                </li>
                                <li>
                                    <button id="Procesar" class="btn border-slate text-slate-800 btn-flat pull-center col-md-12" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                        <i class="icon-checkmark4 position-left"> Procesar  Orden  </i>
                                    </button>
                                </li>
                            </ul>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Supplier/PurchaseOrden.js")></script>

}
