﻿@model QuickSal.DataAcces.Models.DebitNote
@{
    ViewData["Title"] = "Ncf";
    Layout = null;
}

<div class="" id="DebiNoteList">
    <div class="panel-body">
        <div class="row">
            <form action="VendorPaymentCreate" method="get">
                <input name="data" value="" id="inputArray" hidden>
                <table class="datatable display responsive nowrap" style="width:100%" id="myDatatable">
                    <thead>
                        <tr>
                            <th hidden="hidden">Id</th>
                            <th>No. Documento</th>
                            <th>Proveedor</th>
                            <th>NCF</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th class="text-center"><div class="form-check"><input type="checkbox" class="form-check-input" id="allChecked"><label class="form-check-label selected Agregar" for="materialUnchecked"></label></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Debito in Model.DebitNoteStatu)
                        {
                        <tr>
                            <td hidden="hidden">@Debito.Id</td>
                            <td>@Debito.DocumentNumber</td>
                            <td>@Debito.SupplierName</td>
                            <td>@Debito.Ncf</td>
                            <td>@Debito.UpdateDate.ToShortDateString()</td>
                            <td>@Debito.Total</td>
                            <td align="center">
                                <div class="form-check"> 
                                    <input type="checkbox" class="form-check-input" id="@Debito.Id">
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="">
                    <button id="agregar" class="btn btn-primary" onclick="return Validacion()" style="float: right;">Aceptar</button>
                </div>
                <div class="col-lg-offset-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrarM">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
