﻿@model QuickSal.Web.ViewModels.Purchase.PurchaseViewModel

@{
    ViewData["Title"] = "Orden de Compra";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
    QuickSal.Web.Api.GenericController genericMethod = new QuickSal.Web.Api.GenericController();

}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Factura de compras</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Fecha</th>
                        <th>Proveedor</th>
                        <th>NCF</th>
                        <th>Impuesto</th>
                        <th>Balance pendiente</th>
                        <th>Total</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purcha in Model.PurchaseOrders)
                    {
                        <tr>
                            <td>@purcha.DocumentNumber</td>
                            <td>@purcha.CreateDate.ToShortDateString()</td>
                            <td>@purcha.Suplidor</td>
                            <td>@purcha.Ncf</td>
                            <td>@purcha.TotalTax.ToString("N2")</td>
                            <td>@purcha.Balance.ToString("N2")</td>
                            <td>@purcha.Total.ToString("N2")</td>
                            @if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                            {
                                <td>
                                    <span class="label label-success col-lg-10">Aprobada</span>
                                </td>
                            }
                            else if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                            {
                                <td>
                                    <span class="label label-primary col-lg-10">En Proceso</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger col-lg-10">Anulada</span>
                                </td>

                            }
                            <td class="text-center">
                                @if (purcha.Id != 0)
                                {
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                @if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("EditPurchaseOrder",new {Id=purcha.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@purcha.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)">
                                                            <i class="icon-x">
                                                            </i> Anular
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@purcha.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                                            <i class="icon-cog2">
                                                            </i> Procesar
                                                        </a>
                                                    </li>
                                                }
                                                @if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("EditPurchaseOrder",new {Id=purcha.Id })">
                                                            <i class="icon-eye">
                                                            </i> Ver
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("EditPurchaseOrder",new {Id=purcha.Id })">
                                                            <i class="icon-file-minus"></i> Consumir debito
                                                        </a>
                                                    </li>
                                                }
                                                @if (purcha.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
                                                {

                                                    <li>
                                                        <a href="@Url.Action("EditPurchaseOrder",new {Id=purcha.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>
                                    </ul>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button class="btn border-slate text-slate-800 btn-flat" id="BtnNueva">
                    <i class="icon-plus3 position-left"></i> Nueva
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Supplier/PurchaseOrden.js")></script>
}
