﻿@model QuickSal.Web.ViewModels.Purchase.PurchaseViewModel
@{
    ViewData["Title"] = "Ncf";
    Layout = null;
}
<link href="~/Css/Dashboard/Disain.css" rel="stylesheet" />
<div class="" id="OrdenList">
    <div class="panel-body">
        <div class="row">
            <form action="VendorPaymentCreate" method="get">
                <input name="data" value="" id="inputArray" hidden>
                <table class="datatable display responsive nowrap" style="width:100%" id="myDatatable">
                    <thead>
                        <tr>
                            <th hidden="hidden">Id</th>
                            <th hidden="hidden">suplierId</th>
                            <th>No. Orden</th>
                            <th>Proveedor</th>
                            <th>NCF</th>
                            <th>Fecha</th>
                            <th>Balance</th>
                            <th hidden="hidden">Total</th>
                            <th>Estatus</th>
                            <th class="text-center"><div class="form-check"><input type="checkbox" class="form-check-input" id="allChecked"><label class="form-check-label selected Agregar" for="materialUnchecked"></label></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vendor in Model.PurchaseOrders)
                        {
                            <tr>
                                <td hidden="hidden">@vendor.Id</td>
                                <td hidden="hidden">@vendor.SuppliersId</td>
                                <td>@vendor.DocumentNumber</td>
                                <td>@vendor.Suplidor</td>
                                <td>@vendor.Ncf</td>
                                <td>@vendor.CreateDate.ToShortDateString()</td>
                                <td>@vendor.Balance.ToString("#,##0.00")</td>
                                <td hidden="hidden">@vendor.Total</td>
                                @if (vendor.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                {
                                    <td>
                                        <span class="label label-success">Aprobada</span>
                                    </td>
                                }
                                else if (vendor.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                {
                                    <td>
                                        <span class="label label-primary">En Proceso</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger">Anulada</span>
                                    </td>

                                }
                                <td align="center">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input prueba" id="exampleCheck1">
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="">
                    <button id="agregar" class="btn btn-primary" onclick="return Validacion()" style="float: right;" type="button">Aceptar</button>
                </div>
                <div class="col-lg-offset-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrarM">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.PurchaseOrders.Count() > 0)
{
    <div class="text-center">
        <span class="alert-primary">Seleccione la Facturas de compras para el <strong>Pago al proveedor</strong></span>
    </div>
}
else
{
    <div class="text-center">
        <span class="alert-info">No existen Facturas de compras registradas</span>
    </div>
}