﻿
@{
    ViewData["Title"] = "EditVendorPaymentRow";
    Layout = null;
}

<div class="panel-body">
    <div class="tabbable">

        <form id="Edit-VendorPaymentRow">
            <div class="tab-content">
                <div class="tab-pane active" id="left-icon-tab1">

                    <div hidden>
                        <div class="form-group">
                            <input type="text" value="" id="NoDocument" class="form-control">
                            <input type="text" value="" id="index" class="form-control">
                            <input type="text" value="" id="provedor" class="form-control">
                            <input type="text" value="" id="opcion" class="form-control">
                            <input type="text" value="" id="SuppliersId" class="form-control">
                            <input type="text" value="" id="PurchaseOrderId" class="form-control">
                            <input type="text" value="" id="Id" class="form-control">
                            <input type="text" value="" id="VendorPaymentId" class="form-control">

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12- col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>Concepto: </label>
                            <input class="form-control" type="text" value="" id="concepto" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12- col-md-6 col-xs-12">
                        <label>Balance:</label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="" placeholder="Cantidad" id="balance" readonly>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12- col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>Pagado: </label>
                            <input class="form-control" type="text" value="" id="pagado" readonly />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12- col-md-6 col-xs-12">
                        <label>A Pagar:</label>
                        <div class="form-group">
                            <input class="form-control" name="aPagar" type="number" value="" placeholder="Cantidad" id="aPagar">
                            <span id="resultados" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12- col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>Pendiente: </label>
                            <input class="form-control" type="text" value="" id="pendiente" readonly/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/VendorPayment/VendorPayment.js")></script>

}

