﻿@model QuickSal.Web.ViewModels.VendorPayment.VendorPaymentRowVM
@{
    ViewData["Title"] = "Registro de Pagos a Proveedores";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel panel-flat">
    <div class="panel-body">
        <div>
            <strong>Pagos a Proveedores</strong> <a class="heading-elements-toggle"><i class="icon-cash"></i></a>
        </div>

        <div>
            <button id="BtnCreate" type="button" class="btn border-slate text-slate-800 btn-flat pull-left"> <i class="icon-cash"></i> </button>
        </div>

        <form action="#">
            <div class="form-line col-md-12">
                <div class="col-md-6"></div>
                <div class="form-inline col-md-6 ">
                    <div class=" col-md-offset-9 col-md-4 ">
                        <div class=" ">
                            <label><strong></strong></label>
                        </div>
                        <div class="">
                            <label><strong>Fecha: </strong>@ViewBag.Fecha.ToString("dd/MM/yyyy")</label>
                            <input class="form-control" hidden="hidden" type="hidden" placeholder="descuento" name="VendorPayment.CreateDate" readonly value="@ViewBag.Fecha">
                        </div>
                    </div>
                </div>

            </div>

            <!--Esta es la tabla que hace referencia desde el javascipt-->
            <table id="PurchaseTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th hidden="hidden">Id</th>
                        <th hidden="hidden">SuppliersId</th>
                        <th>No.Orden</th>
                        <th>Proveedor</th>
                        <th>Concepto</th>
                        <th>Balance</th>
                        <th>Pagado</th>
                        <th>A pagar</th>
                        <th>Pendiente</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purcha in Model.TblVendorPaymentRow)
                    {
                        <tr>
                            <td hidden="hidden">@purcha.PurchaseOrderId</td>
                            <td hidden="hidden">@purcha.SuppliersId</td>
                            <td>@purcha.PurchaseOrderDocument</td>
                            <td>@purcha.SupplierName</td>
                            <td>@purcha.Concept</td>
                            <td>@purcha.Pending.ToString("N2")</td>
                            <td>@purcha.PaidOut</td>
                            <td>@purcha.Payment</td>
                            <td>@purcha.Pending.ToString("N2")</td>


                            <td>
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a><ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a type="button" class="btn btn-default btn-icon modificarProducto" data-id="@purcha.Id"><i class="icon-pencil6"></i>Editar</a>
                                                <a type="button" class="btn btn-default btn-icon deleteRow"><i class="icon-trash"></i>Eliminar</a>
                                        </ul>
                                    </li>
                                </ul>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">

                <div class=" col-md-6 col-xs-6">
                    <div class="notices">
                        <label>Observaciones</label>
                        <textarea placeholder="Observación" rows="5" name="VendorPayment.Observation" class="form-control" style="border-left: 6px solid #3989c6;"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <table class="tfooter" style="float: right;">
                        <tr>
                            <td colspan="2">
                                <h1 style="color: black;"> Total $:<span id="mensaje"></span> </h1>
                                <input id="mensajesubtotal" hidden="hidden" name="VendorPayment.Total" type="text" value="" /><br />

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
</div>

<div class="panel-footer">
    <div class="col-md-12">
        <div class="pull-right">

            <div class="col-md-6 col-xs-6">
                <a href="@Url.Action("VendorPaymentList", "VendorPayment")" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </a>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="icon-check position-left"></i> Aceptar
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#" id="Enviar" class="save" name="VendorPayment.DocumentEstatusId" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                <i class="icon-floppy-disk"></i> Guardar
                            </a>
                        </li>
                        <li>
                            <a href="#" id="Procesar" class="save"  name="VendorPayment.DocumentEstatusId" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                <i class="icon-checkmark4"></i> Procesar
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
           
        </div>

    </div>
</div>
        
 </div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/VendorPayment/VendorPayment.js")></script>

}
