﻿@model QuickSal.Web.ViewModels.BranchOffice.BranchOfficeViewModel

@{
    ViewData["Title"] = "Crear sucursal";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Tab content -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
            <!-- Profile info -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">
                        Datos de la sucursal
                    </h6>
                </div>

                <div class="panel-body">
                    <form id="form-BranchOffice">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nombre: <span class="text-danger">*</span></label>
                                    <input type="text" value="" name="BranchOffice.Name" placeholder="Insertar el nombre" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="email" value="" placeholder="Insertar el email" name="BranchOffice.Email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Provincia</label>
                                    <select id="ProvinceId" class="select" name="BranchOffice.ProvinceId">
                                        <option value="" selected="selected">Seleccionar..</option>
                                        @if (Model.Provinces != null && Model.Provinces.Count() > 0)
                                        {
                                            foreach (var item in Model.Provinces)
                                            {
                                                <option value="@item.Id">@item.Description</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Teléfono:</label>
                                    <input type="text" value="" name="BranchOffice.PhoneNumber" class="form-control phone" placeholder="(888-888-8888)">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Teléfono#2:</label>
                                    <input type="text" value="" name="BranchOffice.PhoneNumber2" class="form-control phone" placeholder="(888-888-8888)">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Dirección:</label>
                                    <textarea type="text" value="" placeholder="Insertar la dirección" class="form-control" name="BranchOffice.AddressBranchOffice"></textarea>
                                </div>
                            </div>
                        </div>

                        @if (Model.cant > 1) {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox checkbox-switchery pull-left">
                                        <label>
                                            <input type="checkbox" class="checkbox-switchery">
                                            <input type="hidden" id="Principal" name="BranchOffice.Principal" class="checkbox-switchery">
                                            Sucursal principal
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>

                <div class="panel-footer">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat back">
                                <i class="icon-cross2 position-left"></i> Cancelar
                            </button>
                            <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                                <i class="icon-checkmark4 position-left"></i> Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /profile info -->
        </div>
    </div>
    <!-- /tab content -->
</div>
<!-- /main content -->


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/BranchOffice/BranchOffice.js")></script>
}

