﻿@model QuickSal.Web.ViewModels.BranchOffice.BranchOfficeViewModel

@{
    ViewData["Title"] = "Sucursales";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Sucursales</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Principal</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BranchOffices != null && Model.BranchOffices.Count() > 0)
                    {
                        foreach (var BranchOffice in Model.BranchOffices)
                        {
                            <tr>
                                <td>@(((BranchOffice.Principal) ? "Sí" : "No"))</td>
                                <td>@BranchOffice.Name</td>
                                <td>@BranchOffice.AddressBranchOffice</td>
                                <td>@BranchOffice.PhoneNumber</td>
                                @if (BranchOffice.Estatus)
                                {
                                    <td><span class="label bg-success-400 col-md-4">Activo</span></td>
                                }
                                else
                                {
                                    <td><span class="label bg-danger col-md-4">Inactivo</span></td>
                                }
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="@Url.Action("EditBranchOffice",new {branchOfficeId=BranchOffice.Id })">
                                                        <i class="icon-pencil6">
                                                        </i> Editar
                                                    </a>
                                                </li>
                                                @if (BranchOffice.Estatus)
                                                {
                                                    <li>
                                                        <a href="#" class="status" data-status="false" data-id="@BranchOffice.Id">
                                                            <i class="icon-blocked">
                                                            </i> Desactivar
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="#" class="status" data-status="true" data-id="@BranchOffice.Id">
                                                            <i class="icon-checkmark4">
                                                            </i> Activar
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" href="@Url.Action("DashboardBusinessPrincipal","dashboard")"  class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a  href="@Url.Action("BranchOfficeIndex","branchOffice")" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Crear 
                </a>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/BranchOffice/BranchOffice.js")></script>
}


