﻿@model QuickSal.Web.ViewModels.Nfc.NcfViewModel

<form id="form-Ncf-edit">
    <div class="row">
        <div class="col-md-12">
            <div  hidden>
                <div class="form-group">               
                    <input type="text" value="@Model.ncf.Id" name="ncf.Id"  class="form-control">
                </div>
            </div>
            <div class="form-group">
                <select class="select selectized" name="ncf.PrefixId" id="Prefix" required>
                    <option value="">Seleccione una campo de lista</option>
                    @foreach (var Tipo in Model.Prefix)
                    {
                        if (Tipo.Id == Model.ncf.PrefixId)
                        {
                            <option value="@Tipo.Id" selected>@Tipo.Description</option>
                        }
                        else
                        {
                            <option value="@Tipo.Id">@Tipo.Description</option>

                        }

                    }

                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Desde: <span class="text-danger">*</span></label>
                <input type="text" id="Desde"  value="@Model.ncf.CounterFrom" name="ncf.CounterFrom" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Hasta: <span class="text-danger">*</span></label>
                <input type="text" id="Hasta" value="@Model.ncf.CounterTo" name="ncf.CounterTo" class="form-control">
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Accounting/Ncf.js")></script>
}
