﻿@model QuickSal.Web.ViewModels.Nfc.NcfViewModel


<form id="form-Ncf">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <select class="select selectized" name="ncf.PrefixId" required id="Prefix">
                    <option value="">Seleccione una campo de lista</option>
                    @foreach (var Tipo in Model.Prefix.OrderBy(T => T.Description))
                    {
                        <option value="@Tipo.Id">@Tipo.Description</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Desde: <span class="text-danger">*</span></label>
                <input type="number" value="" name="ncf.CounterFrom" id="Desde" class="form-control">
                <span id="mensajeponderacion" class="validation-error text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Hasta: <span class="text-danger">*</span></label>
                <input type="number" value="" name="ncf.CounterTo" id="Hasta" class="form-control">
                <span id="mensajeponderacion" class="validation-error text-danger"></span>
            </div>
        </div>
    </div>
</form>


