﻿@model QuickSal.Web.ViewModels.Nfc.NcfViewModel
@{
    ViewData["Title"] = "Ncf";
    Layout = null;
}

<div class="" id="Detail-ncf">
    
    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap" style="width:100%"  id="myDatatable">
                <thead>
                    <tr>
                      
                        <th>Numero Comprobante</th>
                        <th>Utilizado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ncf in Model.ListNcfs)
                    {
                        <tr>
                            
                            <td>@ncf.NCF</td>
                            @if (ncf.Estatus)
                            {
                                <td>
                                    <span class="label label-danger">Utilizado</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-success">No Utilizado</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
}*@
