﻿@model QuickSal.Web.ViewModels.Nfc.NcfViewModel
@{
    ViewData["Title"] = "Ncf";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Comprobantes</h5>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                    
                        <th>Descripción</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ncf in Model.ListNcfs)
                    {
                    <tr>
                       
                        <td>@ncf.Prefi</td>
                        <td>@ncf.CounterFrom</td>
                        <td>@ncf.CounterTo</td>
                        @if (ncf.Estatus)
                        {
                            <td>
                                <span class="label label-success col-md-4">Activo</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="label label-danger col-md-4">Inactivo</span>
                            </td>
                        }
                        <td class="text-center">
                            @if (ncf.BusinessId != 0)
                            {
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a class="edit" href="#" data-id="@ncf.Id">
                                                    <i class="icon-pencil6">
                                                    </i> Editar
                                                </a>
                                            </li>
                                            <li>
                                                <a class="detalles" href="#" data-id="@ncf.Id">
                                                    <i class="icon-eye">
                                                    </i> Detalles
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#" data-status="@((ncf.Estatus) ? false : true)" data-id="@ncf.Id" class="status">
                                                    <i class="@(((ncf.Estatus)?"icon-blocked":"icon-undo"))">
                                                    </i> @(((ncf.Estatus) ? "Desactivar" : "Activar"))
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="#" id="BtnCreate" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Crear NCF
                </a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Accounting/Ncf.js")></script>
}
