﻿@model IEnumerable<QuickSal.DataAcces.CustomModels.Models.LoadData.TemplateStatus>

<hr />
@if (Model != null)
{
    <div>
        <div class="alert alert-warning alert-styled-left">
            <span class="text-semibold">Datos invalidos!</span> dentro de la plantilla existen valores incorrectos, favor verificarlos y cargar nuevamente el archivo
        </div>
    </div>

    <table class="datatable display nowrap">
        <thead>
            <tr>
                <th>Fila</th>
                <th>Nombre</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var status in Model)
                {
                    <tr>
                        <td>@status.RowNumber</td>
                        <td>@status.Object</td>
                        <td>
                            @if (status.Error.Contains("Registrado"))
                            {
                                <span class="label label-success">@status.Error</span>
                            }
                            else
                            {
                                <span class="label label-danger">@status.Error</span>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div>
        <div class="alert alert-success alert-styled-left">
            <span class="text-semibold">Los datos de la plantilla fueron cargados correctamente.</span>
        </div>
    </div>
}