﻿
@{
    ViewData["Title"] = "Cargar Datos";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Carga de Datos<a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
    </div>

    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="active">
                    <a href="#left-icon-tab1" data-toggle="tab" aria-expanded="true">
                        <i class="icon-file-excel position-left"></i> Descargar plantilla
                    </a>
                </li>
                <li>
                    <a href="#left-icon-tab2" data-toggle="tab" aria-expanded="true">
                        <i class="icon-cloud-upload position-left"></i> Subir plantilla
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="left-icon-tab1">
                    <form id="frmTemplate" action="#">
                        <fieldset>
                            <div class="col-md-12">
                                <div class="col-md-offset-4 col-md-4">
                                    <label>Seleccione la plantilla: <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <select class="form-control" name="DocumentTemplateId">
                                            <option value="">Seleccionar...</option>
                                            <option value="7">Plantilla de Clientes</option>
                                            <option value="8">Plantilla de Proveedores</option>
                                            <option value="10">Plantilla de Productos</option>
                                        </select>
                                    </div>
                                    <button type="button" id="BtnDownload" class="btn border-slate text-slate-800 btn-flat">
                                        <i class="icon-file-download2 position-left"></i> Descargar
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="tab-pane" id="left-icon-tab2">
                    <fieldset>
                        <div class="row">
                            <div class="row text-center">
                                <a href="#" class="display-inline-block content-group-sm">
                                    <img id="Picture-template" src="~/Img/carga.png" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                                </a>
                            </div>

                            <div class="row">
                                <div class="caption text-center">
                                    <button type="button" id="btnTemplate" class="btn border-slate text-slate-800 btn-flat">
                                        <i class="icon-file-upload2 position-left"></i>  Subir plantilla
                                    </button>                                   
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="TemplateResult">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <form id="TemplateUpload" method="post" enctype="multipart/form-data">
                        <input style="visibility:hidden" type="file" id="TemplateFile" name="Template" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/LoadData/LoadTemplates.js")></script>
}