﻿@model QuickSal.Web.ViewModels.Inventory.MeasureViewModel


<form id="form-measure-edit">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="@Model.Measure.Name" name="Measure.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Abreviatura: <span class="text-danger">*</span></label>
                <input type="text" value="@Model.Measure.Abbreviation" name="Measure.Abbreviation" maxlength="4" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Cantidad: <span class="text-danger">*</span></label>
                <input type="number" value="@Model.Measure.Quantity" name="Measure.Quantity" maxlength="3" class="form-control">
            </div>
        </div>
    </div>
    <input type="hidden" name="Measure.id" value="@Model.Measure.Id" />
</form>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/measure.js")></script>
}
