﻿@model QuickSal.Web.ViewModels.Inventory.MeasureViewModel

@{
    ViewData["Title"] = "Crear medida";
}

<form id="form-measure">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="" name="Measure.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Abreviatura: <span class="text-danger">*</span></label>
                <input type="text" value="" name="Measure.Abbreviation" maxlength="4" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Cantidad: <span class="text-danger">*</span></label>
                <input type="number" value="" name="Measure.Quantity" maxlength="3" class="form-control">
            </div>
        </div>
    </div>
</form>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/measure.js")></script>
}

