﻿@inject QuickSal.Services.ISecurityService securityService

@{
    var user = securityService.GetSession();
}

<header class="main-header">
    <span  class="logo">
        <span class="logo-mini">POS</span>
        <span class="logo-lg">Simple<b>POS</b></span>
    </span>
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">
                    <a href="@Url.Action("UserAccount","account")" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @*<img src="@user.UserPicture" class="user-image" alt="Avatar">*@
                        <span>@user.UserName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            @*<img src="@user.UserPicture" class="img-circle" alt="Avatar">*@
                            <p>
                                @user.UserEmail
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("UserProfile","account")" class="btn btn-default btn-flat">Mi perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout","account")" class="btn btn-default btn-flat sign_out">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>               
            </ul>
        </div>
    </nav>
</header>