﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quicksal-@ViewData["Title"]</title>
    <link rel="shortcut icon" href="https://spos.tecdiary.net/themes/default/assets/images/icon.png">
    <link href=@Url.Content("~/Css/icomoon.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/components.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/selectize.css") rel="stylesheet" />
    <link href="~/Css/Dashboard/SalesPoint/style.css" rel="stylesheet" />
    <link href="~/Css/Dashboard/SalesPoint/salesPointCustom.css" rel="stylesheet" />
</head>

<body class="skin-green sidebar-collapse sidebar-mini pos" data-root="@Url.Action("UserAccount","Account")">
    <div class="wrapper rtl rtl-inv">
        @Html.Partial("~/Views/Shared/dashboard/SalesPoint/_Header.cshtml")

        @RenderBody()
    </div>
    <aside class="control-sidebar control-sidebar-dark" id="categories-list">
        <div class="tab-content sb">
            <div class="tab-pane active sb" id="control-sidebar-home-tab">
                <div id="filter-categories-con">
                    <input type="text" autocomplete="off" data-list=".control-sidebar-menu" name="filter-categories" id="filter-categories" class="form-control sb col-xs-12 kb-text" placeholder="Type to filter categories" style="margin-bottom: 20px;">
                </div>
                <div class="clearfix sb"></div>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 250px;">
                    <div id="category-sidebar-menu" style="overflow: hidden; width: 100%; height: 250px;">
                        <ul class="control-sidebar-menu">
                            <li>
                                <a href="https://spos.tecdiary.net/pos#" class="category active" id="1">
                                    <div class="menu-icon">
                                        <img src="./POS _ SimplePOS_files/no_image.png" alt="" class="img-thumbnail img-responsive">
                                    </div>
                                    <div class="menu-info">
                                        <h4 class="control-sidebar-subheading">G01</h4>
                                        <p>General</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 55px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg sb" style="position: fixed; height: auto;"></div>


    <div id="order_tbl" style="display:none;">
        <span id="order_span">
            <style>
                .bb td, .bb th {
                    border-bottom: 1px solid #DDD;
                }
            </style><span style="text-align:center;"><h3>SimplePOS</h3><h4>Order</h4></span><h5>C: Walk-in Client</h5><h5>R: </h5><h5>U: admin</h5><h5>T: Fri 14 May 2021 03:45 PM</h5>
        </span>
        <table id="order-table" class="prT table table-condensed" style="width:100%;margin-bottom:0;"><tbody><tr class="bb row_1" data-item-id="1"><td>#1 Minion Hi (TOY01)</td><td>[ 1 ]</td></tr></tbody></table>
    </div>

    <div id="bill_tbl" style="display:none;">
        <span id="bill_span">
            <style>
                .bb td, .bb th {
                    border-bottom: 1px solid #DDD;
                }
            </style><span style="text-align:center;"><h3>SimplePOS</h3><h4>Bill</h4></span><h5>C: Walk-in Client</h5><h5>R: </h5><h5>U: admin</h5><h5>T: Fri 14 May 2021 03:45 PM</h5>
        </span>
        <table id="bill-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"><tbody><tr class="row_1" data-item-id="1"><td colspan="2" style="border-bottom:0!important;">#1 Minion Hi (TOY01)</td></tr><tr class="bb row_1" data-item-id="1"><td>(1 x 15.00)</td><td style="text-align:right;">15.00</td></tr></tbody></table>
        <table id="bill-total-table" width="100%" class="prT table table-condensed" style="width:100%;margin-bottom:0;"><tbody><tr class="bb"><td>Total Items</td><td style="text-align:right;">1 (1)</td></tr><tr class="bb"><td>Total</td><td style="text-align:right;">15.00</td></tr><tr class="bb"><td>Order Tax</td><td style="text-align:right;">0.75</td></tr><tr class="bb"><td>Grand Total</td><td style="text-align:right;">15.75</td></tr><tr class="bb"><td>Rounding</td><td style="text-align:right;">0.00</td></tr><tr><td>Total Payable</td><td style="text-align:right;">15.75</td></tr><tr><td colspan="2" style="text-align:center;">Merchant Copy</td></tr></tbody></table>
    </div>

    <div style="width:435px;background:#FFF;display:block">
        <div id="order-data" style="display:none;" class="text-center">
            <h1>SimplePOS</h1>
            <h2>Order</h2>
            <div id="preo" class="text-left"></div>
        </div>
        <div id="bill-data" style="display:none;" class="text-center">
            <h1>SimplePOS</h1>
            <h2>Bill</h2>
            <div id="preb" class="text-left"></div>
        </div>
    </div>

    <div id="ajaxCall" style="display: none;"><i class="fa fa-spinner fa-pulse"></i></div>

    <div class="modal" data-easein="flipYIn" id="gcModal" tabindex="-1" role="dialog" aria-labelledby="mModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Sell Gift Card</h4>
                </div>
                <div class="modal-body">
                    <p>Please fill in the information below</p>

                    <div class="alert alert-danger gcerror-con" style="display: none;">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <span id="gcerror"></span>
                    </div>
                    <div class="form-group">
                        <label for="gccard_no">Card No</label> *
                        <div class="input-group">
                            <input type="text" name="gccard_no" value="" class="form-control" id="gccard_no">
                            <div class="input-group-addon" style="padding-left: 10px; padding-right: 10px;"><a href="https://spos.tecdiary.net/pos#" id="genNo"><i class="fa fa-cogs"></i></a></div>
                        </div>
                    </div>
                    <input type="hidden" name="gcname" value="Gift Card" id="gcname">
                    <div class="form-group">
                        <label for="gcvalue">Value</label> *
                        <input type="text" name="gcvalue" value="" class="form-control" id="gcvalue">
                    </div>
                    <div class="form-group">
                        <label for="gcprice">Price</label> *
                        <input type="text" name="gcprice" value="" class="form-control" id="gcprice">
                    </div>
                    <div class="form-group">
                        <label for="gcexpiry">Expiry Date</label>                    <input type="text" name="gcexpiry" value="" class="form-control" id="gcexpiry">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="addGiftCard" class="btn btn-primary">Sell Gift Card</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="dsModal" tabindex="-1" role="dialog" aria-labelledby="dsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="dsModalLabel">Discount (5 or 5%)</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control input-sm kb-pad" id="get_ds" onclick="this.select();" value="">

                    <label class="checkbox" for="apply_to_order">
                        <div class="iradio_square-blue checked" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="radio" name="apply_to" value="order" id="apply_to_order" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                        Apply to order total
                    </label>
                    <label class="checkbox" for="apply_to_products">
                        <div class="iradio_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="radio" name="apply_to" value="products" id="apply_to_products" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                        Apply to all order items
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="updateDiscount" class="btn btn-primary btn-sm">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="tsModal" tabindex="-1" role="dialog" aria-labelledby="tsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="tsModalLabel">Tax (5 or 5%)</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control input-sm kb-pad" id="get_ts" onclick="this.select();" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="updateTax" class="btn btn-primary btn-sm">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="noteModalLabel">Note</h4>
                </div>
                <div class="modal-body">
                    <textarea name="snote" id="snote" class="pa form-control kb-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="update-note" class="btn btn-primary btn-sm">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="proModal" tabindex="-1" role="dialog" aria-labelledby="proModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="proModalLabel">
                        Payment
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th style="width:25%;">Net Price</th>
                                <th style="width:25%;"><span id="net_price"></span></th>
                                <th style="width:25%;">Product Tax</th>
                                <th style="width:25%;"><span id="pro_tax"></span> <span id="pro_tax_method"></span></th>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="row_id">
                    <input type="hidden" id="item_id">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nPrice">Unit Price</label>                            <input type="text" class="form-control input-sm kb-pad" id="nPrice" onclick="this.select();" placeholder="New Price">
                            </div>
                            <div class="form-group">
                                <label for="nDiscount">Discount</label>                            <input type="text" class="form-control input-sm kb-pad" id="nDiscount" onclick="this.select();" placeholder="Discount">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nQuantity">Quantity</label>                            <input type="text" class="form-control input-sm kb-pad" id="nQuantity" onclick="this.select();" placeholder="Current Quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="nComment">Comment</label>                            <textarea class="form-control kb-text" id="nComment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button class="btn btn-success" id="editItem">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="susModal" tabindex="-1" role="dialog" aria-labelledby="susModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="susModalLabel">Suspend Sale</h4>
                </div>
                <div class="modal-body">
                    <p>Type Reference Note</p>

                    <div class="form-group">
                        <label for="reference_note">Reference Note</label>                    <input type="text" name="reference_note" value="" class="form-control kb-text" id="reference_note">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close </button>
                    <button type="button" id="suspend_sale" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>



    <!--<div class="modal" data-easein="flipYIn" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalLabel" aria-hidden="true"></div>
    <div class="modal" data-easein="flipYIn" id="opModal" tabindex="-1" role="dialog" aria-labelledby="opModalLabel" aria-hidden="true"></div>

    <div class="modal" data-easein="flipYIn" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-success" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="payModalLabel">
                        Payment
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="font16">
                                <table class="table table-bordered table-condensed" style="margin-bottom: 0;">
                                    <tbody>
                                        <tr>
                                            <td width="25%" style="border-right-color: #FFF !important;">Total Items</td>
                                            <td width="25%" class="text-right"><span id="item_count">1 (1)</span></td>
                                            <td width="25%" style="border-right-color: #FFF !important;">Total Payable</td>
                                            <td width="25%" class="text-right"><span id="twt">15.75 (0.00)</span></td>
                                        </tr>
                                        <tr>
                                            <td style="border-right-color: #FFF !important;">Total Paying</td>
                                            <td class="text-right"><span id="total_paying">0.00</span></td>
                                            <td style="border-right-color: #FFF !important;">Balance</td>
                                            <td class="text-right"><span id="balance">-15.75</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="note">Note</label>                                    <textarea name="note" id="note" class="pa form-control kb-text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>                                    <input name="amount" type="text" id="amount" class="pa form-control kb-pad amount">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="paid_by">Paying by</label>                                    <select id="paid_by" class="form-control paid_by select2 select2-hidden-accessible" style="width:100%;" tabindex="-1" aria-hidden="true">
                                            <option value="cash">Cash</option>
                                            <option value="CC">Credit Card</option>
                                            <option value="cheque">Cheque</option>
                                            <option value="gift_card">Gift Card</option>
                                            <option value="stripe">Stripe</option>
                                            <option value="other">Other</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-paid_by-container"><span class="select2-selection__rendered" id="select2-paid_by-container" title="Cash">Cash</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group gc" style="display: none;">
                                        <label for="gift_card_no">Gift Card No</label>                                    <input type="text" id="gift_card_no" class="pa form-control kb-pad gift_card_no gift_card_input">

                                        <div id="gc_details"></div>
                                    </div>
                                    <div class="pcc" style="display:none;">
                                        <div class="form-group">
                                            <input type="text" id="swipe" class="form-control swipe swipe_input" placeholder="Swipe card here then write security code manually">
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <input type="text" id="pcc_no" class="form-control kb-pad" placeholder="Credit Card No">
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">

                                                    <input type="text" id="pcc_holder" class="form-control kb-text" placeholder="Holder Name">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <select id="pcc_type" class="form-control pcc_type select2 select2-hidden-accessible" placeholder="Card Type" tabindex="-1" aria-hidden="true">
                                                        <option value="Visa">Visa</option>
                                                        <option value="MasterCard">MasterCard</option>
                                                        <option value="Amex">Amex</option>
                                                        <option value="Discover">Discover</option>
                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-pcc_type-container"><span class="select2-selection__rendered" id="select2-pcc_type-container" title="Visa">Visa</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <input type="text" id="pcc_month" class="form-control kb-pad" placeholder="Month">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">

                                                    <input type="text" id="pcc_year" class="form-control kb-pad" placeholder="Year">
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">

                                                    <input type="text" id="pcc_cvv2" class="form-control kb-pad" placeholder="CVV2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pcheque" style="display:none;">
                                        <div class="form-group">
                                            <label for="cheque_no">Cheque No</label>                                    <input type="text" id="cheque_no" class="form-control cheque_no kb-text">
                                        </div>
                                    </div>
                                    <div class="pcash">
                                        <div class="form-group">
                                            <label for="payment_note">Payment Note</label>                                    <input type="text" id="payment_note" class="form-control payment_note kb-text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 text-center">-->
                            <!-- <span style="font-size: 1.2em; font-weight: bold;">Quick Cash</span> -->

                            <!--<div class="btn-group btn-group-vertical" style="width:100%;">
                                <button type="button" class="btn btn-info btn-block quick-cash" id="quick-payable">15.75<span class="badge">1</span></button>
                                <button type="button" class="btn btn-block btn-warning quick-cash">10</button><button type="button" class="btn btn-block btn-warning quick-cash">20</button><button type="button" class="btn btn-block btn-warning quick-cash">50</button><button type="button" class="btn btn-block btn-warning quick-cash">100</button><button type="button" class="btn btn-block btn-warning quick-cash">500</button>                        <button type="button" class="btn btn-block btn-danger" id="clear-cash-notes">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close </button>
                    <button class="btn btn-primary" id="submit-sale">Submit</button>
                </div>
            </div>
        </div>
    </div>-->

    <div class="modal" data-easein="flipYIn" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="cModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="cModalLabel">
                        Add Customer
                    </h4>
                </div>
                <form action="https://spos.tecdiary.net/pos/add_customer" id="customer-form" method="post" accept-charset="utf-8">
                    <input type="hidden" name="spos_token" value="de7b35594590a4e1990c38cf6767c771">
                    <div class="modal-body">
                        <div id="c-alert" class="alert alert-danger" style="display:none;"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="code">
                                        Name
                                    </label>
                                    <input type="text" name="name" value="" class="form-control input-sm kb-text" id="cname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="cemail">
                                        Email Address
                                    </label>
                                    <input type="text" name="email" value="" class="form-control input-sm kb-text" id="cemail">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="phone">
                                        Phone
                                    </label>
                                    <input type="text" name="phone" value="" class="form-control input-sm kb-pad" id="cphone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="cf1">
                                        Custom Field 1
                                    </label>
                                    <input type="text" name="cf1" value="" class="form-control input-sm kb-text" id="cf1">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label" for="cf2">
                                        Custom Field 2
                                    </label>
                                    <input type="text" name="cf2" value="" class="form-control input-sm kb-text" id="cf2">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" style="margin-top:0;">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close </button>
                        <button type="submit" class="btn btn-primary" id="add_customer"> Add Customer </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" data-easein="flipYIn" id="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width: 400px; opacity: 1; display: block;">
            <div class="modal-content">
                <div class="modal-header np">
                    <button type="button" class="close" id="print-modal-close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <button type="button" class="close mr10" onclick="window.print();"><i class="fa fa-print"></i></button>
                    <h4 class="modal-title" id="print-title">Print Order</h4>
                </div>
                <div class="modal-body">
                    <div id="print-body">
                        <span id="order_span">
                            <style>
                                .bb td, .bb th {
                                    border-bottom: 1px solid #DDD;
                                }
                            </style><span style="text-align:center;"><h3>SimplePOS</h3><h4>Order</h4></span><h5>C: Walk-in Client</h5><h5>R: </h5><h5>U: admin</h5><h5>T: Fri 14 May 2021 03:44 PM</h5>
                        </span>
                        <table id="order-table" class="prT table table-condensed" style="width:100%;margin-bottom:0;"><tbody><tr class="bb row_1" data-item-id="1"><td>#1 Minion Hi (TOY01)</td><td>[ 1 ]</td></tr><tr class="bb row_2" data-item-id="2"><td>#2 Minion Banana (TOY02)</td><td>[ 1 ]</td></tr></tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" data-easein="flipYIn" id="posModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal" data-easein="flipYIn" id="posModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true"></div>
    <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>

</body>
</html>

@await Html.PartialAsync("~/Views/Shared/dashboard/_Modal.cshtml")

<!-- Core JS files -->
<script src=@Url.Content("~/Scripts/Dashboard/pace.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.mask.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.validate.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/bootstrap.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/moment.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/blockui.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/nicescroll.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/drilldown.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/Alert.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/switchery.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/selectize.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/daterangepicker.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/steps.min.js")></script>

<script src=@Url.Content("~/Scripts/Dashboard/jquery.dataTables.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/dataTables.responsive.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/pnotify.min.js")></script>

<script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>
<script src=@Url.Content("~/Scripts/ProcessManager.js")></script>
@RenderSection("scripts", required: false)

