﻿
@{
    ViewData["Title"] = "CustomerReportIndex";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}
<h4 class="text-center content-group">
    Reportes de clientes
    <small class="display-block">En esta sección encontrará todos los reportes del sistema.</small>
</h4>
<label id="businessId" style="display:none">@ViewBag.BusinessId</label>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="CustomerModal" data-name="Reporte de clientes">
                        <h6 class="media-heading text-semibold">Listado de clientes</h6>
                        Muestra la cantidad de clientes registrados.
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="CustomerInvoicesModal" data-name="Listado de Factura">
                            Facturas
                        </h6>
                        Listado de Facturas
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="CustomerCreditNoteModal" data-name="Listado de nota de credito">
                            Listado de Nota de Credito
                        </h6>
                        Cliente con nota de credito
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="InvoiceModal" data-name="Reporte de ventas por Clientes">
                            Ventas por Cliente
                        </h6>
                        Muestra las ventas de los clientes
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="InvoicePendindModal" data-name="Cliente con facturas pendientes">
                            Facturas pendientes
                        </h6>
                        Cliente con facturas pendientes
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="CrediNoteModal" data-name="Cliente con Nota de Credito">
                            Nota de Credito
                        </h6>
                        Cliente con nota de credito
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="ProveedoresModal" data-name="Listado de Provedores">
                            Listado de Proveedores
                        </h6>
                        Datos de los Proveedores
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="ProductModal" data-name="Listado de Productos">
                            Listado de Productos
                        </h6>
                        Datos de los Productos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="EmployeeModal" data-name="Listado de Empleados">
                            Listado de Empleados
                        </h6>
                        Datos de los Empleados
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="NCFAvailableModal" data-name="Listado de Comprobantes">
                            Listado de Comprobantes
                        </h6>
                        Datos de los Comprobantes
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>



@*<div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <h6 class="media-heading text-semibold"><a href="#" class="text-default">Bound befell well</a></h6>
                    And since left before understandably much groomed along burped through dear and gosh
                </div>
            </div>
        </div>
    </div>*@



@section scripts{
    <script src="~/Scripts/Dashboard/moment.min.js"></script>
    <script src=@Url.Content("~/Scripts/Dashboard/Report/Customer/Customer.js")></script>
}
