﻿
@{
    ViewData["Title"] = "Reporte de Comprobantes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}
<h4 class="text-center content-group">
    Reportes de Notas de Debitos
    <small class="display-block">En esta sección encontrará todos los reportes relacionados con las Notas de Debitos.</small>
</h4>
<label id="businessId" style="display:none">@ViewBag.BusinessId</label>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="DebitNoteModal" data-name="Listado de Notas de Debitos">
                        <h6 class="media-heading text-semibold">Listado de Notas de Debitos</h6>
                        Muestra el listado  de las notas de debitos.
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="DebitNoteAvailableModal" data-name="Listado de Notas de Debitos Disponibles">
                        <h6 class="media-heading text-semibold">Listado de Notas de Debitos Disponibles</h6>
                        Muestra el listado  de las notas de debitos.
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/Report/Customer/Customer.js")></script>
}
