﻿
@{
    ViewData["Title"] = "Reporte de Comprobantes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}
<h4 class="text-center content-group">
    Reportes de Comprobantes
    <small class="display-block">En esta sección encontrará todos los reportes relacionados con los Comprobantes.</small>
</h4>
<label id="businessId" style="display:none">@ViewBag.BusinessId</label>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="NCFModal" data-name="Listado de Comprobantes">
                        <h6 class="media-heading text-semibold">Listado de Comprobantes</h6>
                        Muestra el listado  de los comprobantes disponible de la empresa
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="NCFAvailableModal" data-name="Listado de Comprobantes Disponibles" > 
                        Comprobantes Disponibles</h6>
                        Muestra los comprobantes disponible de la empresa
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <h6 class="media-heading text-semibold"><a href="#" class="text-default">Bound befell well</a></h6>
                    And since left before understandably much groomed along burped through dear and gosh
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <h6 class="media-heading text-semibold"><a href="#" class="text-default">Walking away fallaciously</a></h6>
                    Ouch licentiously lackadaisical crud together began gregarious below near darn goodness
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <h6 class="media-heading text-semibold"><a href="#" class="text-default">Nutria and rewound</a></h6>
                    Strove the darn hey as far oh alas and yikes and gosh knitted this slept via gerbil baneful
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <h6 class="media-heading text-semibold"><a href="#" class="text-default">Bound befell well</a></h6>
                    And since left before understandably much groomed along burped through dear and gosh
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/Report/Customer/Customer.js")></script>
}
