﻿
@{
    ViewData["Title"] = "Suplidores";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}
<h4 class="text-center content-group">
    Reportes de Proveedores
    <small class="display-block">En esta sección encontrará todos los reportes relacionados con los Proveedores.</small>
</h4>
<label id="businessId" style="display:none">@ViewBag.BusinessId</label>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="SuplierModal" data-name="Listado de Suplidores">
                        <h6 class="media-heading text-semibold">Listado de proveedores</h6>
                        Muestra el listado de  proveedores
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="SuplierPurchaseModal" data-name="Compras por Suplidores">
                            Compras por Suplidores
                        </h6>
                        Muestra las compras por suplidores
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="SuplierPaymentModal" data-name="Listado de Pagos Realizados">
                        <h6 class="media-heading text-semibold">Listado de Pagos Realizados</h6>
                        Muestra el listado  de los comprobantes disponible de la empresa
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/Report/Customer/Customer.js")></script>
}
