﻿
@{
    ViewData["Title"] = "Reporte de Comprobantes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}
    <h4 class="text-center content-group">
        Reportes de Movimientos de Almacen
        <small class="display-block">En esta sección encontrará todos los reportes relacionados con los Movimientos de Almacen.</small>
    </h4>
<label id="businessId" style="display:none">@ViewBag.BusinessId</label>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>
                <div class="media-body">
                    <a href="#" class="text-default callModal" data-url="WareHouseMovingToModal" data-name="Movimiento de Almacen Enviados">
                        <h6 class="media-heading text-semibold">Movimineto de Almacen Enviados</h6>
                        Muestra el listado  de los envios de almacenes
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#"><i class="icon-file-text2 text-info icon-2x no-edge-top mt-5"></i></a>
                </div>

                <div class="media-body">
                    <a href="#" class="text-default">
                        <h6 class="media-heading text-semibold  callModal" data-url="WareHouseMovingOfModal" data-name="Movimiento de Almacen Recibidos">
                            Movimineto de Almacen Recibidos
                        </h6>
                        Muestra el listado  de los recibos de almacenes
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/Report/Customer/Customer.js")></script>
}
