@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");

* {
    box-sizing: border-box;
}

    *::before, *::after {
        box-sizing: border-box;
    }

input[type="checkbox"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

    input[type="checkbox"]::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 7px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: #fff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
    }

    input[type="checkbox"]:checked {
        color: #2196f3;
        border-color: #2196f3;
        background: #2196f3;
    }

        input[type="checkbox"]:checked::before {
            opacity: 1;
        }

        input[type="checkbox"]:checked ~ label::before {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

/*.prueba {
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.span {
    color: #455A64;
    border: 2px solid #607D8B;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 2px;
    width: 18px;
    height: 18px;
}*/
