﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}


<iframe class="frame-responsive" sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals" scrolling="no" frameborder="0" src="@ViewBag.Url"></iframe>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Module/module.js")></script>
}

