﻿@model QuickSal.Web.ViewModels.Employee.EmployeeViewModel

@{
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();

    ViewData["Title"] = "Registrar empleado";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Registro de empleado<a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
    </div>

    <div class="panel-body">
        <form id="frm-create-employee">
            <div class="row">
                <div class="row text-center">
                    <a href="#" class="display-inline-block content-group-sm">
                        <input type="hidden" id="picture" name="Employee.Picture" value="" />
                        <img id="Picture-Account" src="@Model.UrlPhoto" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                    </a>
                </div>

                <div class="row">
                    <div class="caption text-center">
                        <a href="#" class="btn bg-indigo-400" id="btnPhotoProfile">
                            Seleccionar foto
                            <i class="icon-camera"></i>
                        </a>
                    </div>
                </div>
                <br />
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-reading position-left"></i> Datos personales</legend>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombres: <span class="text-danger">*</span></label>
                                    <input type="text" name="Employee.Name" placeholder="Ingrese los nombres" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Apellidos:</label>
                                    <input type="text" name="Employee.LastName" placeholder="Ingrese los apellidos" class="form-control">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <fieldset>
                            <legend class="text-semibold"><i class="icon-office position-left"></i> Datos laborales</legend>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Código: <span class="text-danger">*</span></label>
                                    <input type="text" name="Employee.EmployeeCode" value="@ViewBag.EmployeeCode" placeholder="Código empleado" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Privilegio: <span class="text-danger">*</span></label>
                                <div class="form-group">
                                    <select name="Employee.PrivilegesId" class="form-control">
                                        <option selected value="">Seleccionar...</option>
                                        @foreach (var item in Model.Privileges)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label>Tipo documento: <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select name="Employee.DocumentTypeId" class="form-control" data-type-document>
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Model.DocumentIdentifications)
                            {
                                <option value="@item.Id" @(((Model.User != null && Model.User.DocumentTypeId == item.Id) ? "Selected" : ""))>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Número de documento: <span class="text-danger">*</span></label>
                        <input type="text" name="Employee.DocumentNumber" placeholder="número documento" class="form-control" value="@(((Model.User!=null)?Model.User.DocumentNumber:""))" data-document>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Correo de acceso: <span class="text-danger">*</span></label>
                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="Email" name="Employee.User.Email">
                        <div class="form-control-feedback">
                            <i class="icon-key"></i>
                        </div>
                    </div>
                </div>


                @*<div class="col-md-3">
                <label>Sucursal asignada:</label>
                <div class="form-group">
                    <select name="Employee.BranchOfficeId" class="form-control">
                        <option selected value="">Seleccionar...</option>
                        @foreach (var item in Model.BranchOffices)
                        {
                            <option value="@(item.Id)">@item.Name</option>
                        }
                    </select>
                </div>
            </div>*@




                <div class="col-md-3">
                    <label>Teléfono:</label>
                    <div class="form-group">
                        <input class="form-control phone" placeholder="(888)-888-8888" name="Employee.Phone" value="@(((Model.User!=null)?Model.User.Telephone:""))">
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                <label>Celular:</label>
                <div class="form-group">
                    <input class="form-control phone" placeholder="(888)-888-8888" name="Employee.CellPhone" value="@(((Model.User!=null)?Model.User.CellPhone:""))">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Sueldo: </label>
                        <div class="form-group">
                            <input type="text" class="form-control number" name="Employee.Salary" value="0">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Puesto: </label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Employee.Position" value="">
                        </div>
                    </div>
                </div>
            </div>          
                <div class="col-md-3">
                    <label>Estado civil:</label>
                    <div class="form-group">
                        <select name="Employee.CivilStatus" class="form-control">
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CivilStatus)))
                            {
                                <option value="@(Convert.ToInt16(item))" @((((Model.User != null && Model.User.CivilStatus.HasValue) && Model.User.CivilStatus.Value == Convert.ToInt16(item)) ? "Selected" : ""))>@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CivilStatus)item)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Genero:</label>
                    <div class="form-group">
                        <select name="Employee.Gender" class="form-control">
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.Gender)))
                            {
                                <option value="@(Convert.ToInt16(item))" @((((Model.User != null && Model.User.Gender.HasValue) && Model.User.Gender.Value == Convert.ToInt16(item)) ? "Selected" : ""))>@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.Gender)item)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Fecha de nacimiento: </label>
                    <div class="input-group">
                        <span class="input-group-addon" style="padding-top:5%"><i class="icon-calendar22"></i></span>
                        <input type="datetime" class="form-control date" name="Employee.BirthDate" value="@(((Model.User!=null && Model.User.BirthDate.HasValue)?Model.User.BirthDate.Value:DateTime.Now.Date))">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Fecha de entrada: </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="datetime" class="form-control date" name="Employee.IntoDate" value="@DateTime.Now.Date">
                    </div>
                </div>
                <div class="col-md-3">
                    <label>País:</label>
                    <div class="form-group">
                        <select name="Employee.CountryId" class="form-control" id="Country" data-country>
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Model.Countries)
                            {
                                <option value="@item.Id" @(((Model.User != null && Model.User.CountryId == item.Id) ? "Selected" : ""))>@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Estado/Provincia:</label>
                    <div class="form-group">
                        <select name="Employee.ProvinceId" class="form-control" id="ProvinceId" data-province>
                            <option selected value="">Seleccionar...</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email empresa:</label>
                            <div class="form-group">
                                <input type="email" class="form-control" name="Employee.InstitutionalEmail" placeholder="Correo asignado en la empresa">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Dirección personal:</label>
                    <div class="form-group">
                        <textarea class="form-control" name="Employee.Direction" rows="5" cols="5"></textarea>
                    </div>
                </div>
            </div>
        </form>

        <form id="Picture-Profile" method="post" enctype="multipart/form-data">
            <input style="visibility:hidden" type="file" id="PhotosUpload" name="files" />
        </form>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-checkmark4 position-left"></i> Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Employee/Employee.js")></script>
}