﻿@model QuickSal.Web.ViewModels.Employee.EmployeeViewModel

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Empleados</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Privilegio</th>
                        <th>Puesto</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.EmployeeBusiness != null && Model.EmployeeBusiness.Count() > 0)
                    {
                        foreach (var Employee in Model.EmployeeBusiness)
                        {
                    <tr>
                        <td>@Employee.EmployeeCode</td>
                        <td>@Employee.Name</td>
                        <td>@Employee.LastName</td>
                        <td>@Employee.Privileges.Name</td>
                        <td>@Employee.Position</td>
                        @if (Employee.Estatus)
                        {
                            <td>
                                <span class="label label-success col-md-4">Activo</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span class="label label-danger col-md-4">Inactivo</span>
                            </td>
                        }
                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="@Url.Action("EditEmployee",new {Id=Employee.Id })">
                                                <i class="icon-pencil6">
                                                </i> Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-status="@((Employee.Estatus) ? false : true)" data-employee="@Employee.Id" class="status">
                                                <i class="@(((Employee.Estatus)?"icon-blocked":"icon-undo"))">
                                                </i> @(((Employee.Estatus) ? "Desactivar" : "Activar"))
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="@Url.Action("EmployeeIndex")" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Employee/Employee.js")></script>
}
