﻿@model QuickSal.Web.ViewModels.Customer.Invoice.SalesPoint.InvoiceViewModel

@{
    ViewData["Title"] = "Factura";
    Layout = "~/Views/Shared/Dashboard/SalesPoint/_Layout_Invoice.cshtml";
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="row sale-pos-body">
    @*<div class="col-sm-7 col-md-8">*@
        <div class="contents pos-panel-products" id="right-col">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="search">
                        <input id="searchProd" type="text" class="searchTerm" placeholder="Buscar producto">
                        <button type="submit" class="searchButton">
                            <i class="icon-search4"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <select id="warehouses" name="Product.SupplierId" class="form-control warehouses">
                        @foreach (var item in Model.Warehouses)
                        {
                            <option @((item.Principal) ? "selected" : "") value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="items pos-list-product">
                        <div id="ProductItem">
                            <!---render productos-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@

    @*<div class="col-sm-5 col-md-4">*@
        <div class="pos-invoice-options">
            <div class="row customer-list">
                <div class="col-md-11 col-sm-10 col-xs-11">
                    <select id="customerSelect" class="form-control">
                        <option selected value="">Cliente...</option>
                        @foreach (var item in Model.customers)
                        {
                            <option value="@item.Id">@item.Names</option>
                        }
                    </select>
                </div>
                <div class="col-md-1 col-sm-2 col-xs-1">
                    <div class="pull-right">
                        <button type="button" id="AddCustomer" class="btn btn-primary">
                            <i class="icon-plus-circle2" id="addIcon"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row creditType-list">
                <div class="col-md-12">
                    <select id="CreditType" class="form-control">
                        <option value="">Tipo de pago..</option>
                        @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CreditType)))
                        {
                            <option @(((Convert.ToInt16(item) == (int)QuickSal.Services.Support.EnumTypes.CreditType.Counted) ? "selected" : "")) value="@(Convert.ToInt16(item))">@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CreditType)item)</option>
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="input-group" style="display:none">
                        <span class="input-group-addon" id="basic-addon3">Vencimiento</span>
                        <input type="text" class="date form-control" id="ExpirationDate" name="InvoiceHeader.ExpirationDate">
                        <input type="text" class="date form-control" id="DocumentDate" name="InvoiceHeader.DocumentDate" style="display:none" value="@DateTime.Now">
                    </div>
                </div>
            </div>

            <div class="row ncf-list">
                <div class="col-md-12">
                    <select id="CreditType" class="form-control">
                        <option selected value="">Comprobante...</option>
                        @foreach (var item in Model.Ncfprefixes)
                        {
                            <option value="@item.Id">@item.Prefix</option>
                        }
                    </select>
                </div>

            </div>

            <div class="row item-list">
                <div class="col-md-12">
                    <table class="table table-striped table-condensed table-hover list-table" style="margin:0px;" data-height="100">
                        <tr>
                            <td>
                                <table id="posTable" class="table table-striped table-condensed table-hover list-table" style="margin:0px;" data-height="100">
                                    <thead>
                                        <tr class="success">
                                            <th style="width:50%;text-align:left">Producto</th>
                                            <th style="width:20%;text-align:left">Precio</th>
                                            <th style="width:10%;text-align:left">Cant.</th>
                                            <th style="width:10%;text-align:left">SubTotal</th>
                                            <th style="width:10%;text-align:left"><i class="icon-trash" style="width:70px"></i></th>
                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="item-list-scrolls">
                                    <table id="itemsTable" class="table table-striped table-condensed table-hover list-table" style="margin:0px;" data-height="100">
                                        <tbody>
                                            <!--Articulos factura-->
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row total-invoice">
                <div class="col-md-12">
                    <table id="totaltbl" class="table table-condensed totals">
                        <tbody>
                            <tr class="info">
                                <td width="25%">Total de artículos</td>
                                <td class="text-right" style="padding-right:10px;">
                                    <span id="total-items">0</span>
                                </td>
                                <td width="25%">SubTotal</td>
                                <td class="text-right" colspan="2">
                                    <span id="Subtot">0.00</span>
                                </td>
                            </tr>
                            <tr class="info">
                                <td width="25%"><span id="add_discount">Descuento</span></td>
                                <td class="text-right" style="padding-right:10px;"><span id="ds_con">(0.00) 0.00</span></td>
                                <td width="25%"><span id="add_tax">Impuesto</span></td>
                                <td class="text-right">
                                    <span id="TotalTax">0.00</span>
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="2" style="font-weight:bold;">
                                    Total a pagar
                                </td>
                                <td class="text-right" colspan="2" style="font-weight:bold;">
                                    <span id="Total">0.00</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row buttons-options">    
                <div class="col-xs-4" style="padding: 0;">
                    <button type="button" class="btn btn-danger btn-block btn-flat" style="height:67px;" id="reset" data-url="@Url.Action("InvoiceList","invoice")">Cancelar</button>
                </div>
                <div class="col-xs-4" style="padding: 0;">
                    <button type="button" class="btn btn-warning btn-block btn-flat" style="height:67px;" id="btn-Order" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">Crear Pedido</button>
                </div>
                <div class="col-xs-4" style="padding: 0;">
                    <button type="button" class="btn btn-success btn-block btn-flat save" id="payment" style="height:67px;" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">Pagar</button>
                </div>
            </div>


        </div>
    @*</div>*@
</div>

@section scripts{
    <script src="~/Scripts/Dashboard/Customer/Invoice/payment.js"></script>
    <script src="~/Scripts/Dashboard/Customer/Invoice/SalesPoint/invoice.js"></script>
}