﻿@model QuickSal.Web.ViewModels.Inventory.Product.ProductViewModel

@{
    ViewData["Title"] = "Editar producto";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Actualizar producto @Model.Product.Name<a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
    </div>

    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="active">
                    <a href="#left-icon-tab1" data-toggle="tab" aria-expanded="true">
                        <i class="icon-cube position-left"></i> Datos del producto
                    </a>
                </li>
                <li>
                    <a href="#left-icon-tab2" data-toggle="tab" aria-expanded="true">
                        <i class="icon-price-tag position-left"></i> Precios del producto
                    </a>
                </li>
                <li>
                    <a href="#left-icon-tab3" data-toggle="tab" aria-expanded="true">
                        <i class="icon-cube3 position-left"></i> Inventario del producto
                    </a>
                </li>
            </ul>
            <form action="#" id="edit-product">
                <div class="tab-content">
                    <div class="tab-pane active" id="left-icon-tab1">
                        <fieldset>
                            <div class="row">
                                <div class="row text-center">
                                    <a href="#" class="display-inline-block content-group-sm">
                                        <img id="Picture-Account" src="@Model.UrlProduct" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                                    </a>
                                </div>

                                <div class="row">
                                    <div class="caption text-center">
                                        <a href="#" class="btn bg-indigo-400" id="btnPhotoProfile">
                                            Seleccionar foto
                                            <i class="icon-camera"></i>
                                        </a>
                                    </div>
                                </div>
                                <br />
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre: <span class="text-danger">*</span></label>
                                        <input type="text" name="Product.Name" placeholder="Ingrese los nombres" class="form-control" value="@Model.Product.Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Código: <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="Product.Code" placeholder="Código" value="@Model.Product.Code" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Proveedor:</label>
                                    <div class="form-group">
                                        <select name="Product.SupplierId" class="select">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Suppliers)
                                            {
                                                <option value="@item.Id" @(((Model.Product.SupplierId.HasValue && Model.Product.SupplierId.Value == item.Id) ? "selected" : ""))>@item.Names</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Categoría</label>
                                        <select data-categories class="select">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Categories)
                                            {
                                                <option value="@item.Id" @(((Model.Product.SubCategoryId.HasValue && Model.Product.SubCategory.Category.Id == item.Id) ? "selected" : ""))>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>SubCategoría:</label>
                                        <div class="form-group">
                                            <select name="Product.SubCategoryId" data-subcategories class="form-control">
                                                <option selected value="">Seleccionar...</option>
                                                @if (Model.SubCategories != null)
                                                {
                                                    foreach (var item in Model.SubCategories)
                                                    {
                                                        <option value="@item.Id" @(((Model.Product.SubCategoryId.HasValue && Model.Product.SubCategoryId.Value == item.Id) ? "selected" : ""))>@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Medida:</label>
                                    <div class="form-group">
                                        <select name="Product.MeasureId" class="select">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Measures)
                                            {
                                                <option value="@item.Id" @(((Model.Product.MeasureId.HasValue && Model.Product.MeasureId.Value == item.Id) ? "selected" : ""))>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Impuesto de compra:</label>
                                        <div class="form-group">
                                            <select name="Product.TaxId" class="select">
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Taxes)
                                                {
                                                    <option value="@item.Id" @(((Model.Product.TaxId.HasValue && Model.Product.TaxId.Value == item.Id) ? "selected" : ""))>@item.Abbreviation</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Costo:</label>
                                        <input type="text" name="Product.Cost" placeholder="Costo producto" class="form-control number" value="@Model.Product.Cost.ToString("N2")" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Descripción:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Product.Description" rows="5" cols="5">@Model.Product.Description</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Referencia:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Product.Reference" rows="5" cols="5">@Model.Product.Reference</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Observación:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Product.Observation" rows="5" cols="5">@Model.Product.Observation</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Servicio:</label>
                                        <div class="checkbox checkbox-switchery">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery" name="Product.IsService" id="IsService" value="@(((Model.Product.IsService)?"true":"false"))" @(((Model.Product.IsService) ? "checked" : ""))>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vender sin existencia:</label>
                                        <div class="checkbox checkbox-switchery" id="InvoiceWithoutExistence">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery" name="Product.InvoiceWithoutExistence" value="@(((Model.Product.InvoiceWithoutExistence)?"true":"false"))" @(((Model.Product.InvoiceWithoutExistence) ? "checked" : ""))>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vender bajo costo:</label>
                                        <div class="checkbox checkbox-switchery" id="SellLowCost">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery" name="Product.SellLowCost" value="@(((Model.Product.SellLowCost)?"true":"false"))" @(((Model.Product.SellLowCost) ? "checked" : ""))>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" id="left-icon-tab2">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Impuesto de venta:<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select id="priceTax" class="form-control">
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Taxes)
                                                {
                                                    <option value="@item.Id" data-percent="@item.Quantity">@item.Abbreviation</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Costo: <span class="text-danger">*</span></label>
                                        <input type="text" id="CostPreview" disabled placeholder="0.00" class="form-control" value="@Model.Product.Cost.ToString("N2")">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>% Ganacia: <span class="text-danger">*</span></label>
                                        <input type="text" id="gain" placeholder="Ganancia" class="form-control number" value="0.00">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Precio: <span class="text-danger">*</span></label>
                                        <input type="text" id="price" placeholder="Precio para la venta" class="form-control number" value="0.00">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre: <span class="text-danger">*</span></label>
                                        <input type="text" id="priceName" placeholder="Nombre del precio" class="form-control" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Precio principal:</label>
                                        <div class="checkbox checkbox-switchery" id="PrincipalPrice">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="BtnAddPrice" class="btn border-slate text-slate-800 btn-flat pull-right">
                                        <i class="icon-plus2 position-right"></i> Agregar precio
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="PriceTable" class="display" style="width:100%"></table>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" id="left-icon-tab3">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Almacén: <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select id="Warehouse" class="form-control" disabled>
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Warehouses)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cantidad: <span class="text-danger">*</span></label>
                                        <input type="text" id="Quantity" placeholder="Cantidad del producto" class="form-control" value="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="BtnAddWarehouse" class="btn border-slate text-slate-800 btn-flat" style="margin-top:25px" disabled>
                                        <i class="icon-plus2 position-right"></i> Agregar cantidad
                                    </button>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <table class="table dataTable display responsive nowrap" style="width:100%" id="WareHouseTable" disabled>
                                    <thead>
                                        <tr>
                                            <th>Almacén</th>
                                            <th>Cantidad</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var inventory in Model.Product.TblInventoryWarehouse)
                                        {
                                            <tr>
                                                <td>@inventory.Warehouse.Name</td>
                                                <td>@inventory.ProductAmount</td>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-icon"><i class="icon-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <small class="nota">La cantidad de productos no pueden ser editados en esta sección</small>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <input type="hidden" name="Product.Picture" id="picture" value="" />
                <input type="hidden" name="Product.Id" value="@Model.Product.Id" />
            </form>
            <form id="Picture-Profile" action="@Url.Action("SaveUploadedPicture", "Account")" method="post" enctype="multipart/form-data">
                <input style="visibility:hidden" type="file" id="PhotosUpload" name="files" />
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-checkmark4 position-left"></i> Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/product.js")></script>
}