﻿@model QuickSal.Web.ViewModels.Inventory.Product.ProductViewModel

@{
    ViewData["Title"] = "Registro de producto";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Registro de producto<a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
    </div>

    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="active">
                    <a href="#left-icon-tab1" data-toggle="tab" aria-expanded="true">
                        <i class="icon-cube position-left"></i> Datos del producto
                    </a>
                </li>
                <li>
                    <a href="#left-icon-tab2" data-toggle="tab" aria-expanded="true">
                        <i class="icon-price-tag position-left"></i> Precios del producto
                    </a>
                </li>
                <li>
                    <a href="#left-icon-tab3" data-toggle="tab" aria-expanded="true">
                        <i class="icon-cube3 position-left"></i> Inventario del producto
                    </a>
                </li>
            </ul>
            <form action="#" id="crete-product">
                <div class="tab-content">
                    <div class="tab-pane active" id="left-icon-tab1">
                        <fieldset>
                            <div class="row">
                                <div class="row text-center">
                                    <a href="#" class="display-inline-block content-group-sm">
                                        <img id="Picture-Account" src="@Model.UrlProduct" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                                    </a>
                                </div>

                                <div class="row">
                                    <div class="caption text-center">
                                        <a href="#" class="btn bg-indigo-400" id="btnPhotoProfile">
                                            Seleccionar foto
                                            <i class="icon-camera"></i>
                                        </a>
                                    </div>
                                </div>
                                <br />
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre: <span class="text-danger">*</span></label>
                                        <input type="text" name="Product.Name" placeholder="Ingrese los nombres" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Código: <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="Product.Code" placeholder="Código" value="@ViewBag.ProductCode">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Proveedor:</label>
                                    <div class="form-group">
                                        <select name="Product.SupplierId" class="select selectized">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Suppliers)
                                            {
                                                <option value="@item.Id">@item.Names</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Categoría</label>
                                        <select data-categories class="select selectized">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Categories)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>SubCategoría:</label>
                                        <div class="form-group">
                                            <select name="Product.SubCategoryId" data-subcategories class="form-control">
                                                <option selected value="">Seleccionar...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Medida:</label>
                                    <div class="form-group">
                                        <select name="Product.MeasureId" class="select selectized">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Measures)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Impuesto de compra:</label>
                                        <div class="form-group">
                                            <select name="Product.TaxId" class="select selectized">
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Taxes)
                                                {
                                                    <option value="@item.Id">@item.Abbreviation</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Costo:</label>
                                        <input type="text" name="Product.Cost" placeholder="Costo producto" class="form-control number" value="0.00">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Descripción:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Product.Description" rows="5" cols="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Referencia:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Product.Reference" rows="5" cols="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Observación:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Product.Observation" rows="5" cols="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Servicio:</label>
                                        <div class="checkbox checkbox-switchery">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery" name="Product.IsService" id="IsService">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vender sin existencia:</label>
                                        <div class="checkbox checkbox-switchery" id="InvoiceWithoutExistence">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery" name="Product.InvoiceWithoutExistence">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Vender bajo costo:</label>
                                        <div class="checkbox checkbox-switchery" id="SellLowCost">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery" name="Product.SellLowCost">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" id="left-icon-tab2">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Impuesto de venta:<span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select id="priceTax" class="form-control" >
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Taxes)
                                                {
                                                    <option value="@item.Id"  data-percent="@item.Quantity">@item.Abbreviation </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Costo: <span class="text-danger">*</span></label>
                                        <input type="text" id="CostPreview" placeholder="0.00" class="form-control number" value="0.00">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>% Ganacia: <span class="text-danger">*</span></label>
                                        <input type="text" id="gain" placeholder="Ganancia" class="form-control number" value="0.00">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Precio: <span class="text-danger">*</span></label>
                                        <input type="text" id="price" placeholder="Precio para la venta" class="form-control number" value="0.00">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre: <span class="text-danger">*</span></label>
                                        <input type="text" id="priceName" placeholder="Nombre del precio" class="form-control" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Precio principal:</label>
                                        <div class="checkbox checkbox-switchery" id="PrincipalPrice">
                                            <label>
                                                <input type="checkbox" class="checkbox-switchery precioPr">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="BtnAddPrice" class="btn border-slate text-slate-800 btn-flat pull-right">
                                        <i class="icon-plus2 position-right"></i> Agregar precio
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="PriceTable" class="display" style="width:100%"></table>                                 
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" id="left-icon-tab3">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Almacén: <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <select id="Warehouse" class="select selectized">
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Warehouses)
                                                {
                                                    <option value="@item.Id">@item.Name - @item.BranchOffice.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Cantidad: <span class="text-danger">*</span></label>
                                        <input type="number" id="Quantity" placeholder="Cantidad del producto" class="form-control number" value="">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="BtnAddWarehouse" class="btn border-slate text-slate-800 btn-flat" style="margin-top:25px">
                                        <i class="icon-plus2 position-right"></i> Agregar cantidad
                                    </button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <table class="table dataTable display responsive nowrap" style="width:100%" id="WareHouseTable">
                                    <thead>
                                        <tr>
                                            <th>Almacén</th>
                                            <th>Cantidad</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Filas dinamicas-->
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <input type="hidden" name="Product.Picture" id="picture" value="" />
            </form>
            <form id="Picture-Profile" action="@Url.Action("SaveUploadedPicture", "Account")" method="post" enctype="multipart/form-data">
                <input style="visibility:hidden" type="file" id="PhotosUpload" name="files" />
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-checkmark4 position-left"></i> Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/product.js")></script>
}