﻿@model QuickSal.Web.ViewModels.Inventory.Product.ProductViewModel

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Productos</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Servicio</th>
                        <th>Costo</th>
                        <th>Medida</th>
                        <th>Proveedor</th>
                        <th>Cantidad almacén</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products != null && Model.Products.Count() > 0)
                    {
                        foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Code</td>
                                <td>@product.Name</td>
                                @if (product.IsService)
                                {
                                    <td>Si</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                                <td>@product.Cost.ToString("N2")</td>
                                <td>@product.Measure</td>
                                <td>@product.Supplier</td>
                                <td>@product.QuantityTotal</td>
                                @if (product.Status)
                                {
                                    <td>
                                        <span class="label label-success">Activo</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger">Inactivo</span>
                                    </td>
                                }
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="@Url.Action("EditProduct",new {Id=product.Id })">
                                                        <i class="icon-pencil6">
                                                        </i> Editar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-status="@((product.Status) ? false : true)" data-product="@product.Id" class="status">
                                                        <i class="@(((product.Status)?"icon-blocked":"icon-undo"))">
                                                        </i> @(((product.Status) ? "Desactivar" : "Activar"))
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="@Url.Action("ProductIndex","Product")" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Inventory/product.js")></script>
}
