﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quicksal-@ViewData["Title"]</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href=@Url.Content("~/Css/icomoon.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/core.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/components.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/colors.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/selectize.default.css") rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
    <!-- Start of HubSpot Embed Code -->
    @*<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5321929.js"></script>*@
    <!-- End of HubSpot Embed Code -->
    <!-- Start of HubSpot Embed Code -->
    <!-- End of HubSpot Embed Code -->
    <!-- /global stylesheets -->
    <link href=@Url.Content("~/Css/Dashboard/selectize.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/jquery.dataTables.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/responsive.dataTables.min.css") rel="stylesheet" />

    <script type="bceaada4f98aab7916117a31-text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-92267365-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="navbar-top" data-root="@Url.Action("UserAccount","Account")">
    @await Component.InvokeAsync("PrincipalMenu")


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            @await Component.InvokeAsync("BussinesMenu")
            @*@Html.Partial("~/Views/Shared/dashboard/_Header.cshtml")*@
            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    @RenderBody()

                    <!-- /dashboard content -->
                    <!-- Footer -->
                    <div class="footer text-muted">
                        &copy; 2021. Sistema de facturación <a href="https://quicksal.com/"> Quicksal </a> creado por <a href="https://jeturing.com/" target="_blank">Jeturing</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
 
    @Html.Partial("~/Views/Shared/dashboard/_Modal.cshtml")
    <!--/dinamic modal-->
</body>
</html>
<!-- Core JS files -->

<script src=@Url.Content("~/Scripts/Dashboard/pace.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.mask.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.validate.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/bootstrap.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/moment.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/blockui.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/nicescroll.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/select2.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/drilldown.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/app.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/Alert.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/switchery.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/selectize.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/daterangepicker.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/steps.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.dataTables.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/bootstrap_multiselect.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/dataTables.responsive.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/daterangepicker.js")></script>

<!-- Theme JS files -->
<script src=@Url.Content("~/Scripts/Dashboard/d3.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/d3_tooltip.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/c3.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/c3_advanced.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/uniform.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/pnotify.min.js")></script>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<!-- /theme JS files -->

<!-- /core JS files -->
<!--Especial JS-->
<script src=@Url.Content("~/Scripts/ProcessAdminConfig.js")></script>
<script src=@Url.Content("~/Scripts/ProcessManager.js")></script>
@RenderSection("scripts", required: false)

<script src=@Url.Content("~/Scripts/Dashboard/moment.min.js")></script>