﻿<div id="Generic-modal" class="modal fade"  data-keyboard="false" tabindex="-1"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">
                    <i id="Modal-icon"></i>
                    <label id="Title"></label>
                </h5>
            </div>
            <hr />
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <hr />
                <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="MdAceptar" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>