﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quicksal-@ViewData["Title"]</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href=@Url.Content("~/Css/icomoon.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/core.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/components.css") rel="stylesheet" />
    <link href=@Url.Content("~/Css/Dashboard/colors.css") rel="stylesheet" />
    <!-- /global stylesheets -->

</head>

<body data-root="@Url.Action("UserAccount","Account")">

    @RenderBody()

    <!-- /page container -->
    <!--Dinamic modal-->
    <div id="Generic-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">
                        <i id="Modal-icon"></i>
                        <label id="Title"></label>
                    </h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btnCancel" type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    <button id="BtnAceptar" type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!--/dinamic modal-->

</body>
</html>

<!-- Core JS files -->
<script src=@Url.Content("~/Scripts/Dashboard/pace.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/bootstrap.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/jquery.validate.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/blockui.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/nicescroll.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/drilldown.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/app.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/Alert.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/datatables.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/switchery.min.js")></script>
<script src=@Url.Content("~/Scripts/Dashboard/pnotify.min.js")></script>

<!-- /core JS files -->
<!--Especial JS-->
<script src=@Url.Content("~/Scripts/ProcessManager.js")></script>
@RenderSection("scripts", required: false)