﻿@model QuickSal.Web.ViewModels.Customer.Invoice.FormalInvoice.InvoiceFormalViewModel
@{
    ViewData["Title"] = "Editar factura de ventas";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}


<div class="panel panel-flat">
    <div class="panel-body">
        <div id="invoice">
            <div class="invoice overflow-auto">
                <form id="frm-InvoiceEdit" action="#" class="@(((Model.InvoiceHeader.DocumentEstatusId!=(int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)?"disabled":""))">
                    <input type="hidden" id="CustomerId" value="@Model.Customer.Id" />
                    <input type="hidden" id="InvoiceId" value="@Model.InvoiceHeader.Id" />

                    @if (Model.GenericVm != null && Model.GenericVm.PendingBalance != null && Model.GenericVm.PendingBalance.Count > 0)
                    {
                        <!--Generamos una tabla dinamica para pasar la informacion que luego eliminamos-->
                        <table id="TableMemoryPendigBalance" style="display:none">
                            @foreach (var balance in Model.GenericVm.PendingBalance)
                            {
                                <tr>
                                    <td>@balance.Key</td>
                                    <td>@balance.Value</td>
                                </tr>
                            }
                        </table>
                    }

                    <div style="min-width: 600px">
                        <main>
                            <div class="row contacts">
                                <div class="col-md-6 col-xs-6 invoice-to">
                                    <div class="text-gray-light"> <strong>Factura de ventas a:</strong></div>
                                    <h5 class="to">@Model.Customer.Code</h5>
                                    <h2 class="to">@Model.Customer.Names</h2>
                                    <div class="address">@Model.Customer.AddressCustomers</div>
                                    <div class="email"><a href="mailto:@Model.Customer.Email">@Model.Customer.Email</a></div>
                                </div>
                                <div class="col-md-6 col-xs-6 invoice-details">
                                    <h2 class="invoice-id">
                                        Factura de ventas:
                                        <i class="icon-cart-remove"></i>
                                        <label id="documentNumber">@Model.InvoiceHeader.DocumentNumber</label>
                                    </h2>
                                    <table align="right">
                                        <tr>
                                            <td>Fecha documento:</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="date" id="DocumentDate" value="@Model.InvoiceHeader.DocumentDate">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fecha vencimiento:</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="date" id="ExpirationDate" value="@Model.InvoiceHeader.ExpirationDate">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="thin-input cursor" id="CreditType" tabindex="-1" aria-hidden="true">
                                                    <option value="" selected>Tipo de pago</option>
                                                    @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CreditType)))
                                                    {
                                                        <option @(((Convert.ToInt16(item) == Model.InvoiceHeader.CreditTypeId) ? "selected" : "")) value="@(Convert.ToInt16(item))">@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CreditType)item)</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="thin-input" id="ncf" value="@Model.InvoiceHeader.Ncf" placeholder="NCF">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <table class="@(((Model.InvoiceHeader.DocumentEstatusId!=(int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)?"display disabled":"display"))" id="InvoiceTable">
                                <tbody>
                                    @foreach (var item in Model.InvoiceRows)
                                    {
                                        <tr>
                                            <td>@item.Code</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.MeaseureAbbreviation</td>
                                            <td>
                                                <input type="text" class="form-control number inputQuantity" value="@item.ItemQuantity">
                                            </td>
                                            <td>
                                                <input name="inputPrice" type="text" class="form-control number inputPrice" value="@item.Price">
                                            </td>
                                            <td>
                                                <input name="inputDesc" type="text" class="form-control number inputDesc" value="@item.ItemDiscount">
                                            </td>
                                            <td>@item.TaxAbbreviation</td>
                                            <td>@item.SubTotal</td>
                                            <td>@item.WareHouseName</td>
                                            <td>@item.AmountTax</td>
                                            <td>@item.AmountDiscount</td>
                                            <td>@item.ProductId</td>
                                            <td>@item.WarehouseId</td>
                                            <td>@item.Tax</td>
                                            <td>@item.Id</td>
                                            <td>
                                                <span class="itemRemove">
                                                    <i class="icon-trash"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="notices">
                                        <div>Observación:</div>
                                        <div class="notice">
                                            <textarea type="text" placeholder="Observación" id="Observation" rows="5" name="Observation" class="form-control">@Model.InvoiceHeader.Observation</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <table class="tfooter">
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">SubTotal</td>
                                            <td id="subTotal">@Model.InvoiceHeader.SubTotal.ToString("N2")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Impuesto</td>
                                            <td id="impTotal">@Model.InvoiceHeader.TotalTax.ToString("N2")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Descuento</td>
                                            <td id="desTotal">@Model.InvoiceHeader.Discount.ToString("N2")</td>
                                        </tr>
                                        <tr style="@(((Model.GenericVm!=null && Model.GenericVm.PendingBalance!=null && Model.GenericVm.PendingBalance.Count>0)?"":"display:none"))">
                                            <td colspan="2"></td>
                                            <td colspan="2">
                                                <i class="icon-file-plus"></i> Crédito
                                            </td>
                                            <td>
                                                <i class="icon-minus2"></i>
                                                <span id="PendingBalanceTotal">
                                                    @(((Model.GenericVm != null && Model.GenericVm.PendingBalance != null && Model.GenericVm.PendingBalance.Count > 0)? Model.GenericVm.PendingBalance.Sum(x => x.Value).ToString("N2"):"0.00"))
                                                </span>
                                                <i class="icon-bin cursor" id="removePendigBalance"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Total</td>
                                            <td id="total">@Model.InvoiceHeader.Total.ToString("N2")</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </main>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-6">
            <div class="btn-group dropup">
                <button type="button" class="btn text-slate-800 btn-labeled dropdown-toggle btn-flat" data-toggle="dropdown" aria-expanded="false">
                    <b>
                        <i class="icon-files-empty2"></i>
                    </b> Documentos <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#" class="cursor" id="PendigBalance"><i class="icon-cash2"></i> Balance Pendiente</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("FormalInvoiceList")" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat">
                        <i class="icon-cross2 position-left"></i> Cancelar
                    </a>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="@(((Model.InvoiceHeader.DocumentEstatusId!=(int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)?"dropdown disabled":"dropdown"))">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icon-check position-left"></i> Aceptar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                    <i class="icon-floppy-disk"></i> Guardar
                                </a>
                            </li>
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                    <i class="icon-checkmark4"></i> Registrar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/Invoice/FormalInvoice/invoice.js")></script>
}