﻿@model QuickSal.Web.ViewModels.Customer.Invoice.FormalInvoice.InvoiceFormalViewModel

@{
    ViewData["Title"] = "Facturas";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">@ViewData["Title"]</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap" table-order="[[0,desc]]">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Vencimiento</th>
                        <th>Estatus</th>
                        <th>NCF</th>
                        <th>Balance</th>
                        <th>Total</th>
                        <th>Responsable</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Invoices != null && Model.Invoices.Count() > 0)
                    {
                        foreach (var invoice in Model.Invoices)
                        {
                            <tr>
                                <td>@invoice.DocumentNumber</td>
                                <td>@invoice.CustomerName</td>
                                <td>@invoice.DocumentDate.ToShortDateString()</td>
                                <td>@invoice.ExpirationDate.ToShortDateString()</td>
                                @if (invoice.DocumentStatus == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                {
                                    <td><span class="label label-success col-lg-10">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)invoice.DocumentStatus))</span></td>
                                }
                                else if (invoice.DocumentStatus == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
                                {
                                    <td><span class="label label-warning col-lg-10">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)invoice.DocumentStatus))</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-default">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)invoice.DocumentStatus))</span></td>
                                }
                                <td>@invoice.NCF</td>
                                <td>@invoice.Balance.ToString("N2")</td>
                                <td>@invoice.Total.ToString("N2")</td>
                                <td>@invoice.EmployeeCreate</td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                @if (invoice.DocumentStatus == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("EditFormalInvoice",new {Id=invoice.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@invoice.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)">
                                                            <i class="icon-x">
                                                            </i> Anular
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@invoice.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                                            <i class="icon-cog2">
                                                            </i> Procesar
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@Url.Action("EditFormalInvoice",new {Id=invoice.Id })">
                                                            <i class="icon-eye">
                                                            </i> Ver
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button type="button" class="btn border-slate text-slate-800 btn-flat" id="BtnNueva">
                    <i class="icon-plus3 position-left"></i> Nueva
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Dashboard/Customer/Invoice/FormalInvoice/invoice.js"></script>
    <script src="~/Scripts/Dashboard/Customer/Invoice/invoiceList.js"></script>
}