﻿@model QuickSal.Web.ViewModels.Customer.Invoice.FormalInvoice.InvoiceFormalViewModel
@{
    ViewData["Title"] = "Nueva factura";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}


<div class="panel panel-flat">
    <div class="panel-body">
        <div id="invoice">
            <div class="invoice overflow-auto">
                <form id="frm-InvoiceCreate" action="#">
                    <input type="hidden" id="CustomerId" value="@Model.Customer.Id" />

                    <div style="min-width: 600px">
                        <main>
                            <div class="row contacts">
                                <div class="col-md-6 col-xs-6 invoice-to">
                                    <div class="text-gray-light"> <strong>Factura a:</strong></div>
                                    <h5 class="to">@Model.Customer.Code</h5>
                                    <h2 class="to">@Model.Customer.Names</h2>
                                    <div class="address">@Model.Customer.AddressCustomers</div>
                                    <div class="email"><a href="mailto:@Model.Customer.Email">@Model.Customer.Email</a></div>
                                </div>
                                <div class="col-md-6 col-xs-6 invoice-details">
                                    <h2 class="invoice-id">
                                        Factura de:
                                        <i class="icon-cart-remove"></i>
                                        <label id="documentNumber">@ViewBag.Invoice</label>
                                    </h2>
                                    <table align="right">
                                        <tr>
                                            <td>Fecha documento:</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="date" id="DocumentDate" name="Customer.DocumentDate">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fecha vencimiento:</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="date" id="ExpirationDate" name="Customer.ExpirationDate">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select class="thin-input cursor" id="CreditType" tabindex="-1" aria-hidden="true">
                                                    <option value="" selected>Tipo de pago</option>
                                                    @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CreditType)))
                                                    {
                                                        <option @(((Convert.ToInt16(item)==(int)QuickSal.Services.Support.EnumTypes.CreditType.Counted)?"selected":"")) value="@(Convert.ToInt16(item))">@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CreditType)item)</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="thin-input" name="Customer.ncf" id="ncf" value="" placeholder="NCF">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <table class="display" id="InvoiceTable">
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="notices">
                                        <div>Observación:</div>
                                        <div class="notice">
                                            <textarea type="text" placeholder="Observación" id="Observation" rows="5" name="Observation" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <table class="tfooter">
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">SubTotal</td>
                                            <td id="subTotal">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Impuesto</td>
                                            <td id="impTotal">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Descuento</td>
                                            <td id="desTotal">0.00</td>
                                        </tr>
                                        <tr style="display:none">
                                            <td colspan="2"></td>
                                            <td colspan="2">
                                                <i class="icon-file-plus"></i> Crédito
                                            </td>
                                            <td>
                                                <i class="icon-minus2"></i>
                                                <span id="PendingBalanceTotal">0.00</span>
                                                <i class="icon-bin cursor" id="removePendigBalance"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Total</td>
                                            <td id="total">0.00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </main>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-6">
            <div class="btn-group dropup">
                <button type="button" class="btn text-slate-800 btn-labeled dropdown-toggle btn-flat" data-toggle="dropdown" aria-expanded="false">
                    <b>
                        <i class="icon-files-empty2"></i>
                    </b> Documentos <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#" class="cursor" id="PendigBalance"><i class="icon-cash2"></i> Balance Pendiente</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("FormalInvoiceList")" class="btn border-slate text-slate-800 btn-flat back">
                        <i class="icon-cross2 position-left"></i> Cancelar
                    </a>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icon-check position-left"></i> Aceptar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                    <i class="icon-floppy-disk"></i> Guardar
                                </a>
                            </li>
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                    <i class="icon-checkmark4"></i> Registrar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/Invoice/FormalInvoice/invoice.js")></script>
}
