﻿@model QuickSal.Web.ViewModels.Supplier.SupplierViewModel

@{ ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml"; }

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Proveedores</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Balance</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Suppliers != null && Model.Suppliers.Count() > 0)
                    {
                        foreach (var Supplier in Model.Suppliers)
                        {
        <tr>
            <td>@Supplier.Code</td>
            <td>@Supplier.Names</td>
            <td>@Supplier.Movil</td>
            <td>@(((Supplier.PendingBalance.HasValue)? Supplier.PendingBalance.Value.ToString("N2"):"0"))</td>
            @if (Supplier.Estatus)
            {
            <td>
                <span class="label label-success col-md-4">Activo</span>
            </td>
             }
            else
            {
            <td>
                <span class="label label-danger col-md-4">Inactivo</span>
            </td>
            }
            <td class="text-center">
                <ul class="icons-list">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-menu9"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="@Url.Action("EditSupplier",new {Id=Supplier.Id })">
                                    <i class="icon-pencil6">
                                    </i> Editar
                                </a>
                            </li>
                            <li>
                                <a href="#" data-status="@((Supplier.Estatus) ? false : true)" data-supplier="@Supplier.Id" class="status">
                                    <i class="@(((Supplier.Estatus)?"icon-blocked":"icon-undo"))">
                                    </i> @(((Supplier.Estatus) ? "Desactivar" : "Activar"))
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
}
}
                </tbody>
            </table>

        </div>

    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="@Url.Action("SupplierIndex")" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/Supplier/supplier.js")></script>
}
