﻿@model QuickSal.Web.ViewModels.Customer.CustomerViewModel
@{
    ViewData["Title"] = "Registro de cliente";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Registro de cliente<a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
    </div>

    <div class="panel-body">       
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="active">
                    <a href="#left-icon-tab1" data-toggle="tab" aria-expanded="true">
                        <i class="icon-user position-left"></i> Información del cliente
                    </a>
                </li>
            </ul>
            <form id="frmCustomer" action="#">
                <div class="tab-content">
                    <div class="tab-pane active" id="left-icon-tab1">
                        <fieldset>
                            <div class="row">
                                <div class="row text-center">
                                    <a href="#" class="display-inline-block content-group-sm">
                                        <img id="Picture-Account" src="@Model.UrlPhoto" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                                    </a>
                                </div>

                                <div class="row">
                                    <div class="caption text-center">
                                        <a href="#" class="btn bg-indigo-400" id="btnPhotoProfile">
                                            Seleccionar foto
                                            <i class="icon-camera"></i>
                                        </a>
                                    </div>
                                </div>
                                <br />
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre: <span class="text-danger">*</span></label>
                                        <input type="text" name="Customer.Names" placeholder="Ingrese los nombres" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Código: <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="Customer.Code"  placeholder="Eugene Kopyov" value="@ViewBag.CustomerCode">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Tipo documento: <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <select name="Customer.DocumentTypeId" class="select" data-type-document>
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.DocumentIdentifications)
                                            {
                                                <option data-length="@item.MaxlengthChar" value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Número de documento: <span class="text-danger">*</span></label>
                                        <input type="text" name="Customer.DocumentNumber" placeholder="número documento" class="form-control" value="" data-document>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tipo de pago:</label>
                                        <div class="form-group">
                                            <select name="Customer.CreditTypeId" class="select">
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Enum.GetValues(typeof(QuickSal.Services.Support.EnumTypes.CreditType)))
                                                {
                                                    <option value="@(Convert.ToInt16(item))">@genericController.GetListDesc((QuickSal.Services.Support.EnumTypes.CreditType)item)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Celular:</label>
                                    <div class="form-group">
                                        <input class="form-control phone" placeholder="(888)-888-8888" name="Customer.Movil" value="">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono #:</label>
                                        <input type="text" name="Customer.PhoneNumber" placeholder="(888)-888-8888" class="form-control phone" value="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" placeholder="eugene@kopyov.com" class="form-control" value="" name="Customer.Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País:</label>
                                        <select data-placeholder="Seleccionar un país" class="select" data-country id="Country" name="Customer.CountryId">
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.Countries)
                                            {
                                                <option value="@item.Id">@item.Description</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado/Provincia:</label>
                                        <select data-placeholder="Seleccionar un estado o provincia" class="form-control" data-province name="Customer.ProvinceId" id="ProvinceId">
                                            @if (Model.Provinces != null)
                                            {
                                                <option selected value="">Seleccionar...</option>
                                                foreach (var item in Model.Provinces)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tipo Comprobante: </label>
                                        <div class="form-group">
                                            <select name="Customer.Ncfid" class="select">
                                                <option selected value="">Seleccionar...</option>
                                                @foreach (var item in Model.Ncfprefixes)
                                                {
                                                    <option value="@item.Id">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Limite crédito:</label>
                                        <input type="text" class="form-control" name="Customer.CreditLimit" placeholder="Ingrese el sueldo" value="0" onKeyPress="return soloNumeros(event)">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>% Descuento:</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Customer.Discount" value="0" onKeyPress="return soloNumeros(event)">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Balance pendiente: </label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Customer.PendingBalance" value="0" onKeyPress="return soloNumeros(event)">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Dirección:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Customer.AddressCustomers" rows="5" cols="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Observación:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" name="Customer.Obervation" rows="5" cols="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <input type="hidden" name="Customer.Picture" id="picture" value="" />
            </form>
            <form id="Picture-Profile" action="@Url.Action("SaveUploadedPicture", "customer")" method="post" enctype="multipart/form-data">
                <input style="visibility:hidden" type="file" id="PhotosUpload" name="files" />
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-checkmark4 position-left"></i> Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/Customer.js")></script>
}
