﻿@model QuickSal.Web.ViewModels.Customer.CustomerViewModel

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Clientes</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Balance</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Customers != null && Model.Customers.Count() > 0)
                    {
                        foreach (var customer in Model.Customers)
                        {
                            <tr>
                                <td>@customer.Code</td>
                                <td>@customer.Names</td>
                                <td>@customer.Movil</td>
                                <td>@customer.PendingBalance</td>
                                @if (customer.Estatus)
                                {
                                    <td>
                                        <span class="label label-success col-md-4">Activo</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger col-md-4">Inactivo</span>
                                    </td>
                                }
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="@Url.Action("EditCustomer",new {Id=customer.Id })">
                                                        <i class="icon-pencil6">
                                                        </i> Editar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-status="@((customer.Estatus) ? false : true)" data-customer="@customer.Id" class="status">
                                                        <i class="@(((customer.Estatus)?"icon-blocked":"icon-undo"))">
                                                        </i> @(((customer.Estatus) ? "Desactivar" : "Activar"))
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="@Url.Action("CustomerIndex")" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src=@Url.Content("~/Scripts/Dashboard/Customer/Customer.js")></script>
}
