﻿.pos-panel-products {
    height: 654px;
    margin-left: 20px;
    margin-top: 20px;
}

    .pos-panel-products .search {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 5px;
    }

    .pos-panel-products .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .pos-panel-products .searchTerm:focus {
            color: #00B4CC;
        }

    .pos-panel-products .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 5px;
        cursor: pointer;
    }

/*list product*/
.pos-list-product {
    overflow: hidden;
    overflow-y: scroll;
    width: auto;
    height: 800px;
}

    /*Product*/
    .pos-list-product .btn {
        width: 150px;
        margin: 2px 24px 10px 0px;
    }

    .pos-list-product .btn-name {
        width: 116px;
        height: 60px;
        line-height: 16px;
        white-space: pre-wrap;
        margin: 2px;
    }

    .pos-list-product .btn-both,
    .pos-list-product .btn-img {
        background: 0 0;
        padding: 3px;
    }

        .pos-list-product .btn-both:hover,
        .pos-list-product .btn-img:hover {
            background: #ccc;
        }

        .pos-list-product .btn-both .bg-img {
            background: #fff;
            height: 150px;
            padding: 5px;
            width: 100%;
        }


        .pos-list-product .btn-both span {
            display: block;
            background: #e5e5e5;
            height: 51px;
            overflow: hidden;
            white-space: pre-wrap;
            margin-left: 1px;
        }


.bg-img img {
    width: 80%;
}


.pos-list-product .btn-both h4 {
    position: relative;
    text-align: center;
    color: #fff;
    background: #87A800;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    zoom: 1;
    width: 160px;
    margin: 0px 0px 0px -8px;
}

    .pos-list-product .btn-both h4:before,
    .pos-list-product .btn-both h4:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 100%;
        left: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: transparent #647D01;
    }

    .pos-list-product .btn-both h4:after {
        left: auto;
        right: 0;
        border-width: 0 0 10px 10px;
    }
/*end products*/



/*invoice detail*/

.pos-invoice-options {
    min-height: 20px;
    padding: 19px;
    height: 900px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    margin: 20px 20px 0px 0px;
}

    .pos-invoice-options .customer-list {
        margin-bottom: 2px;
    }

    .pos-invoice-options .creditType-list {
        margin-bottom: 2px;
    }

    .pos-invoice-options select {
        cursor: pointer;
    }

    .pos-invoice-options .item-list {
        height: 351px;
    }

    .pos-invoice-options .item-list-scrolls {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 520px;
    }

.sales-pos-totals {
    overflow: hidden;
    width: auto;
    height: 600px;
}

@media (min-width: 400px) and (min-height:800px) {
    .pos .contents #item-list .btn {
        width: 140px;
        text-align: center;
    }

    .search {
        width: 99%;
    }

    .well {
        min-height: 20px;
        height: 530px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 210px;
    }

    .pos-panel-products {
        height: 380px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 310px;
    }
}

@media (min-width: 600px) and (min-height:960px) {
    .pos-panel-products {
        height: 380px;
        margin-left: 25px;
    }

        .pos-panel-products .search {
            position: relative;
            display: flex;
            width: 100%;
            margin-bottom: 3px;
            width: 590px;
        }

        .pos-panel-products .warehouses {
            margin-bottom: 0px;
            cursor: pointer;
            width: 590px;
        }

    .pos .contents #item-list .btn {
        width: 120px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 530px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }

    .pos-list-product .btn {
        width: 180px;
        margin: 2px 24px 10px 0px;
    }

    .slimScrollDiv {
        height: 210px;
    }

    .pos-panel-products {
        height: 380px;
        margin-left: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 310px;
    }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 460px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 0px 0px 20px;
        width: 590px;
    }

        .pos-invoice-options .item-list {
            height: 194px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 146px;
        }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 190px;
        margin: 1px 0px 0px -10px;
    }
}

@media (min-width: 600px) and (min-height:1024px) {
    .pos-panel-products {
        height: 380px;
        margin-left: 25px;
    }

        .pos-panel-products .search {
            position: relative;
            display: flex;
            width: 100%;
            margin-bottom: 3px;
            width: 590px;
        }

        .pos-panel-products .warehouses {
            margin-bottom: 0px;
            cursor: pointer;
            width: 590px;
        }

    .pos .contents #item-list .btn {
        width: 120px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 530px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }

    .pos-list-product .btn {
        width: 180px;
        margin: 2px 24px 10px 0px;
    }

    .slimScrollDiv {
        height: 210px;
    }

    .pos-panel-products {
        height: 380px;
        margin-left: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 310px;
    }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 560px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 0px 0px 20px;
        width: 590px;
    }

        .pos-invoice-options .item-list {
            height: 251px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 200px;
        }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 190px;
        margin: 1px 0px 0px -10px;
    }
}

@media (min-width: 720px) and (min-height:1280px) {
    .pos .contents #item-list .btn {
        width: 135px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1170px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 800px;
    }

    .pos-panel-products {
        height: 500px;
        margin-left: 20px;
        margin-top: 20px;
        margin-left: 40px;
        width: 90%;
        float: left;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 1080px;
    }

        .pos-list-product .btn {
            width: 144px;
            margin: 2px 24px 10px 0px;
        }


    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 500px;
    }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 600px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 80px 20px 0px 40px;
        width: 90%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 290px;
        }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 155px;
        margin: 1px 0px 0px -10px;
    }

    .pos-panel-products .search {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 3px;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 100%;
    }

    .pos-invoice-options .item-list-scrolls {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 230px;
    }
}

@media (min-width: 768px) and (min-height:1024px) {
    .pos-panel-products .search {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 3px;
        width: 750px;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 750px;
    }

    .pos .contents #item-list .btn {
        width: 120px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 530px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }

    .pos-list-product .btn {
        width: 160px;
        margin: 2px 24px 10px 0px;
    }

    .slimScrollDiv {
        height: 210px;
    }

    .pos-panel-products {
        height: 380px;
        margin-left: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 310px;
    }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 560px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 0px 0px 10px;
        width: 760px;
    }

        .pos-invoice-options .item-list {
            height: 251px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 200px;
        }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 170px;
        margin: 1px 0px 0px -10px;
    }
}

@media (min-width: 768px) and (min-height:1366px) {
    .pos .contents #item-list .btn {
        width: 120px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 740px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 410px;
    }

    .pos-panel-products {
        height: 500px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 420px;
    }
}

@media (min-width: 800px) and (min-height:1280px) {
    .pos .contents #item-list .btn {
        width: 135px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1170px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 800px;
    }

    .pos-panel-products {
        height: 500px;
        margin-left: 20px;
        margin-top: 20px;
        margin-left: 40px;
        width: 100%;
        float: left;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 1080px;
    }

        .pos-list-product .btn {
            width: 166px;
            margin: 2px 24px 10px 0px;
        }


    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 500px;
    }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 600px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 80px 20px 0px 40px;
        width: 90%;
        float: left;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 180px;
        margin: 1px 0px 0px -10px;
    }
}

@media (min-width: 991px) and (min-height:1280px) {
    .pos .contents #item-list .btn {
        width: 130px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1175px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 850px;
    }

    .pos-panel-products {
        height: 1170px;
        margin-left: 20px;
        margin-top: 20px;
        width: 55%;
        float: left;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 1120px;
    }

        .pos-list-product .btn {
            width: 160px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 1200px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 860px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 800px;
        }

    .pos-panel-products .search {
        position: relative;
        display: flex;
        margin-bottom: 3px;
        width: 100%;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 100%;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 170px;
        margin: 1px 0px 0px -10px;
    }
}

@media (min-width: 1024px) and (min-height:600px) {
    .pos .contents #item-list .btn {
        width: 130px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1175px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 850px;
    }

    .pos-panel-products {
        height: 500px;
        margin-left: 20px;
        margin-top: 20px;
        width: 55%;
        float: left;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 450px;
    }

        .pos-list-product .btn {
            width: 120px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 520px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 190px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 155px;
        }

    .pos-panel-products .search {
        position: relative;
        display: flex;
        margin-bottom: 3px;
        width: 100%;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 100%;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 130px;
        margin: 1px 0px 0px -10px;
    }

    .totals {
        margin-bottom: 4px;
        margin-top: 13px;
    }
}

@media (min-width: 1024px) and (min-height:768px) {
    .pos .contents #item-list .btn {
        width: 130px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1175px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 850px;
    }

    .pos-panel-products {
        height: 700px;
        margin-left: 20px;
        margin-top: 20px;
        width: 55%;
        float: left;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 620px;
    }

        .pos-list-product .btn {
            width: 120px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 690px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 360px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 330px;
        }

    .pos-panel-products .search {
        position: relative;
        display: flex;
        margin-bottom: 3px;
        width: 100%;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 100%;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 130px;
        margin: 1px 0px 0px -10px;
    }

    .totals {
        margin-bottom: 4px;
        margin-top: 13px;
    }
}

@media (min-width: 1024px) and (min-height:1366px) {
    .pos-panel-products {
        height: 1250px;
        margin-left: 20px;
        margin-top: 20px;
        width: 55%;
        float: left;
    }

    .pos .contents #item-list .btn {
        width: 135px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1260px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 940px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 1180px;
    }

        /*Product*/
        .pos-list-product .btn {
            width: 168px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 1260px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 900px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 840px;
        }

    .pos-panel-products .search {
        position: relative;
        display: flex;
        margin-bottom: 3px;
        width: 100%;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 100%;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 180px;
        margin: 1px 0px 0px -10px;
    }
}

@media (min-width: 1024px) and (min-height:1440px) {
    .pos .contents #item-list .btn {
        width: 135px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1010px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 940px;
    }

    .pos-panel-products {
        height: 1330px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 1255px;
    }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 1330px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 1000px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 940px;
        }
}

@media (min-width: 1280px) and (min-height:800px) {
    .pos .contents #item-list .btn {
        width: 130px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 1175px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 850px;
    }

    .pos-panel-products {
        height: 700px;
        margin-left: 30px;
        margin-top: 20px;
        width: 55%;
        float: left;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 620px;
    }

        .pos-list-product .btn {
            width: 117px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 690px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 360px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 330px;
        }

    .pos-panel-products .search {
        position: relative;
        display: flex;
        margin-bottom: 3px;
        width: 100%;
    }

    .pos-panel-products .warehouses {
        margin-bottom: 0px;
        cursor: pointer;
        width: 100%;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 130px;
        margin: 1px 0px 0px -10px;
    }

    .totals {
        margin-bottom: 4px;
        margin-top: 13px;
    }
}

@media (min-width: 1366px) and (min-height:768px) {

    .bg-img img {
        width: 100%;
    }

    .pos .contents #item-list .btn-both span {
        display: block;
        background: #e5e5e5;
        height: 51px;
        overflow: hidden;
        white-space: pre-wrap;
        margin-left: 1px;
    }

    .pos-list-product .btn {
        width: 125px;
        margin: 2px 24px 10px 0px;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 667px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 351px;
    }

    .pos-panel-products {
        height: 654px;
        margin-left: 30px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 650px;
    }

    Ribbon
    .destacados {
        padding: 70px 0;
        text-align: center;
    }

    .product {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 20px;
        margin: 20px auto;
        border: 1px solid rgb(200, 200, 200);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
        background: #E4C054;
        border-radius: 4px;
    }

    .pos-list-product .btn-both h4 {
        position: relative;
        text-align: center;
        color: #fff;
        background: #87A800;
        text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
        zoom: 1;
        width: 144px;
        margin: 0px 0px 0px -14px;
    }

    .product h4:before,
    .product h4:after {
        content: "";
        position: absolute;
        See "NOTE 2" z-index: -1;
        top: 100%;
        left: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: transparent #647D01;
    }

    .product h4:after {
        left: auto;
        right: 0;
        border-width: 0 0 10px 10px;
    }

    .totals {
        margin-bottom: 4px;
        margin-top: 0px;
    }

    .pos-invoice-options .item-list-scrolls {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 340px;
    }
}

@media (min-width: 1440px) and (min-height:900px) {
    .pos .contents #item-list .btn {
        width: 125px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 795px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 469px;
    }

    .pos-panel-products {
        height: 790px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 710px;
    }
}

@media (min-width: 1600px) and (min-height:2560px) {
    .pos .contents #item-list .btn {
        width: 125px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 936px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 600px;
    }

    .pos-panel-products {
        height: 2460px;
        margin-left: 35px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 2470px;
    }

        .pos-list-product .btn {
            width: 150px;
            margin: 2px 24px 10px 0px;
        }

        .pos-list-product .btn-both h4 {
            position: relative;
            text-align: center;
            color: #fff;
            background: #87A800;
            text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
            -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
            box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
            zoom: 1;
            width: 165px;
            margin: 1px 0px 0px -10px;
        }


    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 2460px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 2150px;
        }
}

@media (min-width: 1680px) and (min-height:1050px) {
    .pos .contents #item-list .btn {
        width: 125px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 936px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 600px;
    }

    .pos-panel-products {
        height: 960px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 960px;
    }

        .pos-list-product .btn {
            width: 130px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 950px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 650px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 590px;
        }
}

@media (min-width: 1920px) and (min-height:1080px) {
    .pos .contents #item-list .btn {
        width: 125px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 936px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 600px;
    }

    .pos-panel-products {
        height: 960px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 960px;
    }

        .pos-list-product .btn {
            width: 125px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 950px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 650px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 590px;
        }
}

@media (min-width: 1920px) and (min-height:969px) {
    .pos .contents #item-list .btn {
        width: 120px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 936px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 600px;
    }

    .pos-panel-products {
        height: 960px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 800px;
    }

        .pos-list-product .btn {
            width: 120px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 870px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 10px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 570px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 515px;
        }
}

@media (min-width: 2560px) and (min-height:1440px) {
    .pos .contents #item-list .btn {
        width: 125px;
        text-align: center;
    }

    .search {
        width: 99%;
        margin-bottom: 10px;
    }

    .well {
        min-height: 20px;
        padding: 19px;
        height: 936px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    }


    .slimScrollDiv {
        height: 600px;
    }

    .pos-panel-products {
        height: 1350px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .pos-list-product {
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 1350px;
    }

        .pos-list-product .btn {
            width: 130px;
            margin: 2px 24px 10px 0px;
        }

    .pos-invoice-options {
        min-height: 20px;
        padding: 19px;
        height: 1350px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
        margin: 20px 20px 0px 30px;
        width: 40%;
        float: left;
    }

        .pos-invoice-options .item-list {
            height: 1048px;
        }

        .pos-invoice-options .item-list-scrolls {
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 1000px;
        }
}