﻿@model QuickSal.Web.ViewModels.Plan.PlanModule

@{
    int totalPlanes = Model.plans.Count();
}

<fieldset class="row col-md-12">
    <div class="row pricing-table">
        @if (Model.plans.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Seleciona tu plan</th>
                            @foreach (var plan in Model.plans)
                            {
                                <th class="text-center">
                                    <h6 class="text-semibold mt-5 mb-5">@plan.Name</h6>
                                    <h4 class="text-semibold no-margin">
                                        @(QuickSal.DataAcces.QuickSalEnum.GetListDesc(((QuickSal.DataAcces.QuickSalEnum.Currency)plan.Currency))) @plan.Price
                                        <span class="text-size-base text-muted text-regular">/ month</span>
                                    </h4>
                                    <ul class="list-unstyled content-group">
                                        @foreach (var details in plan.TblPlanDetails.Where(x => x.Status))
                                        {
                                            <li>@details.BenefitDetail</li>
                                        }
                                    </ul>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="@(totalPlanes+1)"><strong> Módulos</strong></td>
                        </tr>
                        @foreach (var module in Model.ModuleList)
                        {
                            <tr>
                                <td class="text-left">@module.SubObjectName</td>
                                @foreach (var plan in Model.plans)
                                {
                                    if (plan.TblPlanSubObject.Where(x => x.SubObjectId == module.SubObjecId && x.PlanId == plan.Id).Any())
                                    {
                                        <td><i class="icon-checkbox-checked2 text-success"></i></td>
                                    }
                                    else
                                    {
                                        <td><i class="icon-cancel-square2 text-danger"></i></td>
                                    }
                                }
                            </tr>
                        }
                        <tr class="border-solid">
                            <td> </td>
                            @foreach (var plan in Model.plans)
                            {

                                <td>
                                    <button class="btn bg-blue btn-plan" href="#" data-plan="@plan.Id">
                                        <i class="icon-cart position-left"></i> Seleccionar
                                    </button>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }

        <input type="hidden" id="PlanId" name="PlanId" value="" />
    </div>
</fieldset>
<br />