﻿@{

    ViewData["Title"] = "Planes";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<input type="hidden" id="BusinessType" name="name" value="@ViewData["BusinessType"]" />
<input type="hidden" id="plan" name="name" value="@ViewBag.PlanId" />
<div id="plans">

</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Business/plan.js")></script>
}

