﻿@model QuickSal.Web.ViewModels.Customer.CreditNote.CreditNoteViewModel

@{
    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}


<table class="datatable display" id="InvoiceList">
    <thead>
        <tr>
            <th>No.Documento</th>
            <th>Cliente</th>
            <th>NCF</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estatus</th>
            <th>Opción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Invoices != null && Model.Invoices.Count() > 0)
        {
            foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>@invoice.DocumentNumber</td>
                    <td>@invoice.CustomerName</td>
                    <td>@invoice.NCF</td>
                    <td>@invoice.CreateDate.ToShortDateString()</td>
                    <td>@invoice.Total.ToString("N2")</td>
                    @if (invoice.DocumentStatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                    {
                        <td><span class="label label-success">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)invoice.DocumentStatusId))</span></td>
                    }
                    else if (invoice.DocumentStatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
                    {
                        <td><span class="label label-warning">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)invoice.DocumentStatusId))</span></td>
                    }
                    else
                    {
                        <td><span class="label label-default">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)invoice.DocumentStatusId))</span></td>
                    }
                    <td>
                        <a href="@Url.Action("CreateCreditNote",new { invoiceId=invoice.Id})" class="btn border-slate text-slate-800 btn-flat btn-sm btn-select">
                            <i class="icon-pointer"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    <span class="alert-primary">Seleccione una factura para aplicar la <strong>Nota de Crédito</strong></span>
</div>