﻿@model QuickSal.Web.ViewModels.Customer.CreditNote.CreditNoteViewModel

<table class="datatable display" id="ItemList" style="width:100%">
    <tbody>
        @if (Model.InvoiceRowItems.Count() > 0)
        {
            foreach (var Item in Model.InvoiceRowItems)
            {
                <tr>
                    <td>@Item.Code</td>
                    <td>@Item.ProductId</td>
                    <td>@Item.ProductName</td>
                    <td>@Item.MeaseureAbbreviation</td>
                    <td>@Item.ItemQuantity</td>
                    <td>@Item.Price.ToString("N2")</td>
                    <td>@Item.TaxAbbreviation</td>
                    <td>@Item.AmountTax</td>
                    <td>@Item.ItemDiscount</td>
                    <td>@Item.AmountDiscount</td>
                    <td>@Item.SubTotal.ToString("N2")</td>
                    <td>@Item.MeasureId</td>
                    <td>@Item.WarehouseId</td>
                    <td>@Item.Tax</td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="styled">
                            </label>
                        </div>
                    </td>
                    <td>
                        <!--dinamic Td-->
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.InvoiceRowItems.Count() > 0)
{
    <div class="text-center">
        <span class="alert-primary">Seleccione el artículo que desea agregar a la <strong>Nota de Crédito</strong></span>
    </div>
}
else
{
    <div class="text-center">
        <span class="alert-info">La factura no contiene mas artículos</span>
    </div>
}