﻿@model QuickSal.Web.ViewModels.Customer.CreditNote.CreditNoteViewModel

@{
    ViewData["Title"] = "Nota de Crédito";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}


<div class="panel panel-flat">
    <div class="panel-body">
        <div id="invoice">
            <div class="invoice overflow-auto">
                <form id="frm-credit-note" action="#">
                    <input type="hidden" id="InvoiceHeaderId" name="InvoiceHeader.Id" value="@Model.InvoiceHeader.Id" />
                    <input type="hidden" id="CustomerId" value="@Model.InvoiceHeader.CustomerId" />
                    <div style="min-width: 600px">
                        <main>
                            <div class="row contacts">
                                <div class="col-md-6 col-xs-6 invoice-to">
                                    <div class="text-gray-light"> <strong>Nota de Crédito a:</strong></div>
                                    <h5 class="to">@Model.InvoiceHeader.Customer.Code</h5>
                                    <h2 class="to">@Model.InvoiceHeader.Customer.Names</h2>
                                    <div class="address">@Model.InvoiceHeader.Customer.AddressCustomers</div>
                                    <div class="email"><a href="mailto:@Model.InvoiceHeader.Customer.Email">@Model.InvoiceHeader.Customer.Email</a></div>
                                </div>
                                <div class="col-md-6 col-xs-6 invoice-details">
                                    <h2 class="invoice-id">
                                        Nota de Crédito:
                                        <i class="icon-cart-remove"></i>
                                        0000000000
                                    </h2>
                                    <table align="right">
                                        <tr>
                                            <td>Fecha documento:</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="date" id="DocumentDate">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>NCF Modifica:</td>
                                            <td id="ncfModified">@Model.InvoiceHeader.Ncf</td>
                                        </tr>
                                        <tr>
                                            <td>NCF:</td>
                                            <td></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <table class="display" id="ItemsCreditNote">
                                <tbody></tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="notices">
                                        <div>Observación:</div>
                                        <div class="notice">
                                            <textarea type="text" placeholder="Observación" id="Observation" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <table class="tfooter">
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">SubTotal</td>
                                            <td id="subTotal">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Impuesto</td>
                                            <td id="impTotal">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Descuento</td>
                                            <td id="desTotal">0.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Total</td>
                                            <td id="total">0.00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </main>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("CreditNoteIndex")" type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                        <i class="icon-cross2 position-left"></i> Cancelar
                    </a>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icon-check position-left"></i> Aceptar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                    <i class="icon-floppy-disk"></i> Guardar
                                </a>
                            </li>
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                    <i class="icon-checkmark4"></i> Registrar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/creditNote.js")></script>
}