﻿@model QuickSal.Web.ViewModels.Customer.CreditNote.CreditNoteViewModel

@{
    ViewData["Title"] = "Notas de Crédito";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    QuickSal.Web.Api.GenericController genericController = new QuickSal.Web.Api.GenericController();
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Notas de Crédito</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Cliente</th>
                        <th>Factura</th>
                        <th>NCF</th>
                        <th>NCF Modifica</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Estatus</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CreditNotes != null && Model.CreditNotes.Count() > 0)
                    {
                        foreach (var creditNote in Model.CreditNotes)
                        {
                            <tr>
                                <td>@creditNote.DocumentNumber</td>
                                <td>@creditNote.CustomerName</td>
                                <td>@creditNote.InvoiceNumber</td>
                                <td>@creditNote.NCF</td>
                                <td>@creditNote.NCFModified</td>
                                <td>@creditNote.CreateDate.ToShortDateString()</td>
                                <td>@creditNote.Total.ToString("N2")</td>
                                @if (creditNote.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)
                                {
                                    <td><span class="label label-success col-md-8">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)creditNote.DocumentEstatusId))</span></td>
                                }
                                else if (creditNote.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)
                                {
                                    <td><span class="label label-warning col-md-8">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)creditNote.DocumentEstatusId))</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-default col-md-8">@(genericController.GetListDesc((QuickSal.DataAcces.QuickSalEnum.DocumentEstatus)creditNote.DocumentEstatusId))</span></td>
                                }
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                @if (creditNote.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("EditCreditNote",new {creditNoteId=creditNote.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@creditNote.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Anulada)">
                                                            <i class="icon-x">
                                                            </i> Anular
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="status" href="#" data-id="@creditNote.Id" data-estado="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                                            <i class="icon-cog2">
                                                            </i> Procesar
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@Url.Action("EditCreditNote",new {creditNoteId=creditNote.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button class="btn border-slate text-slate-800 btn-flat" id="BtnNueva">
                    <i class="icon-plus3 position-left"></i> Nueva
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/creditNote.js")></script>
}
