﻿@model QuickSal.Web.ViewModels.Customer.CreditNote.CreditNoteViewModel

@{
    ViewData["Title"] = "Nota de Crédito";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}


<div class="panel panel-flat">
    <div class="panel-body">
        <div id="invoice">
            <div class="invoice overflow-auto">
                <form id="frm-edit-note" action="#" class="@(((Model.CreditNote.DocumentEstatusId!=(int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)?"disabled":""))">
                    <input type="hidden" id="InvoiceHeaderId" name="InvoiceHeader.Id" value="@Model.CreditNote.InvoiceId" />
                    <input type="hidden" id="CreditNoteId" name="CreditNote.Id" value="@Model.CreditNote.Id" />
                    <input type="hidden" id="CustomerId" value="@Model.CreditNote.CustomerId" />
                    <div style="min-width: 600px">
                        <main>
                            <div class="row contacts">
                                <div class="col-md-6 col-xs-6 invoice-to">
                                    <div class="text-gray-light"> <strong>Nota de Crédito a:</strong></div>
                                    <h5 class="to">@Model.CreditNote.Customer.Code</h5>
                                    <h2 class="to">@Model.CreditNote.Customer.Names</h2>
                                    <div class="address">@Model.CreditNote.Customer.AddressCustomers</div>
                                    <div class="email"><a href="mailto:@Model.CreditNote.Customer.Email">@Model.CreditNote.Customer.Email</a></div>
                                </div>
                                <div class="col-md-6 col-xs-6 invoice-details">
                                    <h2 class="invoice-id">
                                        Nota de Crédito:
                                        <i class="icon-cart-remove"></i>
                                        @Model.CreditNote.DocumentNumber
                                    </h2>
                                    <table align="right">
                                        <tr>
                                            <td>Fecha documento:</td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="date" id="DocumentDate" value="@Model.CreditNote.DocumentDate">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>NCF Modifica:</td>
                                            <td id="ncfModified">@Model.CreditNote.Ncfmodified</td>
                                        </tr>
                                        <tr>
                                            <td>NCF:</td>
                                            <td>@Model.CreditNote.Ncf</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <table class="@(((Model.CreditNote.DocumentEstatusId!=(int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)?"display disabled":"display"))" id="ItemsCreditNote" style="width:100%">
                                <tbody>
                                    @foreach (var item in Model.CreditNoteRow)
                                    {
                                        <tr>
                                            <td>@item.Product.Code</td>
                                            <td>@item.Product.Id</td>
                                            <td>@item.Product.Name</td>
                                            <td>@item.Measure.Abbreviation</td>
                                            <td>
                                                <input type="text" class="form-control number inputQuantity" value="@item.Quantity">
                                            </td>
                                            <td>@item.Price</td>
                                            <td>@item.TaxAbbreviation</td>
                                            <td>@item.AmountTax</td>
                                            <td>@item.Discount</td>
                                            <td>@item.AmountDiscount</td>
                                            <td>@item.Total</td>
                                            <td>@item.MeasureId</td>
                                            <td>@item.WarehouseId</td>
                                            <td>@item.Tax</td>
                                            <td>@item.Id</td>
                                            <td>
                                                <span class="itemRemove">
                                                    <i class="icon-trash"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="notices">
                                        <div>Observación:</div>
                                        <div class="notice">
                                            <textarea type="text" placeholder="Observación" id="Observation" rows="5" class="form-control">@Model.CreditNote.Observation</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <table class="tfooter">
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">SubTotal</td>
                                            <td id="subTotal">@Model.CreditNote.SubTotal.ToString("N2")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Impuesto</td>
                                            <td id="impTotal">@Model.CreditNote.TotalTax.ToString("N2")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Descuento</td>
                                            <td id="desTotal">@Model.CreditNote.TotalDiscount.ToString("N2")</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Total</td>
                                            <td id="total">@Model.CreditNote.Total.ToString("N2")</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </main>
                    </div>
                    <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
                    <div></div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <div class="col-md-6 col-xs-6">
                    <a href="@Url.Action("CreditNoteIndex")" type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat back">
                        <i class="icon-cross2 position-left"></i> Cancelar
                    </a>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="@(((Model.CreditNote.DocumentEstatusId!=(int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)?"dropdown disabled":"dropdown"))">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="icon-check position-left"></i> Aceptar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Proceso)">
                                    <i class="icon-floppy-disk"></i> Guardar
                                </a>
                            </li>
                            <li>
                                <a href="#" class="save" data-document="@((int)QuickSal.DataAcces.QuickSalEnum.DocumentEstatus.Aprobada)">
                                    <i class="icon-checkmark4"></i> Registrar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Customer/creditNote.js")></script>
}