﻿@model QuickSal.Web.ViewModels.Business.BusinessViewModel

@{
    ViewData["Title"] = "Registrar empresa";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">Registra tu negocio</h6>
    </div>

    <form class="steps-validation">
        <h6>Datos de la empresa</h6>
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre empresa: <span class="text-danger">*</span></label>
                        <input type="text" name="Business.Name" placeholder="Nombre de tu empresa" class="form-control">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tipo de empresa: <span class="text-danger">*</span></label>
                        <select name="Business.IdBusinessType" class="form-control required" id="BusinessType">
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Model.BusinessTypeList)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="BranchOffice.Email" placeholder="eugene@kopyov.com" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tipo documento: <span class="text-danger">*</span></label>
                            <div class="form-group">
                                <select name="Business.DocumentTypeId" class="form-control required" data-type-document>
                                    <option selected value="">Seleccionar...</option>
                                    @foreach (var item in Model.DocumentIdentificationList)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Número de documento: <span class="text-danger">*</span></label>
                                <input type="text" name="Business.DocumentNumber" placeholder="número documento" class="form-control required" data-document>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Telefono:</label>
                            <div class="form-group">
                                <input class="form-control phone" value="" placeholder="(888)-888-8888" name="BranchOffice.PhoneNumber">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Telefono2:</label>
                            <div class="form-group">
                                <input class="form-control phone" value="" placeholder="(888)-888-8888" name="BranchOffice.PhoneNumber2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-3">
                    <label>País:</label>
                    <div class="form-group">
                        <select class="form-control" name="Business.CountryId" data-country id="Country">
                            <option selected value="">Seleccionar...</option>
                            @foreach (var item in Model.Countries)
                            {
                                <option value="@item.Id">@item.Description</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Estado/Provincia:</label>
                        <select data-placeholder="Seleccionar un estado o provincia" class="form-control" data-province name="BranchOffice.ProvinceId" id="ProvinceId"></select>
                        <small class="nota">Seleccionar primero el país</small>
                    </div>

                </div>
                <div class="col-md-3">
                    <label>Fecha constitución (opcional): </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                        <input type="text" class="form-control date" name="Business.DateConstitution">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Pagina web:</label>
                        <input type="text" name="Business.WebPage" placeholder="Pagina de la empresa" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Dirección: <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <textarea class="form-control" name="BranchOffice.AddressBranchOffice"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Descripción:</label>
                    <div class="form-group">
                        <textarea class="form-control" name="Business.Description"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>

        <h6>Logo</h6>
        <fieldset>
            <div class="row form-group text-center">
                <div class="content-group-lg content-group text-center">
                    <a href="#" class="display-inline-block">
                        <img id="UploadFileLogo" src="@Model.UrlLogo" class="img-responsive" alt="" style="width:200px;height:200px">
                    </a>
                </div>
                <button type="button" class="btn border-slate text-slate-800 btn-flat" id="btnUploaLogo">
                    <i class="icon-upload position-left">
                    </i> Subir logo
                </button>
            </div>
        </fieldset>

        <h6>Planes</h6>
        <fieldset>
            <div id="BusinessPlan">
            </div>
        </fieldset>
        <input type="hidden" id="Logo" name="Business.Logo" value="" />
    </form>
</div>

<form id="Picture-logo" method="post" enctype="multipart/form-data">
    <input style="visibility:hidden" type="file" id="LogoFile" name="files" />
</form>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/business/business.js")></script>
}

