﻿@model QuickSal.Web.ViewModels.Business.BusinessViewModel

@{
    ViewData["Title"] = "Editar empresa";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Editar empresa <strong>@Model.Business.Name</strong><a class="heading-elements-toggle">
                <i class="icon-more"></i>
            </a>
        </h5>
    </div>

    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="active">
                    <a href="#left-icon-tab2" data-toggle="tab" aria-expanded="false">
                        <i class="icon-office position-left"></i> Datos basicos
                    </a>
                </li>
            </ul>
            <form id="Edit-business" action="#">
                <div class="tab-content">
                    <div class="tab-pane active" id="left-icon-tab1">
                        <fieldset>
                            <div class="row">
                                <div class="row text-center">
                                    <a href="#" class="display-inline-block content-group-sm">
                                        <img id="UploadFileLogo" src="@Model.UrlLogo" class="img-circle img-responsive" style="width: 110px; height: 110px;" alt="ProfileImg">
                                    </a>
                                </div>

                                <div class="row">
                                    <div class="caption text-center">
                                        <a href="#" class="btn bg-indigo-400" id="btnUploaLogo">
                                            Seleccionar logo
                                            <i class="icon-camera"></i>
                                        </a>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre <span class="text-danger">*</span></label>
                                        <input type="text" name="Business.Name" placeholder="Ingrese el nombre" class="form-control" value="@Model.Business.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Tipo documento: <span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <select name="Business.DocumentTypeId" class="form-control" data-type-document>
                                            <option selected value="">Seleccionar...</option>
                                            @foreach (var item in Model.DocumentIdentificationList)
                                            {
                                                <option value="@item.Id" @(((item.Id == Model.Business.DocumentTypeId) ? "selected" : ""))>@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Número de documento: <span class="text-danger">*</span></label>
                                        <input type="text" name="Business.DocumentNumber" placeholder="número documento" class="form-control" value="@Model.Business.DocumentNumber" data-document>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>País:</label>
                                        <select class="select" data-placeholder="Seleccionar un país" id="Country" name="Business.CountryId" data-country>
                                            @foreach (var item in Model.Countries)
                                            {
                                                <option value="@item.Id" @(((item.Id == Model.Business.CountryId) ? "selected" : ""))>@item.Description</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Estado/Provincia:</label>
                                        <select data-placeholder="Seleccionar un estado o provincia" class="form-control" name="BranchOffice.ProvinceId" id="ProvinceId" data-province>
                                            @if (Model.Provinces != null && Model.Provinces.Count() > 0)
                                            {
                                                foreach (var item in Model.Provinces)
                                                {
                                                    <option value="@item.Id" @(((item.Id == Model.BranchOffice.ProvinceId) ? "selected" : ""))>@item.Description</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Teléfono #:</label>
                                    <div class="form-group">
                                        <input class="form-control phone" placeholder="(888)-888-8888" name="BranchOffice.PhoneNumber" value="@Model.BranchOffice.PhoneNumber">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Teléfono 2 #:</label>
                                        <input type="text" name="BranchOffice.PhoneNumber2" placeholder="(888)-888-8888" class="form-control phone" value="@Model.BranchOffice.PhoneNumber2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Fecha constitución (opcional): </label>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="height:10px" ><i class="icon-calendar22"></i></span>
                                        <input type="text" class="form-control date" name="Business.DateConstitution" value="@(((Model.Business.DateConstitution.HasValue)?Model.Business.DateConstitution.Value.ToShortDateString():""))">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Página web:</label>
                                        <input type="text" placeholder="htttps://mipagina.com" class="form-control" name="Business.WebPage" value="@Model.Business.WebPage">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="text" placeholder="eugene@kopyov.com" class="form-control" name="BranchOffice.Email" value="@Model.BranchOffice.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Dirección:<span class="text-danger">*</span></label>
                                        <textarea class="form-control" name="BranchOffice.AddressBranchOffice" rows="5" cols="5">@Model.BranchOffice.AddressBranchOffice</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Descripción:</label>
                                        <textarea class="form-control" name="Business.Description" rows="5" cols="5">@Model.Business.Description</textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <input type="hidden" name="Business.Id" value="@Model.Business.Id" />
                <input type="hidden" id="Logo" name="Business.Logo" value="@Model.Business.Logo" />
                <input type="hidden" name="BranchOffice.Id" value="@Model.BranchOffice.Id" />
                <input type="hidden" name="BranchOffice.Name" value="@Model.BranchOffice.Name" />
                <input type="hidden" name="BranchOffice.Principal" value="@Model.BranchOffice.Principal.ToString()" />
            </form>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnCancelar" class="btn border-slate text-slate-800 btn-flat backed">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <button type="button" id="btnAceptar" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-checkmark4 position-left"></i> Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

<form id="Picture-logo" method="post" enctype="multipart/form-data">
    <input style="visibility:hidden" type="file" id="LogoFile" name="files" />
</form>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/business/business.js")></script>
}
