﻿@model QuickSal.Web.ViewModels.Inventory.SubCategoryViewModel
 
<form id="form-SubCategory">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nombre: <span class="text-danger">*</span></label>
                <input type="text" value="" name="SubCategory.Name" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Categoría: <span class="text-danger">*</span></label>
                <select name="SubCategory.CategoryId" class="select">
                    <option value="">Seleccionar...</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Descripción:</label>
                <textarea type="text" value="" cols="10" name="SubCategory.Description" class="form-control"></textarea>
            </div>
        </div>
    </div>
</form>





