﻿@model QuickSal.Web.ViewModels.Employee.EmployeeViewModel

@{
    ViewData["Title"] = "Accesos";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Listado de accesos</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="datatable display responsive nowrap">
                <thead>
                    <tr>
                        <th>Acceso</th>
                        <th>Creado</th>
                        <th>Modificado</th>
                        <th>Estado</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Privileges != null && Model.Privileges.Count() > 0)
                    {
                        foreach (var Privilege in Model.Privileges)
                        {
                            <tr>
                                <td>@Privilege.Name</td>
                                <td>@Privilege.CreateDate.ToShortDateString()</td>
                                <td>@Privilege.EditDate.ToShortDateString()</td>
                                @if (Privilege.Estatus.HasValue && Privilege.Estatus.Value)
                                {
                                    <td>
                                        <span class="label label-success">Activo</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger">Inactivo</span>
                                    </td>
                                }
                                <td class="text-center">
                                    @if (!Privilege.Principal)
                                    {
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="@Url.Action("PrivilegeEdit",new {PrivilegeId=Privilege.Id })">
                                                            <i class="icon-pencil6">
                                                            </i> Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-status="@((Privilege.Estatus.HasValue && Privilege.Estatus.Value) ? false : true)" data-privilege="@Privilege.Id" class="status">
                                                            <i class="@(((Privilege.Estatus.HasValue && Privilege.Estatus.Value)?"icon-blocked":"icon-undo"))">
                                                            </i> @(((Privilege.Estatus.HasValue && Privilege.Estatus.Value) ? "Desactivar" : "Activar"))
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" id="BtnAceptar" class="btn border-slate text-slate-800 btn-flat back">
                    <i class="icon-cross2 position-left"></i> Cancelar
                </button>
                <a href="@Url.Action("PrivilegeIndex")" class="btn border-slate text-slate-800 btn-flat">
                    <i class="icon-plus3 position-left"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Employee/Privilege.js")></script>
}
