﻿@model QuickSal.Web.ViewModels.Employee.EmployeeViewModel

@{
    ViewData["Title"] = "Modificar privilegio";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";

    var objectHeader = Model.Objects.GroupBy(x => x.ObjectDescription);
}


<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Actualizar acceso</h5>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form action="/" method="post">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Nombre del acceso:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="PrivilegeName" id="PrivilegeName" placeholder="Nombre" value="@Model.Privilege.Name">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table text-nowrap" id="TableHeaderMovil">
                <thead>
                    <tr>
                        <th>Opciones</th>
                        <th>Escribir</th>
                        <th>Leer</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var objectH in objectHeader)
                    {
                        <tr class="active border-double">
                            <td><strong>@objectH.Key</strong>  </td>
                            <td>Leer</td>
                            <td>Escribir</td>
                            <td>Editar</td>
                            <td>Eliminar</td>
                        </tr>

                        var subObjects = Model.Objects.Where(x => x.ObjectDescription == objectH.Key);

                        @foreach (var subObject in subObjects)
                        {
                            var securityAcces = Model.SegurityAccess.Where(x => x.SubObjectId == subObject.SubObjectId).FirstOrDefault();
                            var AccessChildren = securityAcces != null ? Model.SegurityAccess.Where(x => x.Parent == securityAcces.SubObjectId) : null;

                            <tr data-object="@subObject.SubObjectId" data-object-privilege="@subObject.SegurityId">
                                <td>
                                    <span>@subObject.SubObjectDescription</span>
                                </td>
                                <td>
                                    <div class="checkbox checkbox-switchery canRead">
                                        <label>
                                            <input type="checkbox" class="checkbox-switchery" @(((AccessChildren != null && securityAcces.Leer.HasValue && securityAcces.Leer.Value) ? "checked" : ""))>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox checkbox-switchery canWrite">
                                        <label>
                                            <input type="checkbox" class="checkbox-switchery" @(((AccessChildren != null && AccessChildren.Where(x => x.Escribir.HasValue && x.Escribir.Value).Any()) ? "checked" : ""))>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox checkbox-switchery canEdit">
                                        <label>
                                            <input type="checkbox" class="checkbox-switchery" @(((AccessChildren != null && AccessChildren.Where(x => x.Editar.HasValue && x.Editar.Value).Any()) ? "checked" : ""))>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="checkbox checkbox-switchery canDelete">
                                        <label>
                                            <input type="checkbox" class="checkbox-switchery" @(((AccessChildren != null && AccessChildren.Where(x => x.Eliminar.HasValue && x.Eliminar.Value).Any()) ? "checked" : ""))>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="col-md-12">
                <div class="pull-right">
                    <button href="@Url.Action("PrivilegesList")"  class="btn border-slate text-slate-800 btn-flat back">
                        <i class="icon-cross2 position-left"></i> Cancelar
                    </button>
                    <button type="button" id="BtnUpdate" class="btn border-slate text-slate-800 btn-flat pull-right">
                        <i class="icon-pencil7 position-left"></i> Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="Privilege" name="Privilege.Id" value="@(((Model.Privilege==null)?0:Model.Privilege.Id))" />
</div>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Employee/Privilege.js")></script>
}

