﻿
@{ ViewData["Title"] = "Empresa";
                Layout = "~/Views/Shared/Dashboard/_Layout.cshtml"; }

<body class="navbar-bottom layout-boxed sidebar-xs">
    <!-- Page container -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 ">
            <div class="panel panel-body">
                <div class="media no-margin">
                    <div class="media-body">
                        <h3 class="no-margin text-semibold" id="PriceVendor">0.00</h3>
                        <span class="text-uppercase text-size-mini text-muted">Compras del mes</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class="icon-cart5 icon-3x text-danger-400"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /members online -->

        <div class="col-lg-3 col-md-3 col-xs-12 ">

            <div class="panel panel-body">
                <div class="media no-margin">
                    <div class="media-body">
                        <h3 class="no-margin text-semibold" id="PriceSales">0.00</h3>
                        <span class="text-uppercase text-size-mini text-muted">Ventas</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class="icon-bag icon-3x text-success-400"></i>
                    </div>
                </div>
            </div>

            <div id="server-load"></div>
        </div>
        <!-- /current server load -->

        <div class="col-lg-3 col-md-3 col-xs-12 ">
            <div class="panel panel-body">
                <div class="media no-margin">
                    <div class="media-body">
                        <h3 class="no-margin text-semibold" id="GetProfits">0.00</h3>
                        <span class="text-uppercase text-size-mini text-muted">Beneficios</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class="icon-coins icon-3x text-info-400"></i>
                    </div>
                </div>
            </div>

            <div></div>
        </div>
        <!-- /today's revenue -->
        <!--<div class="col-lg-2 col-md-2 col-xs-12 ">-->
        <!-- Today's revenue -->
        <!--<div class="panel bg-danger-400">
                <div class="panel-body">


        <!-- Today's revenue -->
        <!--<div class="panel bg-danger-400">
            <div class="panel-body">

                <div id="today-revenue"></div>
            </div>-->
       
        <!-- /today's revenue -->
        <!--</div>-->

        <div class="col-lg-3 col-md-3 col-xs-12 ">
            <div class="panel panel-body">
                <div class="media no-margin">
                    <div class="media-body">
                        <h3 class="no-margin text-semibold" id="today-revenue">0.00</h3>
                        <span class="text-uppercase text-size-mini text-muted">Ingresos</span>
                    </div>

                    <div class="media-right media-middle">
                        <i class="icon-wallet icon-3x text-info-400"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /today's revenue -->

    </div>


    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Estadisticas por mes</h6>
            <div class="heading-elements">
                @*<button type="button" class="btn btn-info btn-xs heading-btn" id="btn-transform">Transform</button>*@

            </div>
        </div>

        <div class="panel-body">
            <div class="chart-container">
                <div class="chart" id="c3-transform"></div>
            </div>
        </div>
    </div>
    <!-- Pies -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title text-semibold">Productos mas vendidos del mes</h6>
                    <div class="heading-elements">
                        @*<ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>*@
                    </div>
                </div>

                <div class="panel-body">
                    <div class="chart-container">
                        <div class="chart" id="c3-chart-zooma"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title text-semibold">Ventas de vendedor por mes</h6>
                    <div class="heading-elements">
                        @*<ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                                <li><a data-action="reload"></a></li>
                                <li><a data-action="close"></a></li>
                            </ul>*@
                    </div>
                </div>

                <div class="panel-body">
                    <div class="chart-container text-center">
                        <div class="display-inline-block" id="c4-chart-zoomable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Transform charts -->
    <!--<div class="col-md-6">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title text-semibold">Ventas por sucursales</h6>
                <div class="heading-elements">-->
    @*<ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
        </ul>*@
    <!--</div>
            </div>

            <div class="panel-body">
                <div class="chart-container">
                    <div class="chart" id="c3-transforme"></div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title text-semibold">Compras de clientes Mensuales</h6>
                <div class="heading-elements">
                    @*<ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>*@
                </div>
            </div>

            <div class="panel-body">
                <div class="chart-container">
                    <div class="chart" id="c4-transforme"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- /bar chart -->
</body>


@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Chartjs/Chart_Dashboars.js")></script>
}
