﻿@model QuickSal.Web.ViewModels.Dashboard.PanelViewModel

@{ ViewData["Title"] = "Panel administrativo";
                Layout = "~/Views/Shared/Dashboard/_Layout.cshtml"; }


@foreach (var item in Model.BusinessList.Where(d => d.Estatus == true))
{
<div class="col-md-4">
    <div class="panel">
        <div class="panel-body text-center">
            <div class="icon-object border-success text-success">
                <i class="icon-office"></i>
            </div>
            <h5 class="text-semibold">@item.Name</h5>
            @*<p class="mb-15">Sigue paso a paso el registro de tu negocio</p>*@
            <a href="@Url.Action("DashboardBusinessPrincipal","Dashboard",new {BusinessId=item.Id })" class="btn bg-success-400 businessPanelId" data-id="@item.Id">Entrar</a>
        </div>
    </div>
</div>
}

<div class="col-md-4">
    <div class="panel">
        <div class="panel-body text-center">
            <div class="icon-object border-success text-success"><i class="icon-office"></i></div>
            @*<h5 class="text-semibold">Knowledge Base</h5>*@
            <p class="mb-15">Sigue paso a paso el registro de tu negocio</p>
            <a href="@Url.Action("CreateBusiness","Business")" class="btn bg-success-400">Nueva empresa</a>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('body').css({ 'background': "url(@ViewBag.UrlFormat) no-repeat", 'background-size': 'cover' });
        })
    </script>
}