﻿@model QuickSal.Web.ViewModels.Customer.Order.OrderViewModel

@{ ViewData["Title"] = "Pedidos";
    Layout = null;

    var orderHeader = Model.Orders.GroupBy(x => new
    {
        x.OrderNumber,
        x.InvoiceNumber,
        x.CustomerName,
        x.CreateDate,
        x.DocumentEstatusId,
        x.Id
    });
}

<div class="row">
    @foreach (var item in orderHeader)
    {
        <div class="col-md-4 col-xs-6">
            <div class="panel invoice-grid" data-id="@item.Key.Id">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list list-unstyled">
                                <li><span class="text-bold">Cliente: @item.Key.CustomerName</span></li>
                                <li>Factura No: @item.Key.InvoiceNumber</li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="list list-unstyled text-right">
                                <li><span class="text-bold">Orden No: @item.Key.OrderNumber</span></li>
                                <li> Creada: @item.Key.CreateDate.ToShortDateString()</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-semibold text-center">
                                        <a data-toggle="collapse" data-parent="#menu-accordion" href="@("#accordion"+item.Key.Id)" aria-expanded="false" class="collapsed">
                                            <i class="icon-list3"></i> Ver detalle
                                        </a>
                                    </h6>
                                </div>

                                <div id="@("accordion"+item.Key.Id)" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <ul class="media-list" style="margin:10px 15px 5px 15px">
                                        @{ var OrderRow = Model.Orders.Where(x => x.Id == item.Key.Id); }

                                        @foreach (var row in OrderRow)
                                        {
                                            <li class="media">
                                                <div class="media-left">
                                                    <img src="@row.ProductPicture" class="img-xs" alt="Imagen producto">
                                                </div>

                                                <div class="media-body">
                                                    @row.ProductName
                                                    <span class="media-annotation pull-right">@row.Quantity</span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group" style="width:100%">

                                @if (item.Key.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Pendiente)
                                {
                                    <button style="width:100%" type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown">
                                        <i class="icon-alarm position-left"></i> Pendiente <span class="caret"></span>
                                    </button>
                                }
                                else if (item.Key.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Proceso)
                                {
                                    <button style="width:100%" type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown">
                                        <i class="icon-sync position-left"></i> En Proceso <span class="caret"></span>
                                    </button>
                                }
                                else if (item.Key.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Cancelada)
                                {
                                    <button style="width:100%" type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown">
                                        <i class="icon-blocked position-left"></i> Cancelada <span class="caret"></span>
                                    </button>
                                }
                                else if (item.Key.DocumentEstatusId == (int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Finalizada)
                                {
                                    <button style="width:100%" type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                                        <i class="icon-checkmark position-left"></i> Compleltada <span class="caret"></span>
                                    </button>
                                }
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="status" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Proceso)"><i class="icon-sync"></i> En proceso</a></li>
                                    <li><a href="#" class="status" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Cancelada)"><i class="icon-blocked"></i> Cancelada</a></li>
                                    <li><a href="#" class="status" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Finalizada)"><i class="icon-checkmark"></i> Completada</a></li>
                                    <li><a href="#" class="status" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Pendiente)"><i class="icon-alarm"></i> Pendiente</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>