﻿@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/Dashboard/_Layout.cshtml";
}

@*<div class="navbar navbar-default navbar-xs navbar-component">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-filter">
        <p class="navbar-text">Filtrar:</p>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-sort-time-asc position-left"></i> Por Fecha <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="filterDate" data-date="1">Hoy</a></li>
                    <li><a href="#" class="filterDate" data-date="1">Ayer</a></li>
                    <li><a href="#" class="filterDate" data-date="1">Esta Semana</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-sort-amount-desc position-left"></i> Por Estado <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Todos</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="filterEstatus" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Proceso)"><i class="icon-sync"></i> En Proceso</a></li>
                    <li><a href="#" class="filterEstatus" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Cancelada)"><i class="icon-blocked"></i> Cancelada</a></li>
                    <li><a href="#" class="filterEstatus" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Finalizada)"><i class="icon-checkmark"></i> Completada</a></li>
                    <li><a href="#" class="filterEstatus" data-status="@((int)QuickSal.DataAcces.QuickSalEnum.OrderEstatus.Pendiente)"><i class="icon-alarm"></i> Pendiente</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="text-center content-group text-muted content-divider">
    <span class="pt-10 pb-10">Todos los pendidos de hoy</span>
</div>*@

<div id="dvOrders">

</div>

@section scripts{
    <script src=@Url.Content("~/Scripts/Dashboard/Orden/order.js")></script>
}