﻿@model QuickSal.Web.ViewModels.Customer.Invoice.GenericVM

@{
    Layout = null;
}

@if (Model.ListCreditNoteVM.Count() > 0)
{
    <div class="row" id="ModalPendingBalance">
        <table class="datatable display" style="width:100%" id="TablePendingBalance">
            <tbody>
                @foreach (var Debito in Model.ListCreditNoteVM)
                {
                    <tr>
                        <td>@Debito.DocumentNumber</td>
                        <td>@Debito.CreateDate.ToShortDateString()</td>
                        <td>@Debito.Total.ToString("N2")</td>
                        <td>@Debito.Id</td>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                </label>
                            </div>
                        </td>
                        <td>
                            <!--dinamic Td-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <span class="alert-info">Este cliente no posee balance pendiente</span>
    </div>
}

