﻿@model QuickSal.Web.ViewModels.Customer.Invoice.SalesPoint.InvoiceViewModel


@foreach (var InvoiceItem in Model.invoiceItems)
{
    <div class="col-xs-12">
        <div class="panel panel-default product-details">
            <div class="panel-body" data-id="@InvoiceItem.InvoiceRowId"
                 data-id-product="@InvoiceItem.ProductId"
                 data-tax="@InvoiceItem.Tax"
                 data-measure="@InvoiceItem.MeaseureAbbreviation"
                 data-price="@InvoiceItem.Price"
                 data-tax-abbreviation="@InvoiceItem.TaxAbbreviation"
                 data-warehouse="@InvoiceItem.WarehouseId">

                <div class="col-xs-4 nopadding">
                    <span class="textPD">@(InvoiceItem.MeaseureAbbreviation + " - " + InvoiceItem.ProductName)</span>
                </div>
                <div class="col-xs-1">
                    <span class="textPD">@(InvoiceItem.Price.ToString("N2"))</span>
                </div>
                <div class="col-xs-1">
                    <span class="textPD">@(InvoiceItem.TaxAbbreviation)</span>
                </div>

                <div class="col-xs-1 nopadding productNum">
                    <a href="javascript:void(0)">
                        <span class="fa-stack fa-sm decbutton" data-vivaldi-spatnav-clickable="1">
                            <i class="fa fa-square fa-stack-2x light-grey"></i><i class="fa fa-minus fa-stack-1x fa-inverse white"></i>
                        </span>
                    </a>
                    <input type="text" class="form-control itemQuantity number" value="@InvoiceItem.ItemQuantity" placeholder="0" maxlength="5">
                    <a href="javascript:void(0)">
                        <span class="fa-stack fa-sm incbutton" data-vivaldi-spatnav-clickable="1">
                            <i class="fa fa-square fa-stack-2x light-grey"></i><i class="fa fa-plus fa-stack-1x fa-inverse white"></i>
                        </span>
                    </a>
                </div>

                <div class="col-xs-3 nopadding productNum">
                    <a href="javascript:void(0)">
                        <span class="fa-stack fa-sm decbutton" data-vivaldi-spatnav-clickable="1">
                            <i class="fa fa-square fa-stack-2x light-grey"></i><i class="fa fa-minus fa-stack-1x fa-inverse white"></i>
                        </span>
                    </a>
                    <input type="text" class="form-control ItemDiscount number" value="@InvoiceItem.ItemDiscount" placeholder="0" maxlength="7">
                    <a href="javascript:void(0)">
                        <span class="fa-stack fa-sm incbutton" data-vivaldi-spatnav-clickable="1">
                            <i class="fa fa-square fa-stack-2x light-grey"></i><i class="fa fa-plus fa-stack-1x fa-inverse white"></i>
                        </span>
                    </a>
                </div>

                <div class="col-xs-2 nopadding ">
                    <div class="col-xs-6 nopadding">
                        <span class="subtotal textPD">@(((InvoiceItem.Subtotal == 0) ? InvoiceItem.Price.ToString("N2") : InvoiceItem.Subtotal.ToString("N2")))</span>
                    </div>
                    <div class="col-xs-2 nopadding pull-right">
                        <a href="javascript:void(0)" style="color:#81909a">
                            <span class="icon-trash productD">
                                <i class="fa fa-circle fa-stack-2x delete-product"></i>
                                <i class="fa fa-times fa-stack-1x fa-fw fa-inverse"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}