﻿
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="note">Nota para el pedido</label>
            <textarea name="note" id="noteOrder" rows="5" class="pa form-control kb-text"></textarea>
        </div>
    </div>
</div>