﻿<div class="row">
    <div class="col-md-12">
        <div class="font16">
            <table class="table table-bordered table-condensed" style="margin-bottom: 0;">
                <tbody>
                    <tr>
                        <td width="25%" style="border-right-color: #FFF !important;">Total Artículos</td>
                        <td width="25%" class="text-right"><span id="item_count">0</span></td>
                        <td width="25%" style="border-right-color: #FFF !important;">Total a pagar</td>
                        <td width="25%" class="text-right"><span id="twt">0</span></td>
                    </tr>
                    <tr>
                        <td style="border-right-color: #FFF !important;">Total Pagado</td>
                        <td class="text-right"><span id="total_paying">0.00</span></td>
                        <td style="border-right-color: #FFF !important;">Balance</td>
                        <td class="text-right"><span id="balance">0</span></td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group">
            <label for="amount">Monto</label>
            <input name="amount" type="text" id="amount" class="pa form-control kb-pad number">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label for="paid_by">Pagando con</label>
            <select id="paid_by" class="form-control" style="width:100%;" tabindex="-1" aria-hidden="true">
                <option value="cash">Efectivo</option>
                <option value="CC">Tarjeta de crédito</option>
                <option value="cheque">Cheque</option>
                <option value="other">Otros</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="note">Nota</label>
            <textarea name="note" id="note" class="pa form-control kb-text"></textarea>
        </div>
    </div>
</div>