﻿@model QuickSal.Web.ViewModels.Customer.Invoice.SalesPoint.InvoiceViewModel

@*@if (Model.ProductsWareHouse != null)
{
    <input type="hidden" id="SearchAjax" name="SearchAjax" value="@(((Model.ProductsWareHouse.Count()>=400)?"true":"false"))" />
   
    <div id="productList2" style="overflow: hidden; width: auto; height: 740px;">
        @foreach (var product in Model.ProductsWareHouse)
        {
            <div class="col-xs-4 item" style="display: block;">
                <a href="#" class="addPct" id="@product.Id">
                    <div class="product color05 flat-box waves-effect waves-block">
                        <h3 id="proname">@product.ProductName</h3>
                        <div class="mask">
                            <h3>@product.Price.ToString("N2")</h3>
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div class="slimScrollBar">
    
    </div>

    <div class="slimScrollRail">
      
    </div>
}*@
